@model BOTS_BL.Models.SALES_tblLeads
@{
    ViewBag.Title = "Add Lead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Business Name <br /> <input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Categry <br /> <input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Product <br /> <input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Billing partner <br /> <input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        E-Commerce integration <br /> <input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Number of outlet <br /> <input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Address <br /><input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        State <br /><input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        City <br /><input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Pincode <br /> <input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Business Name <br /><input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Categry<br /> <input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Contact type <br /><input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Met /spoke with <br /><input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Mobile no<br /> <input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Lead status <br /><input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Price quoted <br /><input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Meeting type  <br /><input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Follow up date <br /><input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Lead source <br /><input class="input100" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Lead source Name <br /><input class="input100" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        Comments <br /><input class="input100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
