@model LeadGeneration.ViewModel.LeadViewModel
@using BOTS_BL.Models;
@{
    ViewBag.Title = "Sales Count";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userDetails = (CustomerLoginDetail)Session["UserSession"];
    var roleId = userDetails.LoginType;
}

<div class="app-main__inner">
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content">
            <div class="container-fluid">
                @if (userDetails != null)
                {
                    if (userDetails.LoginType == "1" || userDetails.LoginType == "5")
                    {
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                Sales Manager Name <br /> @Html.DropDownListFor(model => model.lstSalesManager, new SelectList(Model.lstSalesManager, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlSalesManager" })
                            </div>
                        </div>
                    }
                }
                <div class="row mt-2 mb-5">
                    <div class="col-md-4 col-sm-4">
                        Date Range From <br /> <input type="text" id="txtfromdt" class="input50" />
                    </div>
                    <div class="col-md-4 col-sm-4">
                        To <br /> <input type="text" id="txttodt" class="input50" />
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <br />
                        <button type="submit" id="btnLeadSave" class="btn btn-primary pull-right" style="margin-right:10px;" onclick="return CheckValidationAndSubmit();">Search</button>
                    </div>
                </div>
                <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">

                    <div class="row mt-3" id="dvsummarytable">
                        <div class="table-responsive">
                            <table class="table" id="summarytable">
                                <thead>
                                    <tr>
                                        <th scope="col">Meeting To Conversion Ratio</th>
                                        <th scope="col">No Of Enrolled outlet to No of sale done Ratio</th>
                                        <th scope="col">Per Sale Avg price</th>
                                        <th scope="col">Octa plus to Octa xs Ratio</th>
                                        <th scope="col">Billing Partner Penetration</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">

                    <div class="row mt-3" id="dvdetailedlist">
                        <div class="table-responsive">
                            <table class="table" id="detailedlisttable">
                                <thead>
                                    <tr>
                                        <th scope="col">Sr No.</th>
                                        <th scope="col">LeadId</th>
                                        <th scope="col">Sales Manager Name</th>
                                        <th scope="col">Business Name</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Billing Partner</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Outlet</th>

                                    </tr>

                                </thead>
                                @*<tfoot>
                                    <tr>

                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th ></th>
                                        <th></th>
                                    </tr>
                                </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tablesalesData = [];
    var tablesalesDatalist = [];
    $(document).ready(function () {
        
        CheckValidationAndSubmit('0');
       
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#txtfromdt").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#txttodt").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#dvsummarytable").hide();
        $("#dvdetailedlist").hide();
        
        //CheckValidationAndSubmit('0');
    });
    function CheckValidationAndSubmit(Id) {
       
        var returnStatus = true;
        var fromdt;
        var todt;
       
        var smId = "";
        if (Id == '0') {           
            returnStatus == true;
            var date = new Date(), y = date.getFullYear(), m = date.getMonth();
             fromdt = new Date(y, m, 1);
            todt = date;          
           
        }
        else {
            if ($("#txtfromdt").val() == "") {
                $('#txtfromdt').css('border-color', 'red');
                returnStatus = false;
            }
            if ($("#txttodt").val() == "") {
                $('#txttodt').css('border-color', 'red');
                returnStatus = false;
            }
        }
        if (returnStatus == true) {
            if ($("#ddlSalesManager option:selected").text() == "Please Select") {

            }
            else {
                smId = $("#ddlSalesManager").val();
                if (smId == undefined) {
                    smId = "";
                }
            }
            if (fromdt == '' && todt == '') {
                fromdt = $("#txtfromdt").val();
                todt = $("#txttodt").val();
            }
             
            $("#divLoader").show();
           $.ajax({
            type: "POST",
            url: '@Url.Action("GetSalesCount", "Lead")',
            data: '{Fromdate: ' + JSON.stringify(fromdt) + ', ToDate:' + JSON.stringify(todt) + ', SalesManager:' + JSON.stringify(smId) +'}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
               success: function (response) {
                   if (response != null) {
                       tablesalesData.length = 0;
                       $.map(response, function (item) {
                           optionItem = {}
                           optionItem["Noofmeetings"] = item.NoOfMeeting;
                           optionItem["ratio"] = item.ratio;
                           optionItem["Noofsalesdone"] = item.NoOfSalesDone;
                           //optionItem["Noofbrand"] = item.NoOfBrand;
                           optionItem["Noofoutlet"] = item.NoOfOutlet;
                           optionItem["octaplus"] = item.octaplus;
                           optionItem["octaxs"] = item.octaxs;
                           optionItem["totalamt"] = item.TotalAmount;
                           optionItem["salesAvg"] = item.SalesAvg;
                           optionItem["noofbillingpartner"] = item.NoOfBillingpartner;

                           tablesalesData.push(optionItem);
                       });

                       tablesalesDatalist.length = 0;
                       $.map(response[0].lstSalesCountDetail, function (item) {

                           optionItem = {}
                           /*optionItem["SrNo"] = item.LeadId;*/
                           optionItem["LeadId"] = item.LeadId;
                           optionItem["SalesManager"] = item.SalesManager;
                           optionItem["BusinessName"] = item.BusinessName;
                           if (item.Product == "1") {
                               optionItem["Product"] = "Octa Plus";
                           }
                           else {
                               optionItem["Product"] = "Octa XS";
                           }
                           optionItem["BillingPartner"] = item.BillingPartner;
                           if (item.PaymentFrequency == "2") {
                               optionItem["Amount"] = item.AdvanceAmount;
                           }
                           else {
                               optionItem["Amount"] = item.AmountReceived;
                           }
                          // optionItem["Amount"] = item.Amount;
                           optionItem["OutletName"] = item.OutletName;

                           tablesalesDatalist.push(optionItem);
                       });

                       DrawTablesalesdetail();
                       DrawTableLog();
                   }

                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {

                $("#divLoader").hide();
            }
        });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            return false;
        }
    }

    function DrawTableLog() {
        var table1 = $('#summarytable').DataTable();
        table1.destroy();

        var table = $('#summarytable').DataTable({
            "data": tablesalesData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": false,
            "pageLength": 10,
            "bAutoWidth": false,
            "pagingType": "simple_numbers",

            "aoColumns": [
                {
                    "mData": function (data, type) {
                        return data.Noofmeetings + ":" + data.Noofsalesdone;
                    }
                },
                {
                    "mData": function (data, type) {
                        return data.ratio;
                    }
                },
                {
                    "mData": function (data, type) {
                        return data.Noofsalesdone + ":" + data.totalamt;
                    }
                },
                {
                    "mData": function (data, type) {
                        return data.octaplus + ":" + data.octaxs;
                    }
                },
                {
                    "mData": function (data, type) {
                        return data.noofbillingpartner;
                    }
                },
            ],
            "columnDefs": [
                {
                    "targets": 0,
                    "className": "text-center"
                },
                {
                    "targets": 1,
                    "className": "text-center"
                },
                {
                    "targets": 2,
                    "className": "text-center"
                },
                {
                    "targets": 3,
                    "className": "text-center"
                },
                {
                    "targets": 4,
                    "className": "text-center"
                },
            ],

        });
        $('#summarytable_filter').hide();

        $("#dvsummarytable").show();



    }
    function DrawTablesalesdetail() {
        var table1 = $('#detailedlisttable').DataTable();
        table1.destroy();

        var table = $('#detailedlisttable').DataTable({
            "data": tablesalesDatalist,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": false,
            "pageLength": 10,
            "bAutoWidth": false,
            "pagingType": "simple_numbers",

            "columns": [
                { data: "SrNo" },
                { data: "LeadId" },
                { data: "SalesManager" },
                { data: "BusinessName" },
                { data: "Product" },
                { data: "BillingPartner" },
                { data: "Amount" },
                { data: "OutletName" },


            ],
            "columnDefs": [{
                "render": function (data, type, full, meta) {
                    tablesalesDatalist[meta.row].id = meta.row + 1; // adds id to dataset
                    return meta.row + 1; // adds id to serial no
                },
                "targets": 0
            }],
            //"footerCallback": function (row, data, start, end, display) {
            //    //Get data here           
            //    //Do whatever you want. Example:
            //    var totalAmount = 0;
            //    for (var i = 0; i < tablesalesDatalist.length; i++) {
            //        console.log(tablesalesDatalist[i]["Amount"]);
            //        totalAmount += parseFloat(tablesalesDatalist[i]["Amount"]);
            //    }
            //    console.log(totalAmount);               
               
            //}


        });
        $('#detailedlisttable_filter').hide();
        $("#dvdetailedlist").show();

    }
</script>

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
