@model List<BOTS_BL.Models.OutletWise>
@{
    ViewBag.Title = "Outletwise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 pt-3 pl-3 pr-3 card">

        <div class="col-sm-10" style="display:flex;padding-bottom: 10px;margin-top:5px;">
            <div class="col-md-3 col-xl-3">
                <b>Txn Date Range</b><br /><br />&nbsp;&nbsp; <input type="radio" checked id="rdnBTD" name="btdornot" /> BTD &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rdnRange" name="btdornot" /> Range &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-3 col-xl-3">
                From Date <br /><input type="text" class="input50" placeholder="From Date" readonly id="dtFrom" />&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-3 col-xl-3">
                To Date <br /><input type="text" class="input50" placeholder="To Date" readonly id="dtTo" />
            </div>
            <div class="col-md-3 col-xl-3">
                <button type="button" id="btnFilter" style="margin-left:17px;margin-top:30px;" class="btn btn-primary"><b>FILTER</b></button>
            </div>
        </div>
    </div>

    <div id="dvOutletWiseData"></div>

</div>

<script>
    $(document).ready(function () {
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#dtFrom").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });
        $("#dtTo").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });
        SetFilter();
        GetData();
        $("#rdnBTD").change(function () {
            SetFilter();
        });
        $("#rdnRange").change(function () {
            SetFilter();
        });
        $("#btnFilter").click(function () {
            GetData();
        });
    });

    function SetFilter() {
        if ($("#rdnBTD").is(":checked")) {
            $('#dtFrom').prop('readonly', true);
            $('#dtTo').prop('readonly', true);
            $('#dtFrom').val('');
            $('#dtTo').val('');
        }
        if ($("#rdnRange").is(":checked")) {
            $('#dtFrom').prop('readonly', false);
            $('#dtTo').prop('readonly', false);
        }
    }

    function GetData() {
        var DateRangeFlag = 0;
        var fromDate = '';
        var toDate = '';
        $("#divLoader").show();
        if ($("#rdnRange").is(":checked")) {
            DateRangeFlag = 1;
            fromDate = $('#dtFrom').val();
            toDate = $('#dtTo').val();
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetOutletWiseResult", "Reports")',            
            data: "{'DateRangeFlag': " + DateRangeFlag + ", 'fromDate': '" + fromDate + "','toDate': '" + toDate + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#dvOutletWiseData').html(response);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $('#dvOutletWiseData').html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }

     function ExportDataExcel() {
         var DateRangeFlag = 0;
         var fromDate = '';
         var toDate = '';
         $("#divLoader").show();
         if ($("#rdnRange").is(":checked")) {
             DateRangeFlag = 1;
             fromDate = $('#dtFrom').val();
             toDate = $('#dtTo').val();
         }


        var urlLink = "@Url.Action("ExportToExcelOutletwise", "Reports")";
        urlLink = urlLink + "?DateRangeFlag=" + DateRangeFlag + "&fromDate=" + fromDate + "&toDate=" + toDate + "&ReportName=Outletwise";
        console.log(urlLink);
        window.location.href = urlLink;
        $("#divLoader").hide();

    }


</script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />