@model List<BOTS_BL.Models.OutletwiseTransaction>
@{
    ViewBag.Title = "Transactionwise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 pt-3 pl-3 pr-3 card">

        <div class="col-sm-10" style="display:flex;padding-bottom: 10px;margin-top:5px;">
            <div class="col-md-6 col-xl-6">
                <b>Txn Date Range</b><br /><br />&nbsp;&nbsp; <input type="radio" checked id="rdnMiniStatement" name="btdornot" /> Mini Statement &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rdn30Days" name="btdornot" /> Last 30 days &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="rdnRange" name="btdornot" /> Range 
            </div>
            <div class="col-md-3 col-xl-3">
                From Date <br /><input type="text" class="input50" placeholder="From Date" readonly id="dtFrom" />&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-3 col-xl-3">
                To Date <br /><input type="text" class="input50" placeholder="To Date" readonly id="dtTo" />
            </div>
        </div>
        <div class="col-sm-10" style="margin-left:15px;">
            <div class="col-md-10 col-xl-10">
                Select Outlet :  @Html.DropDownListFor(x => Model.Count, new SelectList(ViewBag.OutletList, "Value", "Text"), "All", htmlAttributes: new { @class = "input100", @id = "OutletList" })

            </div>
        </div>
        <div class="col-sm-10" style="margin-bottom:20px;margin-top:20px;margin-left:15px;">
            <div class="col-md-10 col-xl-10">
                <input type="radio" id="chkAll" name="EnrollmentParam" style="margin-right:5px;height:15px;width:15px;" /> All &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="chkEnrollmentData" name="EnrollmentParam" style="margin-right:5px;height:15px;width:15px;" /> Only Enrollment data &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="chkEarn" name="EnrollmentParam" style="margin-right:5px;height:15px;width:15px;" /> Earn &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" id="chkRedeem" name="EnrollmentParam" style="margin-right:5px;height:15px;width:15px;" /> Redeem &nbsp;&nbsp;&nbsp;&nbsp;
                <button id="btnFilter" class="btn btn-primary login-btn" style="margin-left:40px;">Filter</button>
            </div>
        </div>
    </div>

    <div id="dvOutletWiseData">
        <div class="row mb-3 card">
            <div class="container-fluid pt-3 pl-3 pr-3">
                <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col search-container">
                            <i class="fas fa-search"></i>
                            <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                        </div>

                        <div class="col text-right">
                            <ul class="list-inline progress-list mt-2">
                                <li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                            <i class="fas fa-file-export"></i> Export
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3" id="dvActivityData">

                        <div class="table-responsive">
                            <table class="table" id="activityTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Outlet</th>
                                        <th scope="col">Mobile Number</th>
                                        <th scope="col">Member Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Invoice No</th>
                                        <th scope="col">Invoice Amount</th>
                                        <th scope="col">Txn Type</th>
                                        <th scope="col">Points Earned</th>
                                        <th scope="col">Points Burned</th>
                                        <th scope="col">Txn Datetime</th>
                                        <th scope="col">Txn Update Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script>
    var tableData = [];
    $("#OutletList").val('@ViewBag.OutletId');

    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $("#dtFrom").datepicker({
        dateFormat: "yy-mm-dd",
        maxDate: today,
    });
    $("#dtTo").datepicker({
        dateFormat: "yy-mm-dd",
        maxDate: today,
    });
    $(document).ready(function () {
        SetFilter();
        GetData();
        $("#rdnMiniStatement").change(function () {
            SetFilter();
        });
        $("#rdn30Days").change(function () {
            SetFilter();
        });
        $("#rdnRange").change(function () {
            SetFilter();
        });
        $("#btnFilter").click(function () {
            GetData();
        });
    });
    function SetFilter() {
        if ($("#rdnMiniStatement").is(":checked")) {
            $('#dtFrom').prop('readonly', true);
            $('#dtTo').prop('readonly', true);
            $('#dtFrom').val('');
            $('#dtTo').val('');
        }
        if ($("#rdn30Days").is(":checked")) {
            $('#dtFrom').prop('readonly', true);
            $('#dtTo').prop('readonly', true);
            $('#dtFrom').val('');
            $('#dtTo').val('');
        }

        if ($("#rdnRange").is(":checked")) {
            $('#dtFrom').prop('readonly', false);
            $('#dtTo').prop('readonly', false);
        }
    }
    function GetData() {
        var DateRangeFlag = "0";
        var fromDate = '';
        var toDate = '';
        $("#divLoader").show();
        if ($("#rdn30Days").is(":checked")) {
            DateRangeFlag = "1";
            fromDate = $('#dtFrom').val();
            toDate = $('#dtTo').val();
        }
        if ($("#rdnRange").is(":checked")) {
            DateRangeFlag = "2";
            fromDate = $('#dtFrom').val();
            toDate = $('#dtTo').val();
        }
        var outletId = "";
        if ($("#OutletList").val() != "") {
            outletId = $("#OutletList").val();
        }
        var EnrolmentDataFlag = 4;
        if ($("#chkEnrollmentData").is(":checked")) {
            EnrolmentDataFlag = 1;
        }
        if ($("#chkEarn").is(":checked")) {
            EnrolmentDataFlag = 2;
        }
        if ($("#chkRedeem").is(":checked")) {
            EnrolmentDataFlag = 3;
        }
        if ($("#chkAll").is(":checked")) {
            EnrolmentDataFlag = 4;
        }
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetOutletWiseTransactionResult", "Reports")',
            //url: "../Reports/GetOutletWiseTransactionResult",
            data: "{'DateRangeFlag': " + DateRangeFlag + ", 'fromDate': '" + fromDate + "','toDate': '" + toDate + "','outletId': '" + outletId + "','EnrolmentDataFlag': " + EnrolmentDataFlag + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                tableData.length = 0;
                //tableData = [];
                $.map(response, function (item) {
                    optionItem = {}
                    optionItem["OutletName"] = item.OutletName;
                    optionItem["MaskedMobileNo"] = item.MaskedMobileNo;
                    optionItem["MobileNo"] = item.MobileNo;
                    optionItem["MemberName"] = item.MemberName;
                    optionItem["Type"] = item.Type;
                    optionItem["InvoiceNo"] = item.InvoiceNo;
                    optionItem["InvoiceAmt"] = item.InvoiceAmt;
                    optionItem["TxnType"] = item.TxnType;
                    optionItem["PointsEarned"] = item.PointsEarned;
                    optionItem["PointsBurned"] = item.PointsBurned;
                    optionItem["TxnDatetime"] = item.TxnDatetime;
                    optionItem["TxnUpdateDate"] = item.TxnUpdateDate;
                    tableData.push(optionItem);
                });
                DrawTable();
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                //$('#dvOutletWiseData').html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }

    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();

        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
            "columns": [
                { data: "OutletName" },
                //{ data: "MaskedMobileNo" },
                {
                    "mData": "MaskedMobileNo",
                    "mRender": function (data, type, row) {
                        var MobileNo = row.MobileNo;
                        return '<span class="login" title=' + MobileNo + '>' + data + '</span>';
                    }
                },
                { data: "MemberName" },
                { data: "Type" },
                { data: "InvoiceNo" },
                {
                    "mData": "InvoiceAmt",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                { data: "TxnType" },
                {
                    "mData": "PointsEarned",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                {
                    "mData": "PointsBurned",
                    "mRender": function (data, type, row) {
                        return '<span>' + addComma(data) + '</span>';
                    }
                },
                { data: "TxnDatetime" },
                { data: "TxnUpdateDate" }
            ],
            "columnDefs": [
                {
                    "targets": 5,
                    "className": "text-right"
                },
                {
                    "targets": 7,
                    "className": "text-right"
                },
                {
                    "targets": 8,
                    "className": "text-right",
                }],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-9, -10, -11]
                }
            ]
        });
        $('#activityTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });
    }

    function ExportDataExcel() {
        var DateRangeFlag = "0";
        var fromDate = '';
        var toDate = '';
        $("#divLoader").show();
        if ($("#rdn30Days").is(":checked")) {
            DateRangeFlag = "1";
            fromDate = $('#dtFrom').val();
            toDate = $('#dtTo').val();
        }
        if ($("#rdnRange").is(":checked")) {
            DateRangeFlag = "2";
            fromDate = $('#dtFrom').val();
            toDate = $('#dtTo').val();
        }
        var outletId = "";
        if ($("#OutletList").val() != "") {
            outletId = $("#OutletList").val();
        }
        var EnrolmentDataFlag = 4;
        if ($("#chkEnrollmentData").is(":checked")) {
            EnrolmentDataFlag = 1;
        }
        if ($("#chkEarn").is(":checked")) {
            EnrolmentDataFlag = 2;
        }
        if ($("#chkRedeem").is(":checked")) {
            EnrolmentDataFlag = 3;
        }

        var urlLink = "@Url.Action("ExportToExcelTransactionwise", "Reports")";
        urlLink = urlLink + "?DateRangeFlag=" + DateRangeFlag + "&fromDate=" + fromDate + "&toDate=" + toDate + "&outletId=" + outletId + "&EnrolmentDataFlag=" + EnrolmentDataFlag + "&ReportName=Transactionwise";
        console.log(urlLink);
        window.location.href = urlLink;
        $("#divLoader").hide();

    }

</script>
<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
