@model WebApp.ViewModel.ProgrammeViewModel

<div class="row mb-3 card">
    <div class="container-fluid pt-3 pl-3 pr-3">
        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
            <div class="row">
                <div class="col search-container">
                    <i class="fas fa-search"></i>
                    <input class="input100" type="text" id="txtSearch" placeholder="Search Member..." />
                </div>
            </div>
            <div class="row mt-3" id="dvActivityData">
                <div class="col text-right" id="dvexcel">
                    <ul class="list-inline progress-list mt-2">
                        <li class="list-inline-item">
                            <button class="btn btn-primary login-btn" onclick='ExportDataExcel();' type="button" id="btnExport">
                                <i class="fas fa-file-export"></i> Export
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table" id="slabTable">
                        <thead>
                            <tr>
                                <th scope="col">Mobile Number</th>
                                <th scope="col">Member Name</th>
                                <th scope="col">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.lstMember != null)
                            {
                                if (Model.lstMember.Count > 0)
                                {

                                    foreach (var member in Model.lstMember)
                                    {
                                        <tr>
                                            <td>@member.MobileNo</td>
                                            <td>@member.Name</td>
                                            <td>@member.Tier</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10" align="center">No Learning Available</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10">No Learning Available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var table = $('#slabTable').DataTable({
            "bAutoWidth": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 25,
            "pagingType": "simple_numbers",
        });
        $('#slabTable_filter').hide();

        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#slabTable').DataTable();
            table.draw();
        });
    });
</script>
                
<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>               
