
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row" style="margin-top : 20px; padding-bottom : 20px">
        <div class="col-sm-4">
            <b>Cancel Txn</b>
        </div>
    </div>

    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content col-md-12 col-sm-12 row mb-3">
            <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                Enter Mobile No
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="txtMobileNo" type="text" onkeypress="phoneno()" class="input50" />
            </div>
            <div class="col-md-2 col-sm-2">
                <button type="button" id="btnSearchCustomer" class="btn btn-primary" onclick="SearchCustomer();" style="margin-top:10px;">Search</button>
            </div>
        </div>
    </div>

    <div class="mb-3 card col-md-12 col-sm-12" style="padding-top:20px; display:none;" id="dvCustomerDetails">
        <div class="col-md-12 col-sm-12 row">
            <div class="col-md-4 col-sm-4" style="margin-top:10px;">Mobile No : <span id="spnMobileNo" style="font-weight:bold;"></span></div>
            <div class="col-md-4 col-sm-4" style="margin-top:10px;">Customer Name : <span id="spnCustName" style="font-weight:bold;"></span></div>
        </div>
        <div class="col-md-12 col-sm-12 row" style="padding-bottom:20px;">
            <div class="col-md-4 col-sm-4" style="margin-top:10px;">Loyalty Card No : <span id="spnCardNo" style="font-weight:bold;"></span></div>
            <div class="col-md-4 col-sm-4" style="margin-top:10px;">Txn Count : <span id="spnTxnCount" style="font-weight:bold;"></span></div>
        </div>
    </div>

    <div class="mb-3 card col-md-12 col-sm-12" style="padding-top:20px; display:none;" id="Tabl">
        <div class="table-responsive">
            <table class="table" id="InstanceTable">
                <thead>
                    <tr>
                        <th scope="col" style="text-align:center;">InvoiceNo</th>
                        <th scope="col" style="text-align:center;">Date</th>
                        <th scope="col" style="text-align:center;">Type</th>
                        <th scope="col" style="text-align:center;">InvoiceAmt</th>
                        <th scope="col" style="text-align:center;">Points</th>
                        <th scope="col" style="text-align:center;">Delete Transaction</th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                </tbody>
            </table>
        </div>
    </div>

        @*<div class="row" style="overflow-x: auto; padding-right: 20px; margin-top: 10px; margin-left: 60px; display: none;" id="Tabl">
            <table class="table" id="InstanceTable" border="1" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <th>InvoiceNo</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>InvoiceAmt</th>
                        <th>Points</th>
                        <th>Delete Transaction</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>*@

    </div>
<script>
    function phoneno() {
        $('#txtMobileNo').keypress(function (e) {
            var a = [];
            var k = e.which;

            for (i = 48; i < 58; i++)
                a.push(i);

            if (!(a.indexOf(k) >= 0))
                e.preventDefault();
        });
    }
    function SearchCustomer() {

        if ($("#txtMobileNo").val() == "") {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Please enter Mobile number to search",
                buttonText: "Okay"
            }).then(() => {
                $("#txtMobileNo").focus();
            })
        }
        else {
            //alert($("#txtMobileNo").val());

            $("#divLoader").show();
            var FilterData = [];
            item = {};
            item["MobileNo"] = $("#txtMobileNo").val();
            FilterData.push(item);
            var data = JSON.stringify(FilterData);


            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTxnDetails", "Home")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.GTDResponse != null) {
                        if (response.GTDResponse.ResponseCode == "00") {
                            $("#spnMobileNo").text(response.GTDDataobj.Mobileno);
                            $("#spnCustName").text(response.GTDDataobj.CustomerName);
                            $("#spnCardNo").text(response.GTDDataobj.CardNo);
                            $("#spnTxnCount").text(response.GTDDataobj.TxnCount);
                            //$("#spnEnrollOutlet").text(response.MDRData.EnrolledOutlet);
                            //$("#spnEnrollOn").text(response.MDRData.EnrolledOn);

                            $("#dvCustomerDetails").show();

                            $("#Tabl").show();
                            tableData = [];

                            $.map(response.LstGTDTxnData, function (item) {
                                optionItem = {}

                                optionItem["InvoiceNo"] = item.Invoiceno;
                                optionItem["Date"] = item.Date;
                                optionItem["Type"] = item.Type;
                                optionItem["InvoiceAmt"] = item.InvoiceAmt;
                                optionItem["Points"] = item.Points;

                                tableData.push(optionItem);
                            });

                            DrawTable();
                            $("#divLoader").hide();
                        }
                        else {
                            if (response.GTDResponse.ResponseCode == "06") {
                                cuteAlert({
                                    type: "question",
                                    title: "Are you sure?",
                                    message: "This number is not available, Do you want to enroll this customer in Search Customer Panel",
                                    confirmText: "Okay",
                                    cancelText: "Cancel"
                                }).then((e) => {
                                    if (e == ("confirm")) {
                                        var urlLink = "@Url.Action("Index", "Home")";
                                        window.location.href = urlLink;
                                    }
                                })
                            }
                            else {
                                $("#dvCustomerDetails").hide();
                                $("#Tabl").hide();
                                cuteAlert({
                                    type: "error",
                                    title: "ResponseCode" + response.GTDResponse.ResponseCode,
                                    message: "Response Message" + response.GTDResponse.ResponseMessage,
                                    buttonText: "Okay"
                                })
                            }

                        }
                    }
                    else {
                        
                        cuteAlert({
                            type: "error",
                            title: "Oops",
                            message: "Bots Return NULL value",
                            buttonText: "Okay"
                        })
                    }

                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.responseText);
                    $("#divLoader").hide();
                }
            });
        }
    }

    function DrawTable() {

        var table1 = $('#InstanceTable').DataTable();
        table1.destroy();

        var table = $('#InstanceTable').DataTable({
            "aaSorting": [[0, "asc"]],
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [

                { data: "InvoiceNo" },
                { data: "Date" },
                { data: "Type" },
                { data: "InvoiceAmt" },
                { data: "Points" },
                {

                    "mData": "InvoiceNo",
                    "mRender": function (data, type, row) {
                        return '<a href="#" onclick="CancelTxn(\'' + data + '\')" class="login" title="Edit"><img src ="../Content/assets/images/delete.png" /></a>';
                        //return '<button href="#"' + 'id="' + data + '">Edit</button>';
                    }
                }


            ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: []
                }
            ]

        });

        var table = $('#InstanceTable').DataTable();
        table.draw();

    }

    function CancelTxn(InvoiceNo) {
        /*var Invno = InvoiceNo.val();*/
        if (InvoiceNo == null) {
            alert("Invoice no is Empty")
        }
        else {
              cuteAlert({
                                type: "question",
                                title: "Are you sure?",
                                message: "Do you want to delete this Txn ?",
                                confirmText: "Okay",
                                cancelText: "Cancel"
                       }).then((e) => {
                           if (e == ("confirm")) {
                               CancelConfirm(InvoiceNo);
                           }
                           @*else {
                               var urlLink = "@Url.Action("Index", "Home")";
                               window.location.href = urlLink;
                           }*@
                         })
        }
    }
    function CancelConfirm(InvoiceNo) {
            $("#divLoader").show();

            var FilterData = [];
            item = {};
            item["InvoiceNo"] = InvoiceNo;
            item["MobileNo"] = $("#txtMobileNo").val();
            FilterData.push(item);
            var data = JSON.stringify(FilterData);

            $.ajax({
                type: "POST",
                url: '@Url.Action("CancelTxnDetails", "Home")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response != null) {

                        if (response.Cancelresponse.ResponseCode == "00") {

                            cuteAlert({
                                type: "success",
                                title: "Invoice Cancelled Successfully",
                                message: " Poits Removed" + response.CancelTxn.PointsDebited + " Avail Points" + response.CancelTxn.AvailablePoints + " Points Earned" + response.CancelTxn.PointsCredited,
                                buttonText: "Okay"
                            }).then(() => {
                                SearchCustomer();
                            })
                        }
                        else {
                            cuteAlert({
                                type: "error",
                                title: "Response Code" + response.Cancelresponse.ResponseCode,
                                message: response.Cancelresponse.ResponseMessage,
                                buttonText: "Okay"
                            })
                        }
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "OOPS...",
                            message: "Please enter Mobile number to search",
                            buttonText: "Okay"
                        })
                    }

                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    $("#dvRenewalData").html(response.responseText);
                    $("#divLoader").hide();
                }
            });
        }


</script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
