@{
    ViewBag.Title = "Home Page";
}

<div class="app-main__inner">
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content col-md-12 col-sm-12 row mb-3">
            <div class="col-md-2 col-sm-2" style="margin-top:10px;">
                Enter Mobile No
            </div>
            <div class="col-md-4 col-sm-4">
                <input id="txtMobileNo" type="number" class="input100" />
            </div>
            <div class="col-md-2 col-sm-2">
                <button type="button" id="btnSearchCustomer" class="btn btn-primary" onclick="SearchCustomer();" style="margin-top:10px;">Search</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SearchCustomer() {
        if ($("#txtMobileNo").val() == "") {
            cuteAlert({
                type: "error",
                title: "OOPS...",
                message: "Please enter Mobile number to search",
                buttonText: "Okay"
            }).then(() => {
                $("#txtMobileNo").focus();
            })
        }
        else {
            $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCustomerDetails", "Home")',
            data: '{MobileNo: ' + JSON.stringify($("#txtMobileNo").val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvRenewalData").html(response);
                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvRenewalData").html(response.responseText);
                $("#divLoader").hide();
            }
        });
        }
    }
</script>