
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InquiryDataCount</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3 col-xl-3" style="margin-left: 18px;">
            <h1>Count      <span>@((ViewBag.Count))</span></h1>
        </div>
        
    </div>
</body>
</html>
