@model List<BOTS_BL.Models.CommonDB.CityDetails>
@{
    ViewBag.Title = "City Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                <h4><b>City Master</b></h4>
            </div>
            <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                <div class="col-md-8 col-lg-8 mb-5" id="divadd" style="display:none; border:1px solid grey; border-radius:10px;">
                    <div class="mb-4">
                        <h6><b>Add City</b></h6>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-2 mb-4">
                        City Name  <input class="input100" type="text" id="txtcityNm" />
                        <button class="btn btn-primary login-btn ml-5 mr-2" type="button" id="btnSave">
                            Save
                        </button>
                        <button class="btn btn-primary login-btn" type="button" id="btnCancle">
                            Cancel
                        </button>                         
                    </div>
                </div>


                <div class="row">
                    <div class="col search-container">
                        <i class="fas fa-search"></i>
                        <input class="input100" type="text" id="txtSearch" placeholder="Search activity..." />
                    </div>
                    <div style="text-align:right;" class="pr-2">
                        <button class="btn btn-primary login-btn" type="button" id="btnAdd">
                            ADD
                        </button>

                    </div>
                </div>

                <div class="row mt-3" id="dvActivityData">
                    <div class="table-responsive">
                        <table class="table" id="groupListTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:left;">City Name</th>
                                    <th scope="col" style="text-align:left;">Created By</th>
                                    <th scope="col" style="text-align:left;">Created On</th>
                                    <th scope="col" style="text-align:left;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {

                                            <tr>
                                                <td style="text-align:left;">@item.CityName</td>
                                                <td style="text-align:left;">@item.UserName</td>
                                                <td style="text-align:left;">@item.CreatedDate</td>
                                                <td style="text-align:left; width:100px;">
                                                    <a href="" class="login" title="Edit"><img src="~/Content/assets/images/shape_editUser.png" /></a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#btnAdd').on("click", function () {
        $("#divadd").show(1000);
      //  $("#divadd").hide();
    });
    $('#btnCancle').on("click", function () {
        $("#divadd").hide(1000);
    });
    $('#btnSave').on("click", function () {

        if ($('#txtcityNm').val() == "") {
            toastr.error('Please enter City Name');
            $('#txtcityNm').focus();
            return false;
        }


        if (confirm("Are you sure? You want to Add City")) {
            var CityData = [];
            item = {}
            item["cityNm"] = $("#txtcityNm").val();
            CityData.push(item);
            var data = JSON.stringify(CityData);
            console.log(data)
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddCity", "CustomerMaster")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.ResponseCode == "00") {
                        toastr.success(result.ResponseMessage);
                        $("#divLoader").hide();
                        $("#txtcityNm").val("");

                    }
                    else {
                        toastr.error(result.ResponseMessage);
                        $("#divLoader").hide();
                    }
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Data Updated Successfully");
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
       // }
    }
    });
</script>

