################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/CustomerDocuments
*/bin/Debug
*/bin/Release
*/obj/Debug
*/obj/Release
*.suo
*.config
*/AudioPalace/obj/Debug/
*/BOTSNEW/v17
*/BOTS/FileContentIndex
*/BOTS/v17
*.json
*/bin
*/obj/Debug
*.cache
*.csproj
*/BotsMobileAPI/obj/Debug
*/Web.config
*/WebApp/bin
*/.vs
*.dll
/BOTS_BL/bin/Debug/BOTS_BL.dll
/BOTS_BL/bin/Debug/BOTS_BL.pdb
/BOTS_BL/obj/Debug/BOTS_BL.dll
/BOTS_BL/obj/Debug/BOTS_BL.pdb
/BOTS_BL/bin/Debug/BOTS_BL.dll
/.vs/ProjectEvaluation
/.vs/BOTS/DesignTimeBuild/.dtbcache.v2
/WebApp/bin/BOTS_BL.dll
/WebApp/bin/BOTS_BL.pdb
/WebApp/bin/WebApp.dll
/WebApp/bin/WebApp.pdb
/WebApp/obj/Debug/WebApp.dll
/WebApp/obj/Debug/WebApp.pdb
/.vs/BOTS/DesignTimeBuild/.dtbcache.v2
/WebApp/bin/BOTS_BL.dll
/WebApp/bin/BOTS_BL.pdb
/WebApp/bin/WebApp.dll
/WebApp/bin/WebApp.pdb
/WebApp/obj/Debug/WebApp.dll
/WebApp/obj/Debug/WebApp.pdb
*/.vs
.wsuo
