################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/CustomerDocuments
/DataUpload/App_Start/BundleConfig.cs
/DataUpload/App_Start/FilterConfig.cs
/DataUpload/App_Start/JsonDotNetValueProviderFactory.cs
/DataUpload/App_Start/RouteConfig.cs
/DataUpload/bin
/DataUpload/Content
/DataUpload
/MelcomDataUpload
/RatnaEnterprisesDataUpload
/packages
/obj/Debug
/Medration/bin
/AudioPalace/bin
*/.vs
/AudioPalace/obj/Debug
/AudioPalace/obj/Release
/BOTSBL/obj/Debug/netstandard2.0
/BOTSBL/obj/Release/netstandard2.0/BOTSBL.GeneratedMSBuildEditorConfig.editorconfig
/BotsMobileAPI/bin
/BotsMobileAPI/obj/Debug
/BotsMobileAPI/obj/Release/BotsMobileAPI.csproj.AssemblyReference.cache
/BotsMobileAPI/obj/Release/build.force
/BOTS_BL/bin/Debug
/BOTS_BL/bin/Release
/BOTS_BL/obj/Debug
/BOTS_BL/obj/Release
/BusinessLoyaltyWebPage/bin
/BusinessLoyaltyWebPage/obj/Debug
/BusinessLoyaltyWebPage/obj/Release
/Chitale/bin
/Chitale/obj/Debug
/Chitale/obj/Release
/DLC/bin
/DLC/obj/Release
/EReceipt/obj/Release
/Exhibition/obj/Release/Package/PackageTmp/bin
/Exhibition/Properties/PublishProfiles
/Feedback/bin
/Feedback/obj/Release
/GinesysRedeemption/bin
/GinesysRedeemption/obj/Release
/LeadGeneration/bin
/LeadGeneration/obj/Release
/Medration/obj/Release
/MoolchandRedemption/obj/Release
/NPC/obj/Debug
/NPC/obj/Release
/NPC/bin/roslyn
/NPC/bin
/OTPPage/bin
/OTPPage/Content
/OTPPage/obj/Debug
/OTPPage/obj/Release/Package/PackageTmp/bin/roslyn
/OTPPage/obj/Release/Package/PackageTmp/bin
/OTPPage/Properties/PublishProfiles
/OTPPage/obj/Release/_WPPLastBuildInfo.txt
/OTPPage/obj/Release/OTPPage.pdb
/OTPPage/obj/Release/OTPPage.dll
/OTPPage/obj/Release/OTPPage.csproj.FileListAbsolute.txt
/OTPPage/obj/Release/OTPPage.csproj.CoreCompileInputs.cache
/OTPPage/obj/Release/OTPPage.csproj.CopyComplete
/OTPPage/obj/Release/OTPPage.csproj.AssemblyReference.cache
/OTPPage/obj/Release/build.force
/OTPPage/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/RetailerApp/bin
/RetailerApp/obj/Release/Package/PackageTmp/bin/roslyn
/RetailerApp/obj/Release/Package/PackageTmp/bin
/RetailerApp/obj/Release/_WPPLastBuildInfo.txt
/RetailerApp/obj/Release/RetailerApp.pdb
/RetailerApp/obj/Release/RetailerApp.dll
/RetailerApp/obj/Release/RetailerApp.csproj.FileListAbsolute.txt
/RetailerApp/obj/Release/RetailerApp.csproj.CoreCompileInputs.cache
/RetailerApp/obj/Release/RetailerApp.csproj.CopyComplete
/RetailerApp/obj/Release/RetailerApp.csproj.AssemblyReference.cache
/RetailerApp/Properties/PublishProfiles/FolderProfile1.pubxml.user
/RetailerApp/Properties/PublishProfiles/FolderProfile1.pubxml
/RetailerApp/Properties/PublishProfiles/FolderProfile.pubxml.user
/RetailerApp/Properties/PublishProfiles/FolderProfile.pubxml
/VenusCompetitionLink/bin/AWSSDK.S3.xml
/VenusCompetitionLink/bin/AWSSDK.S3.pdb
/VenusCompetitionLink/bin/AWSSDK.S3.dll
/VenusCompetitionLink/bin/AWSSDK.Core.dll
/VenusCompetitionLink/obj/Release/VenusCompetitionLink.csproj.AssemblyReference.cache
/VenusCompetitionLink/obj/Release/build.force
/VenusCompetitionLink/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/WebApp/bin
/WebApp/obj/Debug
/WebApp/obj/Release/Package/PackageTmp
/WebApp/Properties/PublishProfiles
/WebApp/obj/Release
/.vs/BOTSNewPull/v16/.suo
/Exhibition/bin
/Exhibition/obj/Release/build.force
/OTPPage/obj/Release
/RetailerApp/Content/Files
/RetailerApp/obj/Release
/WebApp/DiscussionFileUpload
/WebApp/DocLibDownload
/WebApp/Temp
/WebApp/Views/OtherReports
/WebApp/DiscussionFileUploadAdavadkar.jpeg
/WebApp/DiscussionFileUploadTest2023.jpg
/OTPPage/Scripts/cute-alert-master
/OTPPage/Scripts
/WebApp/Scripts/moment-with-locales.js
/WebApp/Scripts/moment-with-locales.min.js
/WebApp/Scripts/moment-with-locales.min.js.map
/WebApp/Scripts/moment.min.js.map
/BOTS_BL/Models/IndividualDBModels/Model1.cs
/BOTS_BL/Models/IndividualDBModels/Model2.cs
/BOTS_BL/Models/Model1.cs
/BOTS_BL/Models/tblOutletMaster.cs
/Exhibition/obj/Release/Package/PackageTmp/Views/Inquiry/InquiryDataCount.cshtml
