@model WebApp.ViewModel.OnBoardingSalesViewModel

<div class="row" style="margin-top:20px; margin-left:10px;">
    <h6><b> Bulk Upload Count -</b></h6> &nbsp; &nbsp; <b>@Model.BulkUploadCount</b>
</div>

