@model WebApp.ViewModel.OnBoardingSalesViewModel
<div style="margin-top:20px;">

    <input type="hidden" id="hdnDLCLinkConfigId" />
    <div style="float:left;" class="col-md-6 col-lg-6">
        <div style="margin-left: 20px; margin-top: 20px;">
            Profile Update Points <br /> <input type="text" id="txtProfileUpdatePoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referral Points	 <br /> <input type="text" id="txtReferralPoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referred Points	 <br /> <input type="text" id="txtReferredPoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            To the referral (SMS) <br /> <textarea id="txtSMSToTheReferral" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSEnrollmentLink"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Reminder 1 for points usage (SMS) <input type="number" id="txtSMSRem1Days" class="input10" /> days <br /> <textarea id="txtSMSReminderForPointsUsage1" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSReminderForPointsUsage1"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Reminder 2 for points usage (SMS) <input type="number" id="txtSMSRem2Days" class="input10" /> days <br /> <textarea id="txtSMSReminderForPointsUsage2" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSReminderForPointsUsage2"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referred success on referral txn (SMS) <br /> <textarea id="txtSMSReferredSuccessOnReferralTxn" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSReferredSuccessOnReferralTxn"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            DLC OTP (SMS) <br /> <textarea id="txtSMSDLCOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSDLCOtp"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift Points OTP (SMS) <br /> <textarea id="txtSMSGiftPtOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSGiftPtOtp"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift Debit  Points OTP (SMS) <br /> <textarea id="txtSMSGiftPtDebitOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSGiftPtDebitOtp"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift  Credit Points OTP  (SMS) <br /> <textarea id="txtSMSGiftPtCreditOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSGiftPtCreditOtp"></span>
        </div>
    </div>
    @if(Model.IsWA)
    {
          <div style="float:left;" class="col-md-6 col-lg-6">
        <div style="margin-left: 20px; margin-top: 20px;">
            Validity of Referral points <br /> <input type="text" id="txtValidityOfReferralPoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referral reminder (days before expiry)	 <br /> <input type="text" id="txtReferralReminder" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            To the referral (WA) <br /> <textarea id="txtWAToTheReferral" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Reminder 1 for points usage (WA) <input type="number" id="txtWARem1Days" class="input10" /> days <br /> <textarea id="txtWAReminderForPointsUsage1" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Reminder 2 for points usage (WA) <input type="number" id="txtWARem2Days" class="input10" /> days <br /> <textarea id="txtWAReminderForPointsUsage2" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referred success on referral txn (WA) <br /> <textarea id="txtWAReferredSuccessOnReferralTxn" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            DLC OTP (WA) <br /> <textarea id="txtWADlcOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift Points OTP (WA) <br /> <textarea id="txtWAGiftPtOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift  Debit Points OTP (WA) <br /> <textarea id="txtWAGiftPtDebitOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift  Credit Points OTP (WA) <br /> <textarea id="txtWAGiftPtCreditOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
    </div>

    }
</div>
@*<div class="row">*@
    <!--<div class="container-fluid pt-3 pl-3 pr-3 pb-5">-->
    @*col-md-12 col-lg-12 row pull-right*@
    @*<button type="button" id="btnsubmitToDLT" class="btn btn-primary pull-right" style="margin-right: 10px; margin-bottom: 20px; display:none">Submit For DLT</button>*@
    <div>
    <button type="button" id="btnDLCLinkSave" class="btn btn-primary pull-right" style="margin-right: 10px; margin-bottom: 20px;">Save</button>
    </div>

    <!--</div>-->
@*</div>*@
    <script>
    $(document).ready(function () {
        $("#btnsubmitToDLT").on("click", function () {
            SendDLCToDLT();
        });
        $("#btnDLCLinkSave").on("click", function () {
            SaveDLCLinkConfig();
        });
        LoadExistingDLCLinkData();
        RemoveRequiredBorderDLCLink();
    });

    function LoadExistingDLCLinkData() {
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDLCLinkData", "CustomerOnBoarding")',
                data: '{groupId: ' + JSON.stringify($('#hdnGroupID').val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    LoadDLCControls(result);
                    $("#divLoader").hide();

                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }

    function LoadDLCControls(data) {
        console.log(data)
        $("#hdnDLCLinkConfigId").val(data.Id);
        $('#txtProfileUpdatePoints').val(data.ProfileUpdatePoints);
        $('#txtReferralPoints').val(data.ReferralPoints);
        $('#txtReferredPoints').val(data.ReferredPoints);
        $('#txtValidityOfReferralPoints').val(data.ValidityOfReferralPoints);
        $('#txtReferralReminder').val(data.ReferralReminder);
        $('#txtSMSToTheReferral').val(data.ToTheReferralSMSScript);

        if (data.DLTStatus1 != null && data.DLTStatus1 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus2 != null && data.DLTStatus2 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus3 != null && data.DLTStatus3 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus4 != null && data.DLTStatus4 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus5 != null && data.DLTStatus5 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus6 != null && data.DLTStatus6 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus7 != null && data.DLTStatus7 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus8 != null && data.DLTStatus8 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }

        if (data.DLTStatus1 == "Rejected") {
            $("#spnSMSEnrollmentLink").html(data.DLTStatus1 + "<br/>  Reason - " + data.RejectReason1);
        }
        else {
            $('#spnSMSEnrollmentLink').html(data.DLTStatus1);
        }
        if (data.DLTStatus2 == "Rejected") {
            $("#spnSMSReminderForPointsUsage1").html(data.DLTStatus2 + "<br/>  Reason - " + data.RejectReason2);
        }
        else {
            $('#spnSMSReminderForPointsUsage1').html(data.DLTStatus2);
        }
        if (data.DLTStatus8 == "Rejected") {
            $("#spnSMSReminderForPointsUsage2").html(data.DLTStatus8 + "<br/>  Reason - " + data.RejectReason8);
        }
        else {
            $('#spnSMSReminderForPointsUsage2').html(data.DLTStatus8);
        }

        if (data.DLTStatus3 == "Rejected") {
            $("#spnSMSReferredSuccessOnReferralTxn").html(data.DLTStatus3 + "<br/>  Reason - " + data.RejectReason3);
        }
        else {
            $('#spnSMSReferredSuccessOnReferralTxn').html(data.DLTStatus3);
        }
        if (data.DLTStatus4 == "Rejected") {
            $("#spnSMSDLCOtp").html(data.DLTStatus4 + "<br/>  Reason - " + data.RejectReason4);
        }
        else {
            $('#spnSMSDLCOtp').html(data.DLTStatus4);
        }
        if (data.DLTStatus5 == "Rejected") {
            $("#spnSMSGiftPtOtp").html(data.DLTStatus5 + "<br/>  Reason - " + data.RejectReason5);
        }
        else {
            $('#spnSMSGiftPtOtp').html(data.DLTStatus5);
        }
        if (data.DLTStatus6 == "Rejected") {
            $("#spnSMSGiftPtDebitOtp").html(data.DLTStatus6 + "<br/>  Reason - " + data.RejectReason6);
        }
        else {
            $('#spnSMSGiftPtDebitOtp').html(data.DLTStatus6);
        }
        if (data.DLTStatus7 == "Rejected") {
            $("#spnSMSGiftPtCreditOtp").html(data.DLTStatus7 + "<br/>  Reason - " + data.RejectReason7);
        }
        else {
            $('#spnSMSGiftPtCreditOtp').html(data.DLTStatus7);
        }
        if (data.DLTStatus1 != null && data.DLTStatus1 != "Submitted") {
            $("#txtSMSToTheReferral").prop("disabled", true);
        }
        if (data.DLTStatus2 != null && data.DLTStatus2 != "Submitted") {
            $("#txtSMSReminderForPointsUsage1").prop("disabled", true);
        }
        if (data.DLTStatus3 != null && data.DLTStatus3 != "Submitted") {
            $("#txtSMSReferredSuccessOnReferralTxn").prop("disabled", true);
        }
        if (data.DLTStatus4 != null && data.DLTStatus4 != "Submitted") {
            $("#txtSMSDLCOtp").prop("disabled", true);
        }
        if (data.DLTStatus5 != null && data.DLTStatus5 != "Submitted") {
            $("#txtSMSGiftPtOtp").prop("disabled", true);
        }
        if (data.DLTStatus6 != null && data.DLTStatus6 != "Submitted") {
            $("#txtSMSGiftPtDebitOtp").prop("disabled", true);
        }
        if (data.DLTStatus7 != null && data.DLTStatus7 != "Submitted") {
            $("#txtSMSGiftPtCreditOtp").prop("disabled", true);
        }
        if (data.DLTStatus8 != null && data.DLTStatus8 != "Submitted") {
            $("#txtSMSReminderForPointsUsage2").prop("disabled", true);
        }


        $('#txtSMSReminderForPointsUsage1').val(data.ReminderForPointsUsageSMSScript);
        $('#txtSMSReminderForPointsUsage2').val(data.ReminderForPointsUsageSMSScript8);
        $('#txtSMSRem1Days').val(data.ReminderForPointsUsageSMSScript1Days);
        $('#txtSMSRem2Days').val(data.ReminderForPointsUsageSMSScript2Days);

        $('#txtSMSReferredSuccessOnReferralTxn').val(data.ReferredSuccessOnReferralTxnSMSScript);
        $('#txtSMSDLCOtp').val(data.DLCOTPScriptSMS);
        $('#txtSMSGiftPtOtp').val(data.GiftPointsOTPScriptSMS);
        $('#txtSMSGiftPtDebitOtp').val(data.GiftPointsDebitOTPScriptSMS);
        $('#txtSMSGiftPtCreditOtp').val(data.GiftPointsCreditOTPScriptSMS);
        $('#txtWAToTheReferral').val(data.ToTheReferralWAScript);
        $('#txtWAReminderForPointsUsage1').val(data.ReminderForPointsUsageWAScript);
        $('#txtWAReminderForPointsUsage2').val(data.ReminderForPointsUsageWAScript8);
        $('#txtWARem1Days').val(data.ReminderForPointsUsageWAScript1Days);
        $('#txtWARem2Days').val(data.ReminderForPointsUsageWAScript2Days);

        $('#txtWAReferredSuccessOnReferralTxn').val(data.ReferredSuccessOnReferralTxnWAScript);
        $('#txtWADlcOtp').val(data.DLCOTPScriptWA );
        $('#txtWAGiftPtOtp').val(data.GiftPointsOTPScriptWA);
        $('#txtWAGiftPtDebitOtp').val(data.GiftPointsDebitOTPScriptWA);
        $('#txtWAGiftPtCreditOtp').val(data.GiftPointsCreditOTPScriptWA);
    }

    function SaveDLCLinkConfig() {
        var validationStatus = ValidateDLCLink();
        if (validationStatus) {
            var DLCConfig = [];
            item = {}
            item["Id"] = $('#hdnDLCLinkConfigId').val();
            item["GroupId"] = $('#hdnGroupID').val();
            item["ProfileUpdatePoints"] = $('#txtProfileUpdatePoints').val();
            item["ReferralPoints"] = $('#txtReferralPoints').val();
            item["ReferredPoints"] = $('#txtReferredPoints').val();
            item["ValidityOfReferralPoints"] = $('#txtValidityOfReferralPoints').val();
            item["ReferralReminder"] = $('#txtReferralReminder').val();

            item["SMSToTheReferral"] = $('#txtSMSToTheReferral').val();
            item["SMSReminderForPointsUsage1"] = $('#txtSMSReminderForPointsUsage1').val();
            item["SMSReminderForPointsUsage2"] = $('#txtSMSReminderForPointsUsage2').val();
            item["SMSReminderForPointsUsageDays1"] = $('#txtSMSRem1Days').val();
            item["SMSReminderForPointsUsageDays2"] = $('#txtSMSRem2Days').val();

            item["SMSReferredSuccessOnReferralTxn"] = $('#txtSMSReferredSuccessOnReferralTxn').val();
            item["DLCOTPScriptSMS"] = $('#txtSMSDLCOtp').val();
            item["GiftPointsOTPScriptSMS"] = $('#txtSMSGiftPtOtp').val();
            item["GiftPointsDebitOTPScriptSMS"] = $('#txtSMSGiftPtDebitOtp').val();
            item["GiftPointsCreditOTPScriptSMS"] = $('#txtSMSGiftPtCreditOtp').val();
            item["ToTheReferralWAScript"] = $('#txtWAToTheReferral').val();
            item["ReminderForPointsUsageWAScript1"] = $('#txtWAReminderForPointsUsage1').val();
            item["ReminderForPointsUsageWAScript2"] = $('#txtWAReminderForPointsUsage2').val();
            item["ReminderForPointsUsageWAScriptDays1"] = $('#txtWARem1Days').val();
            item["ReminderForPointsUsageWAScriptDays2"] = $('#txtWARem2Days').val();

            item["ReferredSuccessOnReferralTxnWAScript"] = $('#txtWAReferredSuccessOnReferralTxn').val();
            item["DLCOTPScriptWA"] = $('#txtWADlcOtp').val();
            item["GiftPointsOTPScriptWA"] = $('#txtWAGiftPtOtp').val();
            item["GiftPointsDebitOTPScriptWA"] = $('#txtWAGiftPtDebitOtp').val();
            item["GiftPointsCreditOTPScriptWA"] = $('#txtWAGiftPtCreditOtp').val();

            DLCConfig.push(item);
            var DLCConfigData = JSON.stringify(DLCConfig);

            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDLCLinkConfig", "CustomerOnBoarding")',
                data: '{jsonData: ' + JSON.stringify(DLCConfigData) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved..",
                            message: "DLC Link Data Saved Successfully!",
                            buttonText: "Okay"
                        })
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is some problem while saving DLC Link Data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    console.log(2222)
                    console.log(result.responseText)
                    $("#divLoader").hide();
                }
            });
        }
    }

    function ValidateDLCLink() {
        var status = true;

        if ($("#txtProfileUpdatePoints").val() == "") {
            $('#txtProfileUpdatePoints').css('border-color', 'red');
            status = false;
        }
        if ($("#txtReferralPoints").val() == "") {
            $('#txtReferralPoints').css('border-color', 'red');
            status = false;
        }
        if ($("#txtReferredPoints").val() == "") {
            $('#txtReferredPoints').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSToTheReferral").val() == "") {
            $('#txtSMSToTheReferral').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSRem1Days").val() == "") {
            $('#txtSMSRem1Days').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSReminderForPointsUsage1").val() == "") {
            $('#txtSMSReminderForPointsUsage1').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSRem2Days").val() == "") {
            $('#txtSMSRem2Days').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSReminderForPointsUsage2").val() == "") {
            $('#txtSMSReminderForPointsUsage2').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSReferredSuccessOnReferralTxn").val() == "") {
            $('#txtSMSReferredSuccessOnReferralTxn').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSDLCOtp").val() == "") {
            $('#txtSMSDLCOtp').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSGiftPtOtp").val() == "") {
            $('#txtSMSGiftPtOtp').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSGiftPtDebitOtp").val() == "") {
            $('#txtSMSGiftPtDebitOtp').css('border-color', 'red');
            status = false;
        }
        if ($("#txtSMSGiftPtCreditOtp").val() == "") {
            $('#txtSMSGiftPtCreditOtp').css('border-color', 'red');
            status = false;
        }
        if ($("#txtValidityOfReferralPoints").val() == "") {
                $('#txtValidityOfReferralPoints').css('border-color', 'red');
                status = false;
        }
        if ($("#txtReferralReminder").val() == "") {
                $('#txtReferralReminder').css('border-color', 'red');
                status = false;
        }
        if ($("#txtReferredPoints").val() == "") {
                $('#txtReferredPoints').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWAToTheReferral").val() == "") {
                $('#txtWAToTheReferral').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWARem1Days").val() == "") {
                $('#txtWARem1Days').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWAReminderForPointsUsage1").val() == "") {
                $('#txtWAReminderForPointsUsage1').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWARem2Days").val() == "") {
                $('#txtWARem2Days').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWAReminderForPointsUsage2").val() == "") {
                $('#txtWAReminderForPointsUsage2').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWAReferredSuccessOnReferralTxn").val() == "") {
                $('#txtWAReferredSuccessOnReferralTxn').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWADlcOtp").val() == "") {
                $('#txtWADlcOtp').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWAGiftPtOtp").val() == "") {
                $('#txtWAGiftPtOtp').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWAGiftPtDebitOtp").val() == "") {
                $('#txtWAGiftPtDebitOtp').css('border-color', 'red');
                status = false;
        }
        if ($("#txtWAGiftPtCreditOtp").val() == "") {
                $('#txtWAGiftPtCreditOtp').css('border-color', 'red');
                status = false;
        }

        if (!status) {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Enter required fields",
                buttonText: "Okay"
            })
        }


        return status;
    }
    function RemoveRequiredBorderDLCLink() {
        $("#txtProfileUpdatePoints").focusout(function () {
            if ($("#txtProfileUpdatePoints").val() != "") {
                $('#txtProfileUpdatePoints').css('border-color', '');
            }
            else {
                $('#txtProfileUpdatePoints').css('border-color', 'red');
            }
        });

        $("#txtReferralPoints").focusout(function () {
            if ($("#txtReferralPoints").val() != "") {
                $('#txtReferralPoints').css('border-color', '');
            }
            else {
                $('#txtReferralPoints').css('border-color', 'red');
            }
        });
        $("#txtReferredPoints").focusout(function () {
            if ($("#txtReferredPoints").val() != "") {
                $('#txtReferredPoints').css('border-color', '');
            }
            else {
                $('#txtReferredPoints').css('border-color', 'red');
            }
        });
        $("#txtSMSToTheReferral").focusout(function () {
            if ($("#txtSMSToTheReferral").val() != "") {
                $('#txtSMSToTheReferral').css('border-color', '');
            }
            else {
                $('#txtSMSToTheReferral').css('border-color', 'red');
            }
        });
        $("#txtSMSRem1Days").focusout(function () {
            if ($("#txtSMSRem1Days").val() != "") {
                $('#txtSMSRem1Days').css('border-color', '');
            }
            else {
                $('#txtSMSRem1Days').css('border-color', 'red');
            }
        });
        $("#txtSMSReminderForPointsUsage1").focusout(function () {
            if ($("#txtSMSReminderForPointsUsage1").val() != "") {
                $('#txtSMSReminderForPointsUsage1').css('border-color', '');
            }
            else {
                $('#txtSMSReminderForPointsUsage1').css('border-color', 'red');
            }
        });
        $("#txtSMSRem2Days").focusout(function () {
            if ($("#txtSMSRem2Days").val() != "") {
                $('#txtSMSRem2Days').css('border-color', '');
            }
            else {
                $('#txtSMSRem2Days').css('border-color', 'red');
            }
        });
        $("#txtSMSReminderForPointsUsage2").focusout(function () {
            if ($("#txtSMSReminderForPointsUsage2").val() != "") {
                $('#txtSMSReminderForPointsUsage2').css('border-color', '');
            }
            else {
                $('#txtSMSReminderForPointsUsage2').css('border-color', 'red');
            }
        });
        $("#txtSMSReferredSuccessOnReferralTxn").focusout(function () {
            if ($("#txtSMSReferredSuccessOnReferralTxn").val() != "") {
                $('#txtSMSReferredSuccessOnReferralTxn').css('border-color', '');
            }
            else {
                $('#txtSMSReferredSuccessOnReferralTxn').css('border-color', 'red');
            }
        });
        $("#txtSMSDLCOtp").focusout(function () {
            if ($("#txtSMSDLCOtp").val() != "") {
                $('#txtSMSDLCOtp').css('border-color', '');
            }
            else {
                $('#txtSMSDLCOtp').css('border-color', 'red');
            }
        });

        $("#txtSMSGiftPtOtp").focusout(function () {
            if ($("#txtSMSGiftPtOtp").val() != "") {
                $('#txtSMSGiftPtOtp').css('border-color', '');
            }
            else {
                $('#txtSMSGiftPtOtp').css('border-color', 'red');
            }
        });
        $("#txtSMSGiftPtDebitOtp").focusout(function () {
            if ($("#txtSMSGiftPtDebitOtp").val() != "") {
                $('#txtSMSGiftPtDebitOtp').css('border-color', '');
            }
            else {
                $('#txtSMSGiftPtDebitOtp').css('border-color', 'red');
            }
        });
        $("#txtSMSGiftPtCreditOtp").focusout(function () {
            if ($("#txtSMSGiftPtCreditOtp").val() != "") {
                $('#txtSMSGiftPtCreditOtp').css('border-color', '');
            }
            else {
                $('#txtSMSGiftPtCreditOtp').css('border-color', 'red');
            }
        });
        $("#txtValidityOfReferralPoints").focusout(function () {
            if ($("#txtValidityOfReferralPoints").val() != "") {
                $('#txtValidityOfReferralPoints').css('border-color', '');
            }
            else {
                $('#txtValidityOfReferralPoints').css('border-color', 'red');
            }
        });
        $("#txtReferralReminder").focusout(function () {
            if ($("#txtReferralReminder").val() != "") {
                $('#txtReferralReminder').css('border-color', '');
            }
            else {
                $('#txtReferralReminder').css('border-color', 'red');
            }
        });
        $("#txtReferredPoints").focusout(function () {
            if ($("#txtReferredPoints").val() != "") {
                $('#txtReferredPoints').css('border-color', '');
            }
            else {
                $('#txtReferredPoints').css('border-color', 'red');
            }
        });
        $("#txtWAToTheReferral").focusout(function () {
            if ($("#txtWAToTheReferral").val() != "") {
                $('#txtWAToTheReferral').css('border-color', '');
            }
            else {
                $('#txtWAToTheReferral').css('border-color', 'red');
            }
        });
        $("#txtWARem1Days").focusout(function () {
            if ($("#txtWARem1Days").val() != "") {
                $('#txtWARem1Days').css('border-color', '');
            }
            else {
                $('#txtWARem1Days').css('border-color', 'red');
            }
        });
        $("#txtWAReminderForPointsUsage1").focusout(function () {
            if ($("#txtWAReminderForPointsUsage1").val() != "") {
                $('#txtWAReminderForPointsUsage1').css('border-color', '');
            }
            else {
                $('#txtWAReminderForPointsUsage1').css('border-color', 'red');
            }
        });
        $("#txtWARem2Days").focusout(function () {
            if ($("#txtWARem2Days").val() != "") {
                $('#txtWARem2Days').css('border-color', '');
            }
            else {
                $('#txtWARem2Days').css('border-color', 'red');
            }
        });
        $("#txtWAReminderForPointsUsage2").focusout(function () {
            if ($("#txtWAReminderForPointsUsage2").val() != "") {
                $('#txtWAReminderForPointsUsage2').css('border-color', '');
            }
            else {
                $('#txtWAReminderForPointsUsage2').css('border-color', 'red');
            }
        });
        $("#txtWAReferredSuccessOnReferralTxn").focusout(function () {
            if ($("#txtWAReferredSuccessOnReferralTxn").val() != "") {
                $('#txtWAReferredSuccessOnReferralTxn').css('border-color', '');
            }
            else {
                $('#txtWAReferredSuccessOnReferralTxn').css('border-color', 'red');
            }
        });
        $("#txtWADlcOtp").focusout(function () {
            if ($("#txtWADlcOtp").val() != "") {
                $('#txtWADlcOtp').css('border-color', '');
            }
            else {
                $('#txtWADlcOtp').css('border-color', 'red');
            }
        });
        $("#txtWAGiftPtOtp").focusout(function () {
            if ($("#txtWAGiftPtOtp").val() != "") {
                $('#txtWAGiftPtOtp').css('border-color', '');
            }
            else {
                $('#txtWAGiftPtOtp').css('border-color', 'red');
            }
        });
        $("#txtWAGiftPtDebitOtp").focusout(function () {
            if ($("#txtWAGiftPtDebitOtp").val() != "") {
                $('#txtWAGiftPtDebitOtp').css('border-color', '');
            }
            else {
                $('#txtWAGiftPtDebitOtp').css('border-color', 'red');
            }
        });
        $("#txtWAGiftPtCreditOtp").focusout(function () {
            if ($("#txtWAGiftPtCreditOtp").val() != "") {
                $('#txtWAGiftPtCreditOtp').css('border-color', '');
            }
            else {
                $('#txtWAGiftPtCreditOtp').css('border-color', 'red');
            }
        });

    }

    function SendDLCToDLT() {
        $("#divLoader").show();
        cuteAlert({
            type: "question",
            title: "Are you sure?",
            message: "Once you submit, you will not be able to change data",
            confirmText: "Okay",
            cancelText: "Cancel"
        }).then((e) => {
            if (e == ("confirm")) {
                var validationStatus = ValidateDLCLink();
                if (validationStatus) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SendDLCToDLT", "CustomerOnBoarding")',
                        data: '{GroupId: ' + JSON.stringify($('#hdnGroupID').val()) + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == true) {
                                cuteAlert({
                                    type: "success",
                                    title: "Saved..",
                                    message: "DLC Script sent for DLT Successfully!",
                                    buttonText: "Okay"
                                })
                            }
                            else {
                                cuteAlert({
                                    type: "error",
                                    title: "Oops..",
                                    message: "There is some problem while sending Digital Loyalty Card Data for DLT",
                                    buttonText: "Okay"
                                })
                            }
                            $("#divLoader").hide();
                        },
                        error: function (result) {
                            $("#divLoader").hide();
                        }
                    });
                }
            }
        })
        $("#divLoader").hide();
    }

    </script>
