

<div style="margin-top:20px;">
    <input type="hidden" id="hdnDLCLinkConfigId" />
    <div style="float:left;" class="col-md-6 col-lg-6">
        <div style="margin-left: 20px; margin-top: 20px;">
            Profile Update Points <br /> <input type="text" id="txtProfileUpdatePoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referral Points	 <br /> <input type="text" id="txtReferralPoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referred Points	 <br /> <input type="text" id="txtReferredPoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            To the referral (SMS) <br /> <textarea id="txtSMSToTheReferral" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSEnrollmentLink"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Reminder for points usage (SMS) <br /> <textarea id="txtSMSReminderForPointsUsage" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSReminderForPointsUsage"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referred success on referral txn (SMS) <br /> <textarea id="txtSMSReferredSuccessOnReferralTxn" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSReferredSuccessOnReferralTxn"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            DLC OTP (SMS) <br /> <textarea id="txtSMSDLCOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSDLCOtp"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift Points OTP (SMS) <br /> <textarea id="txtSMSGiftPtOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSGiftPtOtp"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift Debit  Points OTP (SMS) <br /> <textarea id="txtSMSGiftPtDebitOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSGiftPtDebitOtp"></span>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift  Credit Points OTP  (SMS) <br /> <textarea id="txtSMSGiftPtCreditOtp" rows="3" cols="50" class="input100"></textarea>
            <span style="font-weight:bold;" id="spnSMSGiftPtCreditOtp"></span>
        </div>
    </div>

    <div style="float:left;" class="col-md-6 col-lg-6">
        <div style="margin-left: 20px; margin-top: 20px;">
            Max no of referrals <br /> <input type="text" id="txtMaxNoOfReferrals" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Validity of Referral points <br /> <input type="text" id="txtValidityOfReferralPoints" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referral reminder (days before expiry)	 <br /> <input type="text" id="txtReferralReminder" class="input100" />
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            To the referral (WA) <br /> <textarea id="txtWAToTheReferral" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Reminder for points usage (WA) <br /> <textarea id="txtWAReminderForPointsUsage" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Referred success on referral txn (WA) <br /> <textarea id="txtWAReferredSuccessOnReferralTxn" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            DLC OTP (WA) <br /> <textarea id="txtWADlcOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift Points OTP (WA) <br /> <textarea id="txtWAGiftPtOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift  Debit Points OTP (WA) <br /> <textarea id="txtWAGiftPtDebitOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
        <div style="margin-left: 20px; margin-top: 10px;">
            Gift  Credit Points OTP (WA) <br /> <textarea id="txtWAGiftPtCreditOtp" rows="3" cols="50" class="input100"></textarea>
        </div>
    </div>
</div>
<div class="container-fluid pt-3 pl-3 pr-3 pb-3">
    <button type="button" id="btnsubmitToDLT" class="btn btn-primary pull-right" style="margin-right: 10px; margin-bottom: 20px;margin-top:10px;">Submit For DLT</button>
    <button type="button" id="btnDLCLinkSave" class="btn btn-primary pull-right" style="margin-right: 10px; margin-bottom: 20px; margin-top: 10px;">Save</button>
</div>

<script>
    $(document).ready(function () {

        $("#btnsubmitToDLT").on("click", function () {
            SendDLCToDLT();
        });
        $("#btnDLCLinkSave").on("click", function () {
            SaveDLCLinkConfig();
        });
        LoadExistingDLCLinkData();
    });

    function LoadExistingDLCLinkData() {
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDLCLinkData", "CustomerOnBoarding")',
                data: '{groupId: ' + JSON.stringify($('#hdnGroupID').val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    LoadDLCControls(result);
                    $("#divLoader").hide();

                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
    }

    function LoadDLCControls(data) {
        console.log(data)
        $("#hdnDLCLinkConfigId").val(data.Id);
        $('#txtProfileUpdatePoints').val(data.ProfileUpdatePoints);
        $('#txtReferralPoints').val(data.ReferralPoints);
        $('#txtReferredPoints').val(data.ReferredPoints);
        $('#txtMaxNoOfReferrals').val(data.MaxNoOfReferrals);
        $('#txtValidityOfReferralPoints').val(data.ValidityOfReferralPoints);
        $('#txtReferralReminder').val(data.ReferralReminder);
        $('#txtSMSToTheReferral').val(data.ToTheReferralSMSScript);

        if (data.DLTStatus1 != null && data.DLTStatus1 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus2 != null && data.DLTStatus2 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus3 != null && data.DLTStatus3 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus4 != null && data.DLTStatus4 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus5 != null && data.DLTStatus5 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus6 != null && data.DLTStatus6 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }
        if (data.DLTStatus7 != null && data.DLTStatus7 != "Submitted") {
            $("#btnsubmitToDLT").prop("disabled", true);
        }

        if (data.DLTStatus1 == "Rejected") {
            $("#spnSMSEnrollmentLink").html(data.DLTStatus1 + "<br/>  Reason - " + data.RejectReason1);
        }
        else {
            $('#spnSMSEnrollmentLink').html(data.DLTStatus1);
        }
        if (data.DLTStatus2 == "Rejected") {
            $("#spnSMSReminderForPointsUsage").html(data.DLTStatus2 + "<br/>  Reason - " + data.RejectReason2);
        }
        else {
            $('#spnSMSReminderForPointsUsage').html(data.DLTStatus2);
        }
        
        if (data.DLTStatus3 == "Rejected") {
            $("#spnSMSReferredSuccessOnReferralTxn").html(data.DLTStatus3 + "<br/>  Reason - " + data.RejectReason3);
        }
        else {
            $('#spnSMSReferredSuccessOnReferralTxn').html(data.DLTStatus3);
        }
        if (data.DLTStatus4 == "Rejected") {
            $("#spnSMSDLCOtp").html(data.DLTStatus4 + "<br/>  Reason - " + data.RejectReason4);
        }
        else {
            $('#spnSMSDLCOtp').html(data.DLTStatus4);
        }
        if (data.DLTStatus5 == "Rejected") {
            $("#spnSMSGiftPtOtp").html(data.DLTStatus5 + "<br/>  Reason - " + data.RejectReason5);
        }
        else {
            $('#spnSMSGiftPtOtp').html(data.DLTStatus5);
        }
        if (data.DLTStatus6 == "Rejected") {
            $("#spnSMSGiftPtDebitOtp").html(data.DLTStatus6 + "<br/>  Reason - " + data.RejectReason6);
        }
        else {
            $('#spnSMSGiftPtDebitOtp').html(data.DLTStatus6);
        }
        if (data.DLTStatus7 == "Rejected") {
            $("#spnSMSGiftPtCreditOtp").html(data.DLTStatus7 + "<br/>  Reason - " + data.RejectReason7);
        }
        else {
            $('#spnSMSGiftPtCreditOtp').html(data.DLTStatus7);
        }
        if (data.DLTStatus1 != null && data.DLTStatus1 != "Submitted") {
            $("#txtSMSToTheReferral").prop("disabled", true);
        }
        if (data.DLTStatus2 != null && data.DLTStatus2 != "Submitted") {
            $("#txtSMSReminderForPointsUsage").prop("disabled", true);
        }
        if (data.DLTStatus3 != null && data.DLTStatus3 != "Submitted") {
            $("#txtSMSReferredSuccessOnReferralTxn").prop("disabled", true);
        }
        if (data.DLTStatus4 != null && data.DLTStatus4 != "Submitted") {
            $("#txtSMSDLCOtp").prop("disabled", true);
        }
        if (data.DLTStatus5 != null && data.DLTStatus5 != "Submitted") {
            $("#txtSMSGiftPtOtp").prop("disabled", true);
        }
        if (data.DLTStatus6 != null && data.DLTStatus6 != "Submitted") {
            $("#txtSMSGiftPtDebitOtp").prop("disabled", true);
        }
        if (data.DLTStatus7 != null && data.DLTStatus7 != "Submitted") {
            $("#txtSMSGiftPtCreditOtp").prop("disabled", true);
        }
        $('#txtSMSReminderForPointsUsage').val(data.ReminderForPointsUsageSMSScript);
        $('#txtSMSReferredSuccessOnReferralTxn').val(data.ReferredSuccessOnReferralTxnSMSScript);
        $('#txtSMSDLCOtp').val(data.DLCOTPScriptSMS);
        $('#txtSMSGiftPtOtp').val(data.GiftPointsOTPScriptSMS);
        $('#txtSMSGiftPtDebitOtp').val(data.GiftPointsDebitOTPScriptSMS);
        $('#txtSMSGiftPtCreditOtp').val(data.GiftPointsCreditOTPScriptSMS);
        $('#txtWAToTheReferral').val(data.ToTheReferralWAScript);
        $('#txtWAReminderForPointsUsage').val(data.ReminderForPointsUsageWAScript);
        $('#txtWAReferredSuccessOnReferralTxn').val(data.ReferredSuccessOnReferralTxnWAScript);
        $('#txtWADlcOtp').val(data.DLCOTPScriptWA );
        $('#txtWAGiftPtOtp').val(data.GiftPointsOTPScriptWA);
        $('#txtWAGiftPtDebitOtp').val(data.GiftPointsDebitOTPScriptWA);
        $('#txtWAGiftPtCreditOtp').val(data.GiftPointsCreditOTPScriptWA);
    }
                
    function SaveDLCLinkConfig() {
        var DLCConfig = [];
        item = {}
        item["Id"] = $('#hdnDLCLinkConfigId').val();
        item["GroupId"] = $('#hdnGroupID').val();
        item["ProfileUpdatePoints"] = $('#txtProfileUpdatePoints').val();
        item["ReferralPoints"] = $('#txtReferralPoints').val();
        item["ReferredPoints"] = $('#txtReferredPoints').val();
        item["MaxNoOfReferrals"] = $('#txtMaxNoOfReferrals').val();
        item["ValidityOfReferralPoints"] = $('#txtValidityOfReferralPoints').val();
        item["ReferralReminder"] = $('#txtReferralReminder').val();

        item["SMSToTheReferral"] = $('#txtSMSToTheReferral').val();
        item["SMSReminderForPointsUsage"] = $('#txtSMSReminderForPointsUsage').val();
        item["SMSReferredSuccessOnReferralTxn"] = $('#txtSMSReferredSuccessOnReferralTxn').val();
        item["DLCOTPScriptSMS"] = $('#txtSMSDLCOtp').val();
        item["GiftPointsOTPScriptSMS"] = $('#txtSMSGiftPtOtp').val();
        item["GiftPointsDebitOTPScriptSMS"] = $('#txtSMSGiftPtDebitOtp').val();
        item["GiftPointsCreditOTPScriptSMS"] = $('#txtSMSGiftPtCreditOtp').val();
        item["ToTheReferralWAScript"] = $('#txtWAToTheReferral').val();
        item["ReminderForPointsUsageWAScript"] = $('#txtWAReminderForPointsUsage').val();
        item["ReferredSuccessOnReferralTxnWAScript"] = $('#txtWAReferredSuccessOnReferralTxn').val();
        item["DLCOTPScriptWA"] = $('#txtWADlcOtp').val();
        item["GiftPointsOTPScriptWA"] = $('#txtWAGiftPtOtp').val();
        item["GiftPointsDebitOTPScriptWA"] = $('#txtWAGiftPtDebitOtp').val();
        item["GiftPointsCreditOTPScriptWA"] = $('#txtWAGiftPtCreditOtp').val();

        DLCConfig.push(item);
        var DLCConfigData = JSON.stringify(DLCConfig);

         $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDLCLinkConfig", "CustomerOnBoarding")',
                data: '{jsonData: ' + JSON.stringify(DLCConfigData) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved..",
                            message: "DLC Link Data Saved Successfully!",
                            buttonText: "Okay"
                        })
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is some problem while saving DLC Link Data",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    console.log(2222)
                    console.log(result.responseText)
                    $("#divLoader").hide();
                }
            });
    }

    function SendDLCToDLT() {
        $("#divLoader").show();
        cuteAlert({
            type: "question",
            title: "Are you sure?",
            message: "Once you submit, you will not be able to change data",
            confirmText: "Okay",
            cancelText: "Cancel"
        }).then((e) => {
            if (e == ("confirm")) {
                 $.ajax({
                type: "POST",
                url: '@Url.Action("SendDLCToDLT", "CustomerOnBoarding")',
                data: '{GroupId: ' + JSON.stringify($('#hdnGroupID').val()) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        cuteAlert({
                            type: "success",
                            title: "Saved..",
                            message: "DLC Script sent for DLT Successfully!",
                            buttonText: "Okay"
                        })
                    }
                    else {
                        cuteAlert({
                            type: "error",
                            title: "Oops..",
                            message: "There is some problem while sending Digital Loyalty Card Data for DLT",
                            buttonText: "Okay"
                        })
                    }
                    $("#divLoader").hide();
                },
                error: function (result) {
                    $("#divLoader").hide();
                }
            });
            }
        })
        $("#divLoader").hide();
    }

</script>