
@{
    ViewBag.Title = "Deal Details";
    Layout = "~/Views/Shared/_OnBoardingLayout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3">
            Deal Details
        </div>
    </div>
</div>
