@model WebApp.ViewModel.OnBoardingSalesViewModel
@{
    ViewBag.Title = "DLTView";
    Layout = "~/Views/Shared/_OnBoardingLayout.cshtml";
}
<style>
    .tab2 {
        cursor: pointer;
        padding: 10px 08px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
        background-color: #000000 !important;
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%) !important;
    }

    .tabs2 {
        padding-left: 00px;
    }

    .panels2 {
        background: #ffffff;
        box-shadow: 0 1rem 1rem #00000010;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel2 {
        display: none;
        animation: fadein .8s;
    }

    .panel-title2 {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio2 {
        display: none;
    }

    #one2:checked ~ .panels2 #one-panel2,
    #two2:checked ~ .panels2 #two-panel2,
    #three2:checked ~ .panels2 #three-panel2 {
        display: block
    }

    #one2:checked ~ .tabs2 #one-tab2,
    #two2:checked ~ .tabs2 #two-tab2,
    #three2:checked ~ .tabs2 #three-tab2 {
        background: #fff !important;
        color: #000;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        font-weight: bold;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
</style>
<div class="app-main__inner">
    <div class="row mb-3 card">
        <div>
            @Html.HiddenFor(model => model.bots_TblGroupMaster.GroupId, new { @id = "hdnGroupID" })
            @Html.Partial("~/Views/CustomerOnBoarding/_CustomerDetails.cshtml", Model)
        </div>
        <div>
            <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="dvOutletSection">
                <div class="col-md-12 section-heading" data-toggle="collapse" data-target="#outletdetails">Configurations</div>
                <div id="outletdetails" class="collapse show">

                    <input class="radio2" id="one2" name="group" type="radio" checked>
                    <input class="radio2" id="two2" name="group" type="radio">
                    <input class="radio2" id="three2" name="group" type="radio">

                    <div class="tabs2">
                        <label class="tab2" id="one-tab2" for="one2"> Communication</label>
                        <label class="tab2" id="two-tab2" for="two2"> Perpetual Campaigns</label>
                        <label class="tab2" id="three-tab2" for="three2"> DLC Link</label>
                    </div>

                    <div class="panels2">
                        <div class="multisteps-form__panel m-3 list-box bg-white panel1" id="one-panel2">
                            <div>
                                <select id="ddlCommunicationSet" class="input50"></select>
                            </div>
                            <div id="dvSetDetailsForDLT" style="display:none;"></div>
                           
                        </div>
                        <div class="multisteps-form__panel m-3 list-box bg-white panel1" id="two-panel2">
                            Perpetual Campaigns
                        </div>
                        <div class="multisteps-form__panel m-3 list-box bg-white panel1" id="three-panel2">
                            DLC Link
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        FillSetDropDown();
        $('#ddlCommunicationSet').change(function () {
            ShowSetDetails();
        });
    });

    function FillSetDropDown() {
        $.ajax({
            url: '@Url.Action("GetCommunicationSetList", "CustomerOnBoarding")',
            data: "{'GroupId': '" + $('#hdnGroupID').val() + "'}",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $("#ddlCommunicationSet").html("");
                var items;
                $.each(result, function (i,item) {
                   items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                });
                $("#ddlCommunicationSet").html(items);

            }
        });
       }

    function ShowSetDetails() {
        $("#divLoader").show();
        $.ajax({
            url: '@Url.Action("GetDLTCommunicationSetData", "CustomerOnBoarding")',
            data: '{GroupId: ' + JSON.stringify($('#hdnGroupID').val()) + ',SetId: ' + JSON.stringify($("#ddlCommunicationSet").val()) + '}',
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {                
                $("#dvSetDetailsForDLT").html(result);
                $("#dvSetDetailsForDLT").show(1000);
                $("#divLoader").hide();
            },
            error: function (result) {
                $("#dvSetDetailsForDLT").html(result.responseText);
                $("#dvSetDetailsForDLT").show(1000);
                $("#divLoader").hide();
            }
        });
    }

</script>
