@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600');

.EmailSucess{
    text-align:left;
    color:#11b51e !important;
    font-size: 14px !important;
    opacity: 1 !important;
    width: 100%;
}

.EmailError{
    color: #d00505 !important;
    font-size: 14px !important;
    opacity: 1 !important;
    width: 100%;
    text-align: left;
}
