@{
    ViewBag.Title = "PromoText";
    
}
<div>
    <div style="text-align:right;">
        <a title="Add New Customer">  <img src="~/Content/assets/images/AddCustomer.png" /></a>
    </div>
    <div style="float:left; border:1px solid grey;border-radius:10px;margin-bottom:10px;" class="col-md-12 col-lg-12">

        <div class="row" style="margin-top : 20px; margin-left: 8px;">
            <div class="col-sm-2">
                WA Instance Details
            </div>
        </div>

        <div class="row" style="padding-right:20px;margin-top:10px;margin-left:60px;">
            <table class="table" id="InstanceTable" border="1" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <th>Instance Name</th>
                        <th>Token Id</th>
                        <th>Balance</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>
        </div>

        <div style="float:left;" class="col-md-3 col-lg-3">
            <div style="margin-top: 10px;">
                <b> </b><br /> <textarea id="txtSMSToTheReferral" rows="12" cols="40"></textarea>
            </div>
     
        <div class="row" style="margin-bottom: 20px; margin-top: 20px; ">
            <div class="col-sm-3">
                <button >Save</button>
            </div>
            <div class="col-sm-3" style="margin-left: 40px;">
                <button>Reset</button>
            </div>
        </div>
        </div>
    </div>
</div>
