@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* navbar */

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    background-image: url(/img/Header2.png);
    position: relative;
    /* padding-top: 2vh; */
}

    nav .logo {
        position: absolute;
        top: 90%;
        left: 8%;
        z-index: 0;
    }

.logo img {
    width: 180px;
    height: 100px;
}

nav .profile_links {
    display: flex;
    gap: 10px;
    cursor: pointer;
    z-index: 2;
}

.profile_links {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .profile_links span {
        background-color: lightgray;
        border-radius: 50%;
        padding: 1px 6px;
    }

.menu-container {
    display: none;
}

    .menu-container #menu {
        display: none;
    }

nav .language {
    margin-left: 30px;
}

    nav .language > select {
        cursor: pointer;
        width: fit-content;
        height: fit-content !important;
        border: none;
        outline: none;
        /* background-color: rgb(235, 235, 235); */
        color: white;
        background-color: transparent;
        border-radius: 10px;
        /* padding: 5px; */
        font-size: 1.3vw;
    }

        nav .language > select > option {
            background-color: black;
        }

nav .features {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1vh;
    gap: 25px;
}

    nav .features > a {
        text-decoration: none;
        color: white;
    }

    nav .features .active {
        border-bottom: 3px solid white;
    }

    nav .features > a > :hover {
        border-bottom: 3px solid white;
    }

    nav .features > a > h1 {
        font-size: 1.1vw;
        letter-spacing: -1px;
        font-weight: 600;
    }

nav .hamburger {
    display: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    h1 {
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        margin: -6px 0;
    }
    nav {
        position: absolute;
        top: 0;
        height: 16vh;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.6s ease-in-out;
        padding-inline: 5vw;
    }

        nav .profile_links {
            display: flex;
            gap: 10px;
            cursor: pointer;
        }

    .logo img {
        width: 180px;
        height: 100px;
    }

    nav .logo {
        position: absolute;
        top: 80%;
        left: 5%;
        z-index: 0;
    }


    nav .language > select {
        cursor: pointer;
        width: 150px;
        height: 40px;
        border: none;
        outline: none;
        /* background-color: rgb(235, 235, 235); */
        color: white;
        background-color: transparent;
        border-radius: 10px;
        font-size: 4.7vw;
    }

        nav .language > select > option {
            background-color: black;
        }

    nav .features {
        display: none;
        align-items: baseline;
        justify-content: flex-start;
        gap: 35px;
    }

    nav .hamburger {
        display: block;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }

    .menu-container {
        display: none;
        background-color: #0016a0;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
        transition: all 0.6s ease-in-out;
        z-index: 1;
    }

        .menu-container #menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
            padding-left: 5vw;
            gap: 2vw;
        }

    #menu a {
        color: white;
        text-decoration: none;
        font-size: 4.3vw;
    }

    #menu .active {
        border-bottom: 3px solid white;
    }

    #menu a:hover {
        border-bottom: 3px solid white;
    }
}


.main_text {
    color: #31304d;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-left: 50px;
    font-weight: 600;
    font-size: medium;
}

.main_container {
    background-color: #eef5ff;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.main_container_text {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: rgb(95, 95, 95);
    margin: 1px;
    margin-top: 15px;
    font-weight: 400;
}

.bold_text {
    margin: 0;
    padding-top: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3559e0;
}

.container_child {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #3559e0;
    margin-bottom: 16px;
}

.second_container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.second_content {
    margin-top: 20px;
    font-size: 1.5rem;
    display: flex;
    color: #31304d;
}

.content {
    margin-right: 20%;
}

.btn1 {
    background-color: #1cb317;
    font-size: 17px;
    border: none;
    text-align: center;
    border-radius: 20px;
    padding: 5px 82px 5px 82px;
    color: #eef5ff;
}

.btn2 {
    background-color: #1cb317;
    font-size: 17px;
    border: none;
    text-align: center;
    border-radius: 20px;
    padding: 5px 50px 5px 50px;
    color: #eef5ff;
    margin-left: 20px;
}

.footer_text {
    color: rgb(207, 17, 17);
    font-size: 15px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    position: absolute;
    bottom: 5%;
}

/* navigation end */



/* Common styles */

.heading_pt {
    margin-top: 90px;
    margin-left: 1.5%;
}

.box {
    width: 100%;
    max-width: 95%;
    height: 50px;
    background-color: gainsboro;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 30px;
}

    .box > i {
        font-size: 20px;
        color: #777;
    }

    .box > input {
        flex: 1;
        height: 40px;
        border: none;
        outline: none;
        font-size: 18px;
        padding-left: 10px;
        background-color: gainsboro;
    }


.map-container {
    width: 95%;
    overflow: hidden;
    /* Aspect ratio (16:9) for responsive scaling */
}

.map {
    border-radius: 30px;
    width: 90%;
    height: 100%;
    margin-left: 170px;
}



@media only screen and (max-width:1000px) {
    .map-container {
        width: 95%;
        overflow: hidden;
        /* Aspect ratio (16:9) for responsive scaling */
    }

    .map {
        border-radius: 30px;
        width: 95%;
        height: 100%;
        margin-left: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .map-container {
        width: 95%;
        overflow: hidden;
        /* Aspect ratio (16:9) for responsive scaling */
    }

    .map {
        border-radius: 30px;
        width: 95%;
        height: 100%;
        margin-left: 20px;
    }
}

.content {
    padding: 20px;
    margin-bottom: 3%;
}

h2,
p {
    margin-bottom: 10px;
}

.phone-icon {
    display: flex;
    align-items: center;
    color: #3498db;
}

/* Basic styles */
.search-container {
    display: flex;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

button {
    padding: 8px 12px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

    /* Hover effect */
    button:hover {
        background: #0056b3;
    }

    /* Icon inside the button */
    button i {
        font-size: 16px;
    }

.footer {
    display: flex;
    flex-direction: column;
    background-color: #0019B2;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
    text-align: center;
    /* Add these properties to position the footer at the bottom */
}
