@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* navbar */

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    background-image: url(/img/Header2.png);
    position: relative;
    /* padding-top: 2vh; */
}

    nav .logo {
        position: absolute;
        top: 90%;
        left: 8%;
        z-index: 0;
    }

    /*.logo img {
    width: 90px;
    height: 90px;
}*/

    nav .profile_links {
        display: flex;
        gap: 10px;
        cursor: pointer;
        z-index: 2;
    }

.profile_links {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .profile_links span {
        background-color: lightgray;
        border-radius: 50%;
        padding: 1px 6px;
    }

.menu-container {
    display: none;
}

    .menu-container #menu {
        display: none;
    }

nav .language > select {
    cursor: pointer;
    width: fit-content;
    height: 5vh;
    border: none;
    outline: none;
    /* background-color: rgb(235, 235, 235); */
    color: white;
    background-color: transparent;
    border-radius: 10px;
    /* padding: 5px; */
    font-size: 1.3vw;
}

    nav .language > select > option {
        background-color: black;
    }

nav .features {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1vh;
    gap: 25px;
}

    nav .features > a {
        text-decoration: none;
        color: white;
    }

    nav .features .active {
        border-bottom: 3px solid white;
    }

    nav .features > a > :hover {
        border-bottom: 3px solid white;
    }

    nav .features > a > h1 {
        font-size: 1.2vw;
        letter-spacing: -1px;
        font-weight: 600;
    }

nav .hamburger {
    display: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
footer {
    background-color: #0016a0;
    width: 100%;
    height: 60px;
}





@media screen and (min-width:320px) {

    .main_text {
        color: #31304d;
        font-family: sans-serif;
        margin-bottom: 195px !important;
        margin-left: 50px;
        font-weight: 600;
        font-size: medium;
    }

    .down_con {
        margin-top: 140px !important;
        margin-bottom: 20px;
    }

   

    .main_container {
        background-color: #eef5ff;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10px;
        margin-top: -35%;
    }

        .main_container .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 0 0 140px;
        }

    .container {
        align-items: center;
        justify-content: center;
    }

    .main_container_text {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        color: rgb(95, 95, 95);
        margin: 1px;
        margin-top: 15px;
        font-weight: 400;
    }

    .bold_text {
        margin: 0;
        margin-top: 15px;
        padding-top: 2px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #3559e0;
    }

    .container_child {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: #3559e0;
        margin-bottom: 16px;
    }

    .second_container {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }

    .second_content {
        margin-top: 20px;
        font-size: 1.5rem;
        display: flex;
        color: #31304d;
    }

    .content {
        /* margin-right: 20%;*/
        font: icon;
    }

   
    .col1 {
        margin-left: -130%;
    }

    .col2 {
        margin-left: -226%;
    }

    .col3 {
        margin-left: -116%;
    }

    .btn1 {
        background-color: #1cb317;
        font-size: 17px;
        border: none;
        text-align: center;
        border-radius: 20px;
        padding: 5px 40px 5px 40px;
        color: #eef5ff;
        margin-top: 10%;
    }

    .btn2 {
        background-color: #1cb317;
        font-size: 16px;
        border: none;
        text-align: center;
        border-radius: 20px;
        padding: 9px 13px 9px 23px;
        color: #eef5ff;
        margin-left: 23px;
        margin-top: 5%
    }

    .footer_text {
        color: rgb(232, 38, 38);
        font-size: 14px;
        text-align: center;
        margin-top: 250px;
        margin-left: 50px;
        margin-right: 50px;
        display: inline-block;
        position: absolute;
        margin-bottom: 100px;
    }
}
    






@media screen and (min-width:375px) {
    .main_text {
        color: #31304d;
        font-family: sans-serif;
        margin-bottom: 195px!important;
        margin-left: 50px;
        font-weight: 600;
        font-size: medium;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        background-image: url(/img/Header2.png);
        position: relative;
        padding-inline: 3vw;
        z-index: 3;
    }

        nav .logo {
            position: absolute;
            top: 90%;
            left: 8%;
            z-index: 0;
        }

        

        nav .profile_links {
            display: flex;
            gap: 10px;
            cursor: pointer;
            z-index: 2;
        }

    .profile_links {
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .profile_links span {
            background-color: lightgray;
            border-radius: 50%;
            padding: 1px 6px;
        }

    .menu-container {
        display: none;
        background-color: #0016a0;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
        transition: all 0.6s ease-in-out;
        z-index: 1;
    }

        .menu-container #menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
            padding-left: 5vw;
            padding-top: 13vw;
            gap: 2.5vw;
        }

    #menu a {
        color: white;
        text-decoration: none;
        font-size: 3.7vw;
    }

    #menu .active {
        border-bottom: 3px solid white;
    }

    #menu a:hover {
        border-bottom: 3px solid white;
    }

    nav .language {
        margin-left: 100px;
    }

        nav .language > select {
            cursor: pointer;
            width: fit-content;
            height: 5vh;
            border: none;
            outline: none;
            /* background-color: rgb(235, 235, 235); */
            color: white;
            background-color: transparent;
            border-radius: 10px;
            font-size: 4.3vw;
        }

            nav .language > select > option {
                background-color: black;
            }

    nav .features {
        display: none;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1vh;
        gap: 25px;
    }

        nav .features > a {
            text-decoration: none;
            color: white;
        }

        nav .features .active {
            border-bottom: 3px solid white;
        }

        nav .features > a > :hover {
            border-bottom: 3px solid white;
        }

        nav .features > a > h1 {
            font-size: 1.2vw;
            letter-spacing: -1px;
            font-weight: 600;
        }

    nav .hamburger {
        display: flex;
        font-size: 5vw;
        color: white;
        cursor: pointer;
    }

    .down_con {
        margin-top: 140px !important;
        margin-bottom: 20px;
    }

    .main_text {
        color: #31304d;
        font-family: sans-serif;
        margin-bottom: 10px;
        margin-left: 50px;
        font-weight: 600;
        font-size: medium;
        text-align: center;
    }

    .main_container {
        background-color: #eef5ff;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10px;
        margin-top: -35%;
    }

        .main_container .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 0 0 140px;
        }

    .container {
        align-items: center;
        justify-content: center;
    }

    .main_container_text {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        color: rgb(95, 95, 95);
        margin: 1px;
        margin-top: 15px;
        font-weight: 400;
    }

    .bold_text {
        margin: 0;
        margin-top: 15px;
        padding-top: 2px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #3559e0;
    }

    .container_child {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: #3559e0;
        margin-bottom: 16px;
    }

    .second_container {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }

    .second_content {
        margin-top: 20px;
        font-size: 1.5rem;
        display: flex;
        color: #31304d;
    }

    .content {
        /* margin-right: 20%;*/
        font: icon;
    }



    .btn1 {
        background-color: #1cb317;
        font-size: 17px;
        border: none;
        text-align: center;
        border-radius: 20px;
        padding: 5px 40px 5px 40px;
        color: #eef5ff;
        margin-top: 10%;
    }

    .btn2 {
        background-color: #1cb317;
        font-size: 16px;
        border: none;
        text-align: center;
        border-radius: 20px;
        padding: 9px 13px 9px 23px;
        color: #eef5ff;
        margin-left: 23px;
        margin-top:5%
    }

    .footer_text {
        color: rgb(232, 38, 38);
        font-size: 14px;
        text-align: center;
        margin-top: 250px;
        margin-left: 50px;
        margin-right: 50px;
        display: inline-block;
        position: absolute;
        margin-bottom: 100px;
    }
}




@media screen and (min-width:425px) {
    .main_text {
        color: #31304d;
        font-family: sans-serif;
        margin-bottom: 195px!important;
        margin-left: 50px;
        font-weight: 600;
        font-size: medium;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 13vh;
        background-image: url(/img/Header2.png);
        position: relative;
        padding-inline: 3vw;
        z-index: 3;
    }

        nav .logo {
            position: absolute;
            top: 90%;
            left: 8%;
            z-index: 0;
        }

        /*.logo img {
        width: 90px;
        height: 90px;
    }*/

        nav .profile_links {
            display: flex;
            gap: 10px;
            cursor: pointer;
            z-index: 2;
        }

    .profile_links {
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .profile_links span {
            background-color: lightgray;
            border-radius: 50%;
            padding: 1px 6px;
        }

    .menu-container {
        display: none;
        background-color: #0016a0;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
        transition: all 0.6s ease-in-out;
        z-index: 1;
    }

        .menu-container #menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
            padding-left: 5vw;
            padding-top: 13vw;
            gap: 2vw;
        }

    #menu a {
        color: white;
        text-decoration: none;
        font-size: 3.4vw;
    }

    #menu .active {
        border-bottom: 3px solid white;
    }

    #menu a:hover {
        border-bottom: 3px solid white;
    }

    nav .language {
        margin-left: 100px;
    }

        nav .language > select {
            cursor: pointer;
            width: fit-content;
            height: 5vh;
            border: none;
            outline: none;
            /* background-color: rgb(235, 235, 235); */
            color: white;
            background-color: transparent;
            border-radius: 10px;
            font-size: 4.3vw;
        }

            nav .language > select > option {
                background-color: black;
            }

    nav .features {
        display: none;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1vh;
        gap: 25px;
    }

        nav .features > a {
            text-decoration: none;
            color: white;
        }

        nav .features .active {
            border-bottom: 3px solid white;
        }

        nav .features > a > :hover {
            border-bottom: 3px solid white;
        }

        nav .features > a > h1 {
            font-size: 1.2vw;
            letter-spacing: -1px;
            font-weight: 600;
        }

    nav .hamburger {
        display: flex;
        font-size: 5vw;
        color: white;
        cursor: pointer;
    }
}



@media screen and (min-width:768px)
{
    .down_con {
        margin-top: 140px !important;
        margin-bottom: 20px;
    }

    .main_text {
        color: #31304d;
        font-family: sans-serif;
        margin-bottom: 10px;
        margin-left: 50px;
        font-weight: 600;
        font-size: medium;
    }

    .main_container {
        background-color: #eef5ff;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10px;
    }

        .main_container .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 0 0 140px;
        }

    .container {
        align-items: center;
        justify-content: center;
    }

    .main_container_text {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        color: rgb(95, 95, 95);
        margin: 1px;
        margin-top: 15px;
        font-weight: 400;
    }

    .bold_text {
        margin: 0;
        margin-top: 15px;
        padding-top: 2px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #3559e0;
    }

    .container_child {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: #3559e0;
        margin-bottom: 16px;
    }

    .second_container {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }

    .second_content {
        margin-top: 20px;
        font-size: 1.5rem;
        display: flex;
        color: #31304d;
    }

    .content {
        margin-right: 20%;
    }

    .btn1 {
        background-color: #1cb317;
        font-size: 17px;
        border: none;
        text-align: center;
        border-radius: 20px;
        padding: 5px 70px 5px 72px;
        color: #eef5ff;
    }

    .btn2 {
        background-color: #1cb317;
        font-size: 17px;
        border: none;
        text-align: center;
        border-radius: 20px;
        padding: 5px 50px 5px 50px;
        color: #eef5ff;
        margin-left: 23px;
    }

    .footer_text {
        color: rgb(232, 38, 38);
        font-size: 14px;
        text-align: center;
        margin-top: 250px;
        margin-left: 50px;
        margin-right: 50px;
        display: inline-block;
        position: absolute;
        margin-bottom: 100px;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 14vh;
        background-image: url(/img/Header2.png);
        position: relative;
        padding-inline: 3vw;
        z-index: 3;
    }

        nav .logo {
            position: absolute;
            top: 90%;
            left: 8%;
            z-index: 0;
        }


    .logo img {
        width: 180px;
        height: 100px;
    }

    nav .profile_links {
        display: flex;
        gap: 10px;
        cursor: pointer;
        z-index: 2;
    }

    .profile_links {
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .profile_links span {
            background-color: lightgray;
            border-radius: 50%;
            padding: 1px 6px;
        }

    
}



@media screen and (min-width:1024px) 
{
   

    nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        background-image: url(/img/Header2.png);
        position: relative;
        /* padding-top: 2vh; */
    }

        nav .logo {
            position: absolute;
            top: 90%;
            left: 8%;
            z-index: 0;
        }

    .logo img {
        width: 180px;
        height: 100px;
    }

    nav .profile_links {
        display: flex;
        gap: 10px;
        cursor: pointer;
        z-index: 2;
    }

    .profile_links {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .profile_links span {
            background-color: lightgray;
            border-radius: 50%;
            padding: 1px 6px;
        }

    .menu-container {
        display: none;
    }

        .menu-container #menu {
            display: none;
        }

    nav .language {
        margin-left: 30px;
    }

        nav .language > select {
            cursor: pointer;
            width: fit-content;
            height: fit-content !important;
            border: none;
            outline: none;
            /* background-color: rgb(235, 235, 235); */
            color: white;
            background-color: transparent;
            border-radius: 10px;
            /* padding: 5px; */
            font-size: 1.3vw;
        }

            nav .language > select > option {
                background-color: black;
            }

    nav .features {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1vh;
        gap: 25px;
    }

        nav .features > a {
            text-decoration: none;
            color: white;
        }

        nav .features .active {
            border-bottom: 3px solid white;
        }

        nav .features > a > :hover {
            border-bottom: 3px solid white;
        }

        nav .features > a > h1 {
            font-size: 1.1vw;
            letter-spacing: -1px;
            font-weight: 600;
        }

    nav .hamburger {
        display: none;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
}









