@model List<BOTS_BL.Models.tblGroupDetail>

<div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
    <div class="row" id="ShowEnableDetails" style="display:none; margin-bottom:20px;padding-bottom:20px;">
        <div class="col search-container" style="border:2px solid grey; padding:20px; border-radius:10px;">
            <input type="hidden" id="hdnGroupId" />
            <div class="row" style="margin: 0; padding-top:10px;">

                <div class="col-sm-3" style="float:left;">
                    Fees
                    <input id="txtFees" type="number" class="input50" />
                </div>

                <div class="col-sm-3" style="float:left;">
                    Start Date
                    <input id="txtStartDate" type="date" class="input50" />
                </div>
                <div class="col-sm-3" style="float:left;width:50px;">
                    RS per Feedback
                    <input id="txtPerFeedback" type="number" class="input50" />
                </div>
                <div class="col-sm-3" style="float:left;">
                    Payment Mode
                    <select id="ddlPaymentMode" class="input50">
                        <option value="0">Please Select</option>
                        <option value="Online">Online</option>
                        <option value="Cheque">Cheque</option>
                    </select>
                </div>
                <div class="col-sm-3" style="float:left;width:50px;">
                    Recharge Reminder count
                    <input id="txtReminderCount" type="number" class="input50" />
                </div>
                <div class="col-sm-1" style="margin-top:10px;">
                    <button class="btn btn-primary" onclick="EnableFeedback();">Save</button>
                </div>
            </div>
            

        </div>
    </div>
    <div class="row">
        <div class="col search-container">
            <i class="fas fa-search"></i>
            <input class="input100" type="text" id="txtSearch" placeholder="Search Groups..." />
        </div>
    </div>
    <div class="row mt-3" id="dvneverOptedForData">
        <div class="table-responsive">
            <table class="table" id="neverOptedForTable">
                <thead>
                    <tr>
                        <th scope="col" style="text-align:left;">Group Name</th>
                        <th scope="col" style="text-align: center;">No Of Outlet</th>
                        <th scope="col" style="text-align: center;">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.GroupName</td>
                                    <td style="text-align:center;">@item.OutletCount</td>
                                    <td style="text-align:center;"><a href="#" onclick="ShowEnableDetails(@item.GroupId);">Enable</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#neverOptedForTable').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers"
        });

        $('#neverOptedForTable_filter').hide();

        $('#txtSearch').on('keyup', function () {
            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table1 = $('#neverOptedForTable').DataTable();
            table1.draw();
        });

        $("#txtFees").focusout(function () {
            if ($("#txtFees").val() != "") {
                $('#txtFees').css('border-color', '');
            }
            else {
                $('#txtFees').css('border-color', 'red');
            }
        }); 
        $("#txtStartDate").focusout(function () {
            if ($("#txtStartDate").val() != "") {
                $('#txtStartDate').css('border-color', '');
            }
            else {
                $('#txtStartDate').css('border-color', 'red');
            }
        });
        $("#txtPerFeedback").focusout(function () {
            if ($("#txtPerFeedback").val() != "") {
                $('#txtPerFeedback').css('border-color', '');
            }
            else {
                $('#txtPerFeedback').css('border-color', 'red');
            }
        });

        $('#ddlPaymentMode').change(function () {
            if ($("#ddlPaymentMode option:selected").text() == "Please Select") {
                $('#ddlPaymentMode').css('border-color', 'red');
            }
            else {
                $('#ddlPaymentMode').css('border-color', '');
            }
        });
    });

    

    function EnableFeedback() {
        var returnStatus = true;
        if ($("#txtFees").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Fees",
                buttonText: "Okay"
            })
            $('#txtFees').css('border-color', 'red');
            returnStatus = false;
        }
        if ($("#txtStartDate").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Start Date",
                buttonText: "Okay"
            })
            $('#txtStartDate').css('border-color', 'red');
            returnStatus = false;
        }
        if ($("#txtPerFeedback").val() == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter per Feedback rate",
                buttonText: "Okay"
            })
            $('#txtPerFeedback').css('border-color', 'red');
            returnStatus = false;
        }

        if ($("#ddlPaymentMode option:selected").text() == "Please Select") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please select Payment Mode",
                buttonText: "Okay"
            })
            $("#ddlPaymentMode").css('border-color', 'red');
            returnStatus = false;
        }
        if (returnStatus == true) {
            var SeardhData = [];
            item = {}
            item["GroupId"] = $("#hdnGroupId").val();
            item["Fees"] = $("#txtFees").val();
            item["StartDate"] = $("#txtStartDate").val();
            item["PerFeedback"] = $("#txtPerFeedback").val();
            item["PaymentMode"] = $("#ddlPaymentMode").val();
            item["ReminderCount"] = $("#txtReminderCount").val();

            

            SeardhData.push(item);
            var data = JSON.stringify(SeardhData);

            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("EnableFeedbackModule", "Feedback")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response) {
                        $("#divLoader").hide();
                        $("#txtFees").val("");
                        $("#txtStartDate").val("");
                        $('#PaymentMode').prop('selectedIndex', 0);
                        $("#hdnGroupId").val("");

                        setTimeout(cuteAlert({
                            type: "success",
                            title: "Save",
                            message: "Record Save Successfully!",
                            buttonText: "Okay"
                        }), 10000);
                    }
                    else {
                        setTimeout(cuteAlert({
                            type: "success",
                            title: "Save",
                            message: "Record Save Successfully!",
                            buttonText: "Okay"
                        }), 10000);
                    }                    
                    BindAllData();
                    $("#ShowEnableDetails").hide(1000);                   
                  
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    $("#divLoader").hide();
                }
            });
        }
    }

</script>
