
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="container-fluid pt-3 pl-3 pr-3">
        <div class="pt-3 pl-3 pr-3 pb-3 col-md-12 col-lg-12 card">
            <a href="@Url.Action("CreateFeedback", "Feedback")"> <button type="button" class="btn btn-primary pull-right">Update Feedback Details</button></a>

        </div>
    </div>
    </div>
