
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">

    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <b>Report</b>
            <div class="row mt-2">
                <div class="col-md-4 col-xl-6">
                   Feedback Name

                    @*@Html.DropDownList("Group", new SelectList(ViewBag.lstgroupdetails, "Value", "Text"), htmlAttributes: new { @class = "input100", @id = "ddlGroupnm" })*@
                </div>
                <div class="col-md-4 col-xl-6 ">
                    Date Range

                </div>

            </div>

            <div class="row mt-3 mb-4">
                <div class="col-md-4 col-xl-6">
                    Select Outlet

                </div>
                <div class="col-md-4 col-xl-6">
                    Select Avg Feedback score

                </div>
                <div class="col-md-4 col-xl-6">
                    Select Sales Representative

                </div>
                <div class="col-md-4 col-xl-6">
                    <input type="radio" id="rdnnorange" checked name="cust_type" /> No Range &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="rdndaterange" name="cust_type" /> Date Range <br /><br />
                    <input id="txtFromDate" placeholder="From Date" class="input50" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="txtToDate" placeholder="To Date" class="input50" />
                    <button type="button" id="btnFilter" style="margin-left:17px;margin-top:5px;" class="btn btn-primary"><b>FILTER</b></button>
                    <button type="button" id="btncancel" style="margin-left:17px;margin-top:5px;" class="btn btn-primary"><b>CANCEL</b></button>
                </div>
            </div>

            <div id="dvListing">
                @Html.Partial("~/Views/Feedback/_ReportListing.cshtml",)
            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
