
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutITOPS.cshtml";
}

<h2>Change Name</h2>

<div class="row">
    <input type="hidden" id="hdnGroupId" />
    <div class="col-12 col-lg-12 m-auto ">
        <div class="multisteps-form__form">
            <!--Change Member Name-->
            <div class="multisteps-form__panel shadow p-4 list-box bg-white js-active" id="sec1" data-animation="scaleIn">

                <br />
                <div class="multisteps-form__content">
                    <div>
                        <label style="padding-right:5px;padding-top:10px;">Enter Mobile Number </label>
                        <input type="number" id="txtMobileNo" class="input50" />

                        <label style="padding-right:30px;padding-top:10px;padding-left:30px;"><b>(OR)</b> </label>

                        <label style="padding-right:5px;padding-top:10px;">Enter Card Number </label>
                        <input type="number" id="txtCardNo" class="input50" />
                        <button type="button" id="btnSearchMember" style="margin-left:15px;margin-top:10px;" class="btn btn-primary">Go</button>
                    </div>
                    <div>
                        <div style="margin-left:30px;margin-bottom:30px;margin-top:30px;">
                            <input type="radio" name="first_item" id="rbtnSMS" /> Send SMS
                            <input type="radio" name="first_item" checked style="margin-left:30px;" id="rbtnNOSMS" /> Don't Send SMS
                        </div>
                        <div style="display:flex;">
                            <input type="hidden" id="hdnCustomerId" />
                            <table border="2" cellpadding="5" cellspacing="5">
                                <tr>
                                    <th colspan="2" style="padding:10px;text-align:center;">Existing Member Details</th>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Member Name</td>
                                    <td style="padding:10px;width:150px;"><span style="color:red;" id="spnMemberName"></span></td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Mobile No</td>
                                    <td style="padding:10px;"><span id="spnMobileno"></span></td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Card No</td>
                                    <td style="padding:10px;"><span id="spnCardNo"></span></td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Points Balance</td>
                                    <td style="padding:10px;"><span id="spnPtBalance"></span></td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Enrolled Outlet</td>
                                    <td style="padding:10px;"><span id="spnEnrolledOutlet"></span></td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Enrolled On</td>
                                    <td style="padding:10px;">
                                        <span id="spnEnrolledOn"></span>
                                    </td>
                                </tr>

                            </table>
                            <table border="2" cellpadding="5" cellspacing="5" id="tblUpdateData" style="margin-left:50px;display:none;">
                                <tr>
                                    <th colspan="2" style="padding:10px;text-align:center;">Add New Name</th>
                                </tr>
                                <tr>
                                    <td style="padding:10px;width:100px;">Enter New Correct Name</td>
                                    <td style="padding:10px;width:350px;">
                                        <input type="text" id="txtFirstName" placeholder="First Name" class="input50" />
                                        <input type="text" id="txtLastName" placeholder="Last Name" class="input50" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Requested by</td>
                                    <td style="padding:10px;">
                                        <input type="text" id="txtRequestedByName" placeholder="Requested By" class="input50" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Requested on Forum</td>
                                    <td style="padding:10px;">
                                        <select name="ddlRequestedForum" id="ddlRequestedForum" class="input50">
                                            <option value="Whatsapp">Whatsapp</option>
                                            <option value="Email">Email</option>
                                            <option value="Phone">Phone</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:10px;">Transaction Date</td>
                                    <td style="padding:10px;"><input type="text" id="dtEnrolledOn1" class="input50" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="button-row d-flex mt-4">
                    <button class="btn btn-primary ml-auto" type="button" title="Next" id="btnSaveMemberName" tabindex="20">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {

        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        // alert(today);
        $("#dtEnrolledOn1").datepicker({

            dateFormat: "yy-mm-dd",
            maxDate: today,
            //  minDate: '-4'
        });
    });
    $('#btnchgnm').on("click", function () {
        GetClearAllTab();
    });

    $('#btnSearchMember').on("click", function () {
        GetChangeNameData();
    });

    $('#btnSaveMemberName').on("click", function () {
        SaveMemberName();
    });


    function GetChangeNameData() {
        if ($('#txtMobileNo').val() == "" && $('#txtCardNo').val() == "") {
            toastr.error('Please enter Mobile Number OR Card Number');
            return false
        }
        if ($('#txtMobileNo').val() != "" && $('#txtCardNo').val() != "") {
            toastr.error('Please enter Mobile Number OR Card Number');
            return false
        }
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetChangeNameData", "NameAndMobile")',
            data: '{MobileNo: ' + JSON.stringify($('#txtMobileNo').val()) + ',CardNo: ' + JSON.stringify($('#txtCardNo').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
            if (result.MemberName != null) {
            $("#spnMemberName").text(result.MemberName);
            $("#spnMobileno").text(result.MobileNo);
            $("#spnCardNo").text(result.CardNo);
            $("#spnPtBalance").text(result.PointsBalance);
            $("#spnEnrolledOutlet").text(result.EnrolledOutletName);
            $("#spnEnrolledOn").text(result.EnrolledOn);
            $("#hdnCustomerId").val(result.CustomerId);

            $('#txtFirstName').val("");
            $('#txtLastName').val("");
            $('#txtRequestedByName').val("");
            $('#ddlRequestedForum').prop('selectedIndex', 0);
            $("#dtEnrolledOn1").val("");
            $("#tblUpdateData").show();
            }
            else {
            toastr.error('Member not present. Please check entered Mobile Number OR Card Number');
            $("#spnMemberName").text("");
            $("#spnMobileno").text("");
            $("#spnCardNo").text("");
            $("#spnPtBalance").text("");
            $("#spnEnrolledOutlet").text("");
            $("#spnEnrolledOn").text("");
            $("#hdnCustomerId").val("");

            $('#txtFirstName').val("");
            $('#txtLastName').val("");
            $("#dtEnrolledOn1").val("");
            $('#txtRequestedByName').val("");
            $('#ddlRequestedForum').prop('selectedIndex', 0);
            $("#tblUpdateData").hide();
            }
            $("#divLoader").hide();
            },
            error: function (result) {
            console.log(result.responseText)
            $("#divLoader").hide();
            }

        });
    }

    function SaveMemberName() {

        if ($('#txtFirstName').val() == "") {
            toastr.error('Please enter First Name');
            $('#txtFirstName').focus();
            return false;
        }
        if ($('#txtRequestedByName').val() == "") {
            toastr.error('Please enter Requested Person name');
            $('#txtRequestedByName').focus();
            return false;
        }
        if ($('#dtEnrolledOn1').val() == "") {
            toastr.error('Please select transaction date');
            $('#dtEnrolledOn1').focus();
            return false;
        }

        if (confirm("Are you sure? You want to change the Name")) {
            var MemberData = [];
            item = {}
            item["GroupID"] = $("#hdnGroupId").val();
            item["CustomerId"] = $("#hdnCustomerId").val();
            item["Name"] = $("#txtFirstName").val() + " " + $("#txtLastName").val();
            item["RequestedBy"] = $("#txtRequestedByName").val();
            item["RequestedForum"] = $('#ddlRequestedForum :selected').text();
            item["RequestedOn"] = $("#dtEnrolledOn1").val();

            if ($('#rbtnSMS').is(":checked")) {
                item["IsSMS"] = 1;
            }
            if ($('#rbtnNOSMS').is(":checked")) {
                item["IsSMS"] = 0;
            }
            MemberData.push(item);
            var data = JSON.stringify(MemberData);
            console.log(data)
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeMemberName", "NameAndMobile")',//"/ITOperations/ChangeMemberName",
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(111)
                },
                error: function (result) {
                    console.log(result.responseText)
                    if (result.responseText == "True") {
                        toastr.success("Member Name Updated Successfully");
                        $("#divLoader").hide();
                        $('#sec1').find(':input').val('');

                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
        }
    }

</script>

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />