@model WebApp.ViewModel.EventViewModel
@{
    ViewBag.Title = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .title{
        text-align:center;
        font-size:20px;
        font-style:italic;
    }
</style>
<div class="container-fluid pt-3 pl-3 pr-3" style="margin-top:10px">
    <div class="title">
        <b>Create Event</b>
    </div>
    
    <div class="mb-2 pr-3 pt-3 pl-3 card" style="padding-bottom:20px; border-radius:20px">
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Event Name *</b>
            </div>
            <div>
                <input type="text" id="IdEventName" class="input50" placeholder="Enter Event Name" style="margin-top: 20px; " />
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Event Date *</b>
            </div>
            <div>
                <input type="date" id="IdEventDate" class="input50" placeholder="Select Date" style="margin-top: 20px; " />
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Event Place *</b>
            </div>
            <div>
                <input type="text" id="IdEventPlace" class="input50" placeholder="Enter Event Place" style="margin-top: 20px; " />
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Event Type *</b>
            </div>
            <div>
                @Html.DropDownListFor(model => model.EvtType, new SelectList(Model.EventType(), "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlIdEventType", @style = "margin-top: 20px; " })
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-2 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Event Start & End Dates *</b>
            </div>
            <div>
                @*<input type="date" id="IdEventStrDate" class="input50" placeholder="Enter Event Type" style="margin-top: 20px;"/>*@
                <input type="datetime-local" id="IdEventStrDate" name="StrDate" class="input50" value="2023-01-01T00:00" min="2023-01-01T00:00" max="2073-01-01T00:00" style="margin-top: 20px;">
            </div>
            <div class="ml-5">
                @*<input type="date" id="IdEventEndDate" class="input50" style="margin-top: 20px;"/>*@
                <input type="datetime-local" id="IdEventEndDate" name="EndDate" class="input50" value="2023-01-01T00:00" min="2023-01-01T00:00" max="2073-01-01T00:00" style="margin-top: 20px;">
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Bonus Points *</b>
            </div>

            <div>
                <input type="number" id="IdBonusPoints" class="input50" placeholder="Enter Points" style="margin-top: 20px; " />              
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Bonus Points Expiry *</b>
            </div>

            <div>
                <input type="number" id="IdPointsExp" class="input50" placeholder="Exp in Days" style="margin-top: 20px; " />                
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-2 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>First Remainder *</b>
            </div>
            <div class="mt-3">
                <textarea class="input50" id="IdFirstRemaind" maxlength="10000" placeholder="Enter Script"></textarea>
            </div>
            <div class="ml-5">
                @*<input type="date" id="IdFirstRemdDate" class="input50" style="margin-top: 20px; " />*@
                <input type="datetime-local" id="IdFirstRemdDate" name="EndDate" class="input50" value="2023-01-01T00:00" min="2023-01-01T00:00" max="2073-01-01T00:00" style="margin-top: 20px;">
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-2 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Second Remainder</b>
            </div>
            <div class="mt-3">
                <textarea class="input50" id="IdSecondRemaind" maxlength="10000" placeholder="Enter Script"></textarea>
            </div>

            <div class="ml-5">
                @*<input type="date" id="IdSecondRemdDate" class="input50" style="margin-top: 20px; " />*@
                <input type="datetime-local" id="IdSecondRemdDate" name="EndDate" class="input50" value="2023-01-01T00:00" min="2023-01-01T00:00" max="2073-01-01T00:00" style="margin-top: 20px;">
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-3" style="margin-left: 18px; margin-top: 20px; ">
                <b>Description</b>
            </div>

            <div class="col-md-4 mt-3">
                <textarea class="form-control" id="idDescription" rows="6" maxlength="10000" placeholder="Enter Description"></textarea>
            </div>
        </div>
        <div class="row mb-2 ml-2">
            <div class="col-md-3 col-xl-6" style="margin-left: 18px; margin-top: 20px; ">
                <button type="button" id="btnSave" style="margin-left:25px;" class="btn btn-primary" Onclick="Validation()" ><b>Submit</b></button>
                <button type="button" id="btnDownload" style="margin-left:15px;" class="btn btn-primary"><b>Cancel</b></button>
            </div>
        </div>
    </div>
</div>
<script>
    function Validation() {
        var EventName = $("#IdEventName").val();
        var EventDate = $("#IdEventDate").val();
        var EventPlace = $("#IdEventPlace").val();
        var EventType = $("#ddlIdEventType").val();
        var EventStrDate = $("#IdEventStrDate").val();
        var EventEndDate = $("#IdEventEndDate").val();
        var BonusPoints = $("#IdBonusPoints").val();
        var PointsExp = $("#IdPointsExp").val();
        var FirstRemaindScript = $("#IdFirstRemaind").val();
        var FirstRemaindDate = $("#IdFirstRemdDate").val();
        var SecondRemaindScript = $("#IdSecondRemaind").val();
        var SecondRemdDate = $("#IdSecondRemdDate").val();
        var Description = $("#idDescription").val();

        if (EventName =="") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Name",
                buttonText: "Okay"
            })
        }
        else if (EventDate == "")
        {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Date",
                buttonText: "Okay"
            })
        }
        else if (EventPlace == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Place",
                buttonText: "Okay"
            })
        }
        else if (EventType == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the EventType",
                buttonText: "Okay"
            })
        }
        else if (EventStrDate == "") {
              cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event Start Date",
                buttonText: "Okay"
               })
        }
        else if (EventEndDate == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter the Event End Date",
                buttonText: "Okay"
            })
        }
        else if (BonusPoints == "") {
             cuteAlert({
                    type: "error",
                    title: "Oops..",
                    message: "Please enter Bonus Points",
                    buttonText: "Okay"
             })
        }
        else if (PointsExp == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Bonus Expiry",
                buttonText: "Okay"
            })
        }
        else if (FirstRemaind == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter 1st Remainder script",
                buttonText: "Okay"
            })
        }
        else if (FirstRemaindDate == "") {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Remainder Date",
                buttonText: "Okay"
            })
        }

        else
        {
            var FilterData = [];
            item = {};
            item["EventName"] = EventName;
            item["EventDate"] = EventDate;
            item["EventPlace"] = EventPlace;
            item["EventType"] = EventType;
            item["EventStrDate"] = EventStrDate;
            item["EventEndDate"] = EventEndDate;
            item["BonusPoints"] = BonusPoints;
            item["PointsExp"] = PointsExp;
            item["FirstRemaindScript"] = FirstRemaindScript;
            item["FirstRemaindDate"] = FirstRemaindDate;
            item["SecondRemaindScript"] = SecondRemaindScript;
            item["SecondRemdDate"] = SecondRemdDate;
            item["Description"] = Description;
            FilterData.push(item);
            var data = JSON.stringify(FilterData);
            $("#divLoader").show();

               $.ajax({
                  type: "POST",
                  url: '@Url.Action("SaveEvent", "Events")',
                  data: '{jsonData: ' + JSON.stringify(data) + '}',
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (result) {
                    console.log(result)
                    
                    $("#divLoader").hide();
                  },
                   error: function (result) {
                    //alert(111)
                    console.log(result.responseText)
                   }
               });
         }

    }
</script>
