@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #loader {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 1;
        z-index: 1021;
        background: rgba(255, 255, 255, .7);
    }

    .loader-inner {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: relative;
        margin: auto;
    }

        .loader-inner:before,
        .loader-inner:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
        }

        .loader-inner:before {
            z-index: 100;
        }
</style>

<div id="divLoader" runat="server" style="display:none">
    <div id="loader">
        <div class="loader-inner">
            <img src="https://blueocktopus.in/CaramellaEnquiry/Content/BlueocktopusLoadingGIF.gif" style="width:100px; height:100px;" />
        </div>
    </div>
</div>
<div class="col-12">
    <div style="padding-top:5px; text-align:center;">
        <img src="https://blueocktopus.in/Logo/CaramellasLogo.png" width="150" />
    </div>
    <div>
        <table style="text-align:center;">
            <tr>
                <td style="padding-top:20px; font-family:Verdana; font-size:15px;letter-spacing:1px;">
                </td>
                <td style="padding-top:20px;">
                </td>
            </tr>
            <tr>
                <td id="fillform" style="padding-top:10px; font-family:Verdana; font-size:13px; ">
                    Please fill this form and we will take you through caramella's franchisee opportunity in detail
                </td>
            </tr>
        </table>
    </div>

    <div class="col-12">
        <div class="row" style="margin-top:20px;">
            <div class="col-1" style="padding-right:0px !important;"></div>
            <div class="col-5">*Name</div><div class="col-3">
                <input type="text" id="txtName" />
            </div>

        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-1" style="padding-right:0px !important;"></div>
            <div class="col-5">*Mobile No.</div><div class="col-3">
                <input type="number" id="txtMobileNo" />
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-1" style="padding-right:0px !important;"></div>
            <div class="col-5">*Area of Franchisee.</div><div class="col-3">
                <input type="text" id="txtArea" />
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-4"></div>
            <input type="button" id="btnSubmit" class="btn btn-primary" value="SUBMIT" onclick="SendEmail();" />
        </div>
        <div class="row" style="margin-top:0px; color:red;">
            <div class="col-1" style="padding-right:0px !important;"></div>
            <span id="spncustnm" style="font:bold;"></span>
        </div>

        <table id="tblsucessmsg" style="display: none; color: red; font: bold; font-family: Verdana; padding-top: 40px; text-align: center;">
            <tr>
                <td>
                    Thank you for showing interest.Our representative will connect with you in a day!!!

                </td>
            </tr>
        </table>
        <table id="tbllogo" style="text-align:center; font-family:Verdana; color:deepskyblue;">
            <thead>
                <tr>
                    <td>
                        <b> Successfully running our franchisee at more than 45 outlets across Pune,Satara,Shirur and Nagar!!!</b>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

    });

    function validate() {
        var MobileNo = $('#txtMobileNo').val();
        var Name = $('#txtName').val();
        var Area = $('#txtArea').val();

        var errormsg = [];
        if (/^[6789]\d{9,9}$/.test(MobileNo)) {

        }
        else {
            errormsg.push("Invalide MobileNo Or Enter MobileNo");

        }
        if (Name == "") {
            errormsg.push("Enter Your Name");
        }
        if (Area == "") {
            errormsg.push("Enter Your Area");
        }

        return errormsg;
    }

    function SendEmail() {
            var MemberData = [];
            item = {}
            item["MobileNo"] = $('#txtMobileNo').val();
            item["Name"] = $('#txtName').val();
            item["Area"] = $('#txtArea').val();

            MemberData.push(item);
            var data = JSON.stringify(MemberData);
            console.log(data);

        var errorMessage = validate();
            console.log(errorMessage);

        if (errorMessage.length <= 0)
        {

            $("#divLoader").show();
            $.ajax({
                 type: "POST",
                 url: '@Url.Action("SendEmailAndSMS", "Home")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result != null) {
                                cuteAlert({
                                    type: "success",
                                    title: "Sent",
                                    message: "Thank you for showing interest.Our representative will connect with you in a day!!!",
                                    buttonText: "Okay"
                                })
                                console.log("in");
                                $("#tblform").hide();
                                //$('#tblsucessmsg').show();
                                $('#txtMobileNo').val('');
                                $('#txtName').val('');
                                $('#txtArea').val('');
                                $("#divLoader").hide();
                                $("#fillform").hide();

                            }
                            else {
                                console.log("fail");

                            }
                        },
                        failure: function (result) {
                            console.log("fail1");
                            $("#divLoader").hide();
                        },
                        error: function (result) {

                            $("#divLoader").hide();
                        }
              });
        }
        else
        {
            errorMessage.forEach(function (error) {
                $("#spncustnm").append('<li>' + error + '</li>');
            });
                    return false;
                    $("#divLoader").hide();
        }
   }


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>
