@model BOTS_BL.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/style.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<style>
    #loader {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 1;
        z-index: 1021;
        background: rgba(255, 255, 255, .7);
    }

    .loader-inner {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: relative;
        margin: auto;
    }

        .loader-inner:before,
        .loader-inner:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            /* border-radius: 100%;
                border: 10px solid transparent;
                border-top-color: darkblue;*/
        }

        .loader-inner:before {
            z-index: 100;
            /*background-image: url(~/Content/assets/BlueocktopusLoadingGIF.mp4);
                animation: spinner-border 1s infinite;*/
        }

        .loader-inner:after {
            /*border: 10px solid lightblue;*/
        }
</style>
<div class="container-fluid" style="background-image:url('../../Content/assets/BotsLoginBackground.jpeg'); background-position: center;background-repeat: no-repeat;background-size: cover;height: 100%;">
    <div id="divLoader" runat="server" style="display:none">
        <div id="loader">
            <div class="loader-inner">
                <img src="~/Content/assets/BlueocktopusLoadingGIF.gif" width="100px" height="100px" />
            </div>
        </div>
    </div>
    
    <div class="row justify-content-end h-100" style="margin-right:10px;">

        <div class="col-12 align-self-center text-center login-section" style="border-radius:50px;box-shadow:5px 5px 5px 5px #0A0A0A; margin-bottom:100px;">
            <div class="text-center">
                <img src="~/Content/assets/images/Blue Ocktopus-TLC_white.jpg" width="70%">
            </div>
            <div class="text-center" style="font-size:20px; color:#1C699F;">SAAS Platform for Retail</div>
            <div class="text-center" style="font-size:20px; color:#1C699F;"><b>Growth | Retention | Intelligence</b></div>

            <input type="text" id="txtEmailId" class="input100" placeholder="Enter Email" />
            <div class="mt-3" id="dvBtnReset">
                <button type="button" onclick="return CheckRequired();" class="btn btn-primary">Reset</button>
            </div>
            <div id="dvOTP" style="display:none;">
                <label id="lblMessageOTP" style="color:green;"><b>OTP sent successfully to your Email</b></label><br />
                <label id="lblMessageWrong" style="color:red;"><b>OTP not matched, please check again</b></label><br />
                <input type="text" id="txtOTP" class="input100" placeholder="Enter OTP" /><br />
                <button type="button" onclick="return VerifyOTP();" class="btn btn-primary">Verify</button>
            </div>
            <div id="dvResetPass" style="display:none;">
                <input type="password" id="txtNewPass" class="input100" placeholder="Enter New Password" /><br />
                <input type="password" id="txtConfirmPass" class="input100" placeholder="Enter Confirm Password" /><br />
                <button type="button" onclick="return ResetPass();" class="btn btn-primary">Submit</button>
            </div>

            <br />
            <a href="@Url.Action("Index", "Login")" style="cursor:pointer;"><button type="button" class="btn btn-primary" style="margin-bottom:20px;">Back to Login</button></a>
            <br />
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".app-header").hide();
        $(".app-sidebar").hide();
        $(".app-wrapper-footer").hide();
    });
    function CheckRequired() {
        if ($("#txtEmailId").val() == "") {
            $("#txtEmailId").focus();
            toastr.error('Please enter Email ID');
            return false;
        }
        else {
            $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: "../Home/SendOTP",
                data: "{'emailId': '" + $("#txtEmailId").val() + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response) {
                        $("#dvBtnReset").hide();
                        $("#dvOTP").show();
                        $("#lblMessageWrong").hide();

                    }
                    else
                        toastr.error('There is problem while sending OTP, please try after sometime');

                    $("#divLoader").hide();
            },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {

                    $("#divLoader").hide();
                }
            });
    }
    }

    function VerifyOTP() {        
        if ($("#txtOTP").val() == "") {
            $("#txtOTP").focus();
            toastr.error('Please enter OTP');
            return false;
        }        
        $("#divLoader").show();

        $.ajax({
            type: "POST",
            url: "../Home/VerifyOTP",
            data: "{'emailId': '" + $("#txtEmailId").val() + "', 'OTP': '" + $("#txtOTP").val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response) {
                    $("#dvBtnReset").hide();
                    $("#dvOTP").hide();
                    $("#txtEmailId").hide();
                    $("#dvResetPass").show();
                }
                else
                    toastr.error('There is problem while sending OTP, please try after sometime');

                $("#divLoader").hide();
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {

                $("#divLoader").hide();
            }
        });

    }

    function ResetPass() {
        if ($("#txtNewPass").val() == "") {
            toastr.error('Please enter new password');
            $("#txtNewPass").focus();
            return false;
        }
        if ($("#txtConfirmPass").val() == "") {
            toastr.error('Please enter confirm password');
            $("#txtConfirmPass").focus();
            return false;
        }
        if ($("#txtNewPass").val() != $("#txtConfirmPass").val()) {
            toastr.error('New password and Confirm password should be same');
            $("#txtConfirmPass").focus();
            return false;
        }

        $.ajax({
            type: "POST",
            url: "../Home/ResetNewPassword",
            data: "{'emailId': '" + $("#txtEmailId").val() + "', 'newPassword': '" + $("#txtNewPass").val() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response) {
                    toastr.success('Password Updated Successfully!');                    
                }
                else
                    toastr.error('There is problem while updating the Password');

                $("#txtNewPassword").val("");
                $("#txtConfirmPassword").val("");
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {

                $("#divLoader").hide();
            }
        });
    }
</script>
