
@{
    ViewBag.Title = "SaveNPC";
}

<h2>SaveNPC</h2>

<div style="border:1px solid grey; border-radius:5px;padding:5px;">
    <div style="padding-right:10px;">
        Customer Mobile No
        <input type="text" id="frm1" class="input20" />
    </div>
    <div style="padding-right:10px; margin-top:20px;">
        Customer Name
        <input type="text" id="to1" class="input20" />
    </div>
    <div style="padding-right: 10px; margin-top: 20px;">
        Employee Name
        <input type="text" id="frm2" class="input20" />
    </div>
    <div style="padding-right:10px; margin-top:20px;">
        Category Name
        <input type="text" id="to2" class="input20" />
    </div>
    <div style="padding-right: 10px; margin-top: 20px;">
        Sub-Category Name
        <input type="text" id="frm3" class="input20" />
    </div>
    <div style="padding-right:10px; margin-top:20px;">
        Next Visit day
        <input type="number" id="per3" class="input20" />
    </div>
    <div style="padding-right:10px; margin-top:20px;">
        Remarks
        <input type="text" id="to4" class="input20" />
    </div>

    <div>
        <button type="button" id="btnEarnSave" onclick="return SaveEarnRule();" style="margin-right:10px;margin-bottom:20px;">Submit</button>
    </div>

</div>
