@using BOTS_BL.Models;
@{
    var logoUrl = (string)Session["LogoUrl"];
    var logoSize = (string)Session["LogoSize"];

}

<link href="~/Content/Menu.css" rel="stylesheet" />
<div id="dvHeaderInner" style="height:120px;" class="app-header header-shadow">
    <div id="dvHeader" style="height:120px;" class="app-header__content">
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left  ml-3 header-user-info">
                            <div class="widget-heading">
                                <!-- Navigation bar -->
                                <header class="header" style="text-align:center;">
                                    <!-- Logo -->
                                    <a href="#" class="logo" style="padding-top: 50px;">
                                        @if (logoSize == "Small")
                                        {
                                            <div style="box-shadow: 2px 6px 14px rgb(0 0 0 / 50%); height: 100px !important; width: 200px !important;">
                                                <img id="imgLogo" src="@logoUrl" width="200" height="100" />
                                            </div>
                                        }
                                        @if (logoSize == "Medium")
                                        {
                                            <div style="box-shadow: 2px 6px 14px rgb(0 0 0 / 50%); height: 150px !important;width:300px !important;">
                                                <img id="imgLogo" src="@logoUrl" width="300" height="150" />
                                            </div>
                                        }
                                        @if (logoSize == "Big")
                                        {
                                            <div style="box-shadow: 2px 6px 14px rgb(0 0 0 / 50%); height: 200px !important; width: 400px !important;">
                                                <img id="imgLogo" src="@logoUrl" width="400" height="200" />
                                            </div>
                                        }
                                    </a>
                                    <!-- Hamburger icon -->
                                    <input class="side-menu" type="checkbox" id="side-menu" />
                                    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
                                    <!-- Menu -->
                                    <nav class="nav">
                                        <ul class="menu">
                                            <li><a href="#">Gallery</a></li>
                                            <li><a href="#">Blog</a> </li>
                                            <li><a href="#">About</a></li>
                                        </ul>
                                    </nav>
                                </header>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var color = '@Session["HeaderColor"]';
        console.log(color);
        document.querySelector("#dvHeader").style.background = "linear-gradient(to bottom," + color + ", #ffffff)";//picker.toRGBAString();
        document.querySelector("#dvHeaderInner").style.background = "linear-gradient(to bottom," + color + ", #ffffff)";//picker.toRGBAString();


    });


</script>
