@model LeadGeneration.ViewModel.LeadViewModel
@using BOTS_BL.Models;
@{
    ViewBag.Title = "Meeting Matrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        Sales Manager Name <br /> @Html.DropDownListFor(model => model.lstSalesManager, new SelectList(Model.lstSalesManager, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlSalesManager" })
                    </div>
                </div>
                <div class="row mt-2 mb-5">
                    <div class="col-md-3 col-xl-3">                       
                        <input type="radio" id="rdnMTD" checked name="btdornot" /> MTD &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="rdnRange" name="btdornot" /> Range
                    </div>
                    <div class="col-md-4 col-xl-4">
                        From <br /> <input type="text" id="txtfromdt" class="input50" />
                    </div>
                    <div class="col-md-4 col-xl-4">
                        To <br /> <input type="text" id="txttodt" class="input50" />
                    </div>
                </div>
                <div class="row mt-2 mb-5">
                    <div class="col-md-4 col-sm-4">
                        <div id="dvType">
                            <input type="radio" name="callmeeting" id="rbtnMeeting" checked /> Meeting
                            <input type="radio" name="callmeeting" id="rbtnCalling" style="margin-left:50px;" /> Calling
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <br />
                        <button type="submit" id="btnGetReport" class="btn btn-primary pull-left" style="margin-right:10px;" onclick="return GetReport();">Search</button>
                    </div>
                </div>
            </div>

            <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="dvReport" style="display:none;">

            </div>
            <div class="container-fluid pt-3 pl-3 pr-3 pb-3" id="dvDetailReport" style="display:none;">
               
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        SetFilter();
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#txtfromdt").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });

        $("#txttodt").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });
        
        $("#rdnMTD").change(function () {
            SetFilter();
        });
        $("#rdnRange").change(function () {
            SetFilter();
        });
        RemoveRedBorder();
        GetReport();
    });
    function SetFilter() {
        if ($("#rdnMTD").is(":checked")) {
            $("#txtfromdt").attr("disabled", "disabled");
            $("#txttodt").attr("disabled", "disabled");
            $('#txtfromdt').val('');
            $('#txttodt').val('');
        }

        if ($("#rdnRange").is(":checked")) {
            $("#txtfromdt").removeAttr("disabled");
            $("#txttodt").removeAttr("disabled");
        }
    }
    function RemoveRedBorder() {
        $("#txtfromdt").change(function () {
            if ($("#txtfromdt").val() != "") {
                $('#txtfromdt').css('border-color', '');
            }
            else {
                $('#txtfromdt').css('border-color', 'red');
            }
        });
        $("#txttodt").change(function () {
            if ($("#txttodt").val() != "") {
                $('#txttodt').css('border-color', '');
            }
            else {
                $('#txttodt').css('border-color', 'red');
            }
        });
        $('#rbtnMeeting').on('change', function () {
            $('#dvType').css('border', '');
        });
        $('#rbtnCalling').on('change', function () {
            $('#dvType').css('border', '');
        });
    }
    function GetReport() {
        var returnStatus = true;
        
        if (returnStatus == true) {
            var SeardhData = [];
            item = {}
            if ($("#rdnMTD").is(":checked")) {
                item["isMTD"] = "1";
            }
            if ($("#rdnRange").is(":checked")) {
                item["isMTD"] = "0";
            }
            
            item["frmDate"] = $("#txtfromdt").val();
            item["toDate"] = $("#txttodt").val();
            item["SalesManager"] = $("#ddlSalesManager").val();
            if ($("#rbtnMeeting").is(":checked")) {
                item["MeetingOrCall"] = "Meeting";
            }
            else if ($("#rbtnCalling").is(":checked")) {
                item["MeetingOrCall"] = "Calling";
            }
            else {
                item["MeetingOrCall"] = "None";
            }

            SeardhData.push(item);
            var data = JSON.stringify(SeardhData);
            $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetMeetingMatrixList", "LeadReport")',
                data: '{searchData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#dvReport').html(response);
                    $('#dvDetailReport').hide();
                    $('#dvReport').show(1000);
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    $('#dvReport').html(response.responseText);
                    $('#dvDetailReport').hide();
                    $('#dvReport').show(1000);
                    $("#divLoader").hide();
                }
            });
        }
        else {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please enter Required fields",
                buttonText: "Okay"
            })
            return false;
        }
    }

    function ShowData(SMId, type) {        
        var SearchData = [];
        item = {}

        item["frmDate"] = $("#txtfromdt").val();
        item["toDate"] = $("#txttodt").val();
        item["SalesManager"] = SMId;
        if ($("#rbtnMeeting").is(":checked")) {
            item["MeetingOrCall"] = "Meeting";
        }
        else if ($("#rbtnCalling").is(":checked")) {
            item["MeetingOrCall"] = "Calling";
        }
        else {
            item["MeetingOrCall"] = "None";
        }
        item["type"] = type;

        SearchData.push(item);

        var data = JSON.stringify(SearchData)
        $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetMeetingMatrixDetailReport", "LeadReport")',
                data: '{searchData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#dvDetailReport').html(response);
                    $('#dvDetailReport').show(1000);
                    $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                },
                error: function (response) {
                    $('#dvDetailReport').html(response.responseText);
                    $('#dvDetailReport').show(1000);
                    $("#divLoader").hide();
                }
            });
        //$("#dvDetailReport").show(1000)
    }

</script>

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />