
@{
    ViewBag.Title = "AddEdit DLC Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row mb-3 card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="row" style="margin: 0; padding-top:10px;">
                <div style="float:left;text-align:right;width:100px;">
                    Date
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="txtDate" class="input100" />
                </div>
                <div style="float:left;text-align:right;width:100px;">
                    Points
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="txtPoints" class="input100" />
                </div>
            </div>
            <div class="row" style="margin: 0; padding-top:10px;">
                <div style="float:left;text-align:right;width:100px;">
                    MemberType
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="txtMemberType" class="input100" />
                </div>
                <div style="float:left;text-align:right;width:100px;">
                    SMS
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="txtSMS" class="input100" />
                </div>
            </div>
            <div class="row" style="margin: 0; padding-top:10px;">
                <div style="float:left;text-align:right;width:100px;">
                    WhatsApp
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="WhatsApp" class="input100" />
                </div>
                <div style="float:left;text-align:right;width:100px;">
                    SMS Remainder
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="txtSMSRemainder" class="input100" />
                </div>
            </div>
            <div class="row" style="margin: 0; padding-top:10px;">
                <div style="float:left;text-align:right;width:100px;">
                    WhatsApp Remainder
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="WhatsAppRemainder" class="input100" />
                </div>
                <div style="float:left;text-align:right;width:100px;">
                    Remainder Days
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="RemainderDays" class="input100" />
                </div>
            </div>
            <div class="row" style="margin: 0; padding-top:10px;">
                <div style="float:left;text-align:right;width:100px;">
                    LinkExpiry Date
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="LinkExpiryDate" class="input100" />
                </div>
                <div style="float:left;text-align:right;width:100px;" >
                    PointsExpiry Type
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="PointsExpiryType" class="input100" />
                </div>
            </div>
            <div class="row" style="margin: 0; padding-top:10px;">
                <div style="float:left;text-align:right;width:100px;" >
                    PointsExpiry Date
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="PointsExpiryDate" class="input100" />
                </div>
                <div style="float:left;text-align:right;width:100px;">
                    PointsExpiry Variable Days
                </div>

                <div class="col-sm-4" style="float:left;">
                    <input id="PointsExpiryVariableDays" class="input100" />
                </div>
            </div>

        </div>
    </div>
</div>
