@model List<BOTS_BL.Models.NoCustomerConnect>


<div class="row mb-3 pt-3 pl-3 pr-3">
    @if (Model != null)
    {
        int count = 1;
        <span style="font-size:20px;font-weight:bold;margin-bottom:20px;">No Customer Connect (more than 30 days)</span>
        <div class="table-responsive ">

            <table class="table" id="NoCustomerConnectTable">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Group Name</th>
                        <th style="text-align:center;">Customer Type</th>
                        <th>Last Connect Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.GroupName</td>
                            <td style="text-align:center;">@item.CustomerType</td>
                            <td>@item.LastConnectDate</td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    }
</div>
