@model  List<BOTS_BL.Models.tblNonRedeemedGroup>
@{
    ViewBag.Title = "Non Redeemed Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="container-fluid pt-3 pl-3 pr-3">
            <div class="pb-3">
                <h5 class="multisteps-form__title" style="font-weight: bold;">Non Redeemed Customers</h5><br />
            </div>
            <div class="content">
                @if (Model != null)
                {
                    <div>
                        <table class="table" id="NonRedeemingCustomers">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Last Txn Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.GroupName</td>
                                        <td>@item.LastTxnDate.Value.ToString("dd-MMM-yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#NonRedeemingCustomers').DataTable({
            "aaSorting": [],
            "paging": true,
            "ordering": true,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers"
        });

        $('#NonRedeemingCustomers_filter').hide();

        $('#txtLowSearch').on('keyup', function () {
            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtLowSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) >= 0) {
                        return true;
                    }
                }
                return false;
            });
            var table1 = $('#NonRedeemingCustomers').DataTable();
            table1.draw();
        });
    });

</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>