
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failed</title>
</head>
<body>
    <div> 
        <div style="text-align:center;margin-top:50px;color:red;">
            <h1> There is problem while subscription. Please contact your administrator !!! </h1>
        </div>
    </div>
</body>
</html>
