
@{
    ViewBag.Title = "LeaderBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<div class="app-main__inner">
    <div class="row" style="margin-left:20px;">

        <div class="row mb-3 pt-3 pl-3 pr-3 card">
            <div id="dvOutletWiseData">
                <b>
                    LEADERBOARD
                </b>
                <div class="row mb-3">
                    <div class="container-fluid pt-3 pl-3 pr-3">

                        <div class="pt-3 pl-3 pr-3 col-md-12 col-lg-12">
                            <div style="display:flex;">
                                <div class="col-md-3 col-xl-3">
                                    Cluster <br />
                                    @Html.DropDownList("Cluster", new SelectList(ViewBag.ClusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlClusterList" })

                                </div>
                                <div class="col-md-3 col-xl-3">
                                    Sub Cluster <br /> @Html.DropDownList("Sub-Cluster", new SelectList(ViewBag.SubclusterList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlSubClusterList" })

                                </div>
                                <div class="col-md-3 col-xl-3">
                                    City <br />@Html.DropDownList("City", new SelectList(ViewBag.CityList, "Value", "Text"), "All", htmlAttributes: new { @class = "input50", @id = "ddlCityList" })

                                </div>
                                <div class="col-md-3 col-xl-3" style="margin: 20px 0px;">
                                    <button class="btn btn-primary login-btn" type="button" id="btnFilter">
                                        Filter
                                    </button>
                                </div>

                             </div>
                                @*<div class="row row-grid">*@
                                <div class="col-md-6" style="margin: 20px 0px;">
                                    <input type="radio" name="first_item5" id="rbtnStockiest" value="SS" /> Super Stockiest &nbsp;&nbsp;&nbsp;&nbsp;

                                    <input type="radio" name="first_item5" id="rbtnDistributer" value="Distributor" /> Distributor &nbsp;&nbsp;&nbsp;&nbsp;

                                    <input type="radio" name="first_item5" id="rbtnRetailer" value="Retailers" /> Retailer
                                </div>

                                @*</div>*@
                                <div class="row mt-3" id="dvActivityData1">

                                    <div class="table-responsive">
                                        <table class="table" id="activityTable" style="width:100%;">
                                            <thead>
                                                <tr style="text-align:center;">
                                                    <td scope="col" style="border:1px solid black;border-left:0px;" colspan="3"></td>
                                                    <td scope="col" style="border:1px solid black; font-size:16px;" colspan="3"><b>Current Month</b> </td>
                                                    <td scope="col" style="border:1px solid black;border-right:0px; font-size:16px;" colspan="3"><b>Last Month</b> </td>
                                                    <td style="border:1px solid black;border-right:0px;"></td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Balance Points</th>
                                                    <th scope="col">Overall Rank</th>
                                                    <th scope="col">Cluster Rank</th>
                                                    <th scope="col">Star Rating</th>
                                                    <th scope="col">Overall Rank</th>
                                                    <th scope="col">Cluster Rank</th>
                                                    <th scope="col">Star Rating</th>
                                                    <th scope="col">Movement</th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align:center;">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tableData = [];


    $(document).ready(function () {
        $('#rbtnStockiest').prop('checked', true);
        var radiobtn;
       
        $('#btnFilter').on("click", function () {
            GetLeaderBoard(0);
           
        });      
               
        $('#rbtnStockiest').on("click", function () {
            GetLeaderBoard(this.value,0);
           
        });
        $('#rbtnDistributer').on("click", function () {
            GetLeaderBoard(this.value,0);
          
        });
        $('#rbtnRetailer').on("click", function () {
            GetLeaderBoard(this.value,0);
           
        });
        $("#ddlClusterList").on('change', function () {
           
            $('#ddlSubClusterList').val = 0;
            $('#ddlCityList').val = 0;
        });
        $("#ddlSubClusterList").on('change', function () {
            
            $('#ddlClusterList :selected').val = 0;
            $('#ddlCityList :selected').val = 0;
        });
        $("#ddlCityList").on('change', function () {
            
            $('#ddlClusterList :selected').val = 0;
            $('#ddlSubClusterList :selected').val = 0;
        });
        GetLeaderBoard("SS");
    });

    function GetLeaderBoard(radiobtn) {
        console.log(radiobtn);
        $("#divLoader").show();
        var SummeryData = [];
        if ($("#ddlClusterList").prop('selectedIndex') == 0 && $("#ddlCityList").prop('selectedIndex') == 0 && $("#ddlSubClusterList").prop('selectedIndex') == 0) {
            // console.log("HI");
            item = {}
            item["Radiobtnchk"] = radiobtn;
            item["SubCluster"] = 0;
            item["Cluster"] = 0;
            item["City"] = 0;
            SummeryData.push(item);
        }
        else if ($("#ddlClusterList").prop('selectedIndex') !== 0) {
            console.log("cluster");
            item = {}
            item["Radiobtnchk"] = radiobtn;
            item["SubCluster"] = 0;
            item["Cluster"] = $('#ddlClusterList :selected').val();
            item["City"] = 0;
            SummeryData.push(item);

        }
        else if ($("#ddlCityList").prop('selectedIndex') !== 0) {
            item = {}
            item["Radiobtnchk"] = radiobtn;
            item["SubCluster"] = 0;
            item["Cluster"] =0;
            item["City"] = $('#ddlCityList :selected').val();
            SummeryData.push(item);

        }
        else if ($("#ddlSubClusterList").prop('selectedIndex') !== 0) {
            item = {}
            item["Radiobtnchk"] = radiobtn;
            item["SubCluster"] = $('#ddlSubClusterList :selected').val();
            item["Cluster"] = 0;
            item["City"] = 0;
            SummeryData.push(item);

        }
        var data = JSON.stringify(SummeryData);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLeaderBoard", "ManagementDashboard")',
            data: '{jsonData: ' + JSON.stringify(data) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                console.log(response);
                if (response != null) {
                    tableData.length = 0;
                    $.map(response, function (item) {

                        optionItem = {}
                        //optionItem["ParticipantType"] = item.ParticipantType;
                        optionItem["ID"] = item.ID;
                        optionItem["Name"] = item.Name;
                        optionItem["Balancepoints"] = item.NormalPoints;
                        optionItem["CurrentoverallRank"] = item.CurrentOverallRank;
                        optionItem["CurrentclusterRank"] = item.CurrentClusterRank;
                        optionItem["CurrentStarRating"] = item.CurrentStarRating;
                        optionItem["LastMonthoverallRank"] = item.LastMonthOverallRank;
                        optionItem["LastMonthclusterRank"] = item.LastMonthClusterRank;
                        optionItem["LastMonthStarRating"] = item.LastStarRating;
                        optionItem["RankMovement"] = item.RankMovement;
                        tableData.push(optionItem);
                    });
                    DrawTable();
                }
                else {                     

                }
                $("#divLoader").hide();

            },
            error: function (response) {

                console.log(response.responseText)
                $("#divLoader").hide();
            }
        });
    }
    
    function DrawTable() {
        var table1 = $('#activityTable').DataTable();
        table1.destroy();

        var table = $('#activityTable').DataTable({
            "data": tableData,
            "paging": true,
            "ordering": false,
            "info": true,
            "bFilter": true,
            "pageLength": 10,
            "pagingType": "simple_numbers",
            "columns": [
                //{ data:"ParticipantType"},
                { data: "ID" },
                { data: "Name" },
                { data: "Balancepoints" },
                { data: "CurrentoverallRank" },
                { data: "CurrentclusterRank" },
                { data: "CurrentStarRating" },
                { data: "LastMonthoverallRank" },
                { data: "LastMonthclusterRank" },
                { data: "LastMonthStarRating" },
                { data: "RankMovement" }


            ],
            aoColumnDefs: [
                {
                    className: 'dt-body-center',
                    //className: 'dt[-head]-center',
                    bSortable: false,
                    aTargets: []
                }
            ]
        });
        $('#activityTable_filter').hide();
        $('#txtSearch').on('keyup', function () {

            $.fn.dataTable.ext.search.push(function (settings, searchData) {
                var term = $('#txtSearch').val().toLowerCase()
                for (var i = 0; i < searchData.length; i++) {
                    if (searchData[i].toLowerCase().indexOf(term) == 0) {
                        return true;
                    }
                }
                return false;
            });
            var table = $('#activityTable').DataTable();
            table.draw();
        });

    }
    
   
</script>

<style>
    table.dataTable thead .sorting_asc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
    }

    table.dataTable thead .sorting_desc {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
    }

    table.dataTable thead .sorting {
        background: url("https://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
    }
</style>


