
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row card">
        <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
            <div class="row">
                <div class="col-md-12 col-sm-12 pt-3 pl-3 pr-3" style="text-align:center;">
                    <h1>Welcome!</h1>
                </div>
                <div class="col-md-12 col-sm-12 pt-5 pl-5 pr-5" style="text-align:center;">
                    <h2>Your feedback is critical!!</h2>
                </div>
                <div class="col-md-12 col-sm-12 pt-5 pl-5 pr-5" style="text-align:center;">
                    <h3>Get rewarded with <b>50 Loyalty Points</b> on feedback completion!!!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 pt-5 pl-5 pr-5 pb-5" style="text-align:center;">
                    <input type="number" class="input100" id="txtMobileNo" />

                </div>
                <div class="col-md-12 col-sm-12 pb-5" style="text-align:center;">
                    <button type="button" class="btn btn-primary" style="width: 280px; background-color: #1C699F; color:white; font-weight:bold; font-size:18px; border-radius:5px;" id="btnProceed">PROCEED</button>
                </div>
            </div>
        </div>
    </div>
</div>

