@model Chitale.ViewModel.TgtVsAchViewModel
@{
    ViewBag.Title = "Focus Vs Ach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="row" style="margin-left:10px;margin-right:10px;">
        <div class="row mb-3 pt-3 pl-3 pr-3 card" style="width:100%;">
            <div id="dvOutletWiseData">
                <b>FOCUS vs ACHIEVEMENT - <span id="spnDuration">(Current Month)</span></b>
                <div class="card-header-tab" style="margin-bottom:20px;">
                    <div>
                        <br />
                        @Html.DropDownListFor(model => model.MonthItems, new SelectList(Model.MonthItems, "Value", "Text"), "Select Month", htmlAttributes: new { @class = "input50", @id = "ddlMonthList" })&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.DropDownListFor(model => model.YearItems, new SelectList(Model.YearItems, "Value", "Text"), "Select Year", htmlAttributes: new { @class = "input50", @id = "ddlYearList" })
                        <button type="button" id="btnFilter" style="margin-left:17px;margin-top:5px;" class="btn btn-primary"><b>FILTER</b></button>

                    </div>
                </div>
                <div class="row mb-3" id="dvData">
                    @Html.Partial("~/Views/PointsLedger/_TgtVsAchList.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnFilter").click(function () {
            if ($("#ddlMonthList").val() == "" && $("#ddlYearList").val() == "") {
                BindData();
                $("#spnDuration").text("(Current Month)");
            }
            else if ($("#ddlMonthList").val() != "" && $("#ddlYearList").val() != "") {
                BindData();
                $("#spnDuration").text("(" + $("#ddlMonthList option:selected").text() + " " + $("#ddlYearList").val() + ")");
            }
            else {
                toastr.error('Please select both Month and Year');
            }
        });
    });
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

     function BindData() {
         var CustomerId = getUrlVars()["CustomerId"];
         var CustomerType = getUrlVars()["CustomerType"];

         var Month = $("#ddlMonthList").val();
         var Year = $("#ddlYearList").val();

         $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("TgtVsAchFiltered")',
            data: '{CustomerId: ' + JSON.stringify(CustomerId) + ',CustomerType: ' + JSON.stringify(CustomerType) + ',MonthVal: ' + JSON.stringify(Month) + ',YearVal: ' + JSON.stringify(Year) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response)
                if (response != null) {
                    $("#dvData").html(response);
                    $("#divLoader").hide();
                }
            },
            failure: function (response) {
                $("#divLoader").hide();
            },
            error: function (response) {
                $("#dvData").html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }

</script>