@{
    ViewBag.Title = "CreateCampaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateCampaign</h2>

<div class="app-main__inner" id="dvall">
    <div class="container-fluid pt-3 pl-3 pr-3 pb-3">
        @*<div class="row mb-3 pt-3 pl-3 pr-3 card">*@
           
            @*<div class="row">
                    <div class="col-md-6 col-xl-3">
                        <input class="radio" id="one" name="group" type="radio" checked><label>SMS</label>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <input class="radio" id="two" name="group" type="radio"><label>WA</label>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <input class="radio" id="three" name="group" type="radio"><label>VWA</label>
                    </div>
                </div>*@

            <div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;">
                @*<div class="col-sm-8" style="display:flex;padding-bottom: 10px;margin-top:5px;">*@
                <div class="row mt-4">
                    <div class="col-md-8 col-xl-8">
                        <input type="radio" checked id="rdnSMS" value="1" name="btdornot" /><b>SMS </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="rdnVSMS" value="2" name="btdornot" /><b> Virtual SMS </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="rdnWA" value="3" name="btdornot" /><b> Whats app</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="rdnVWA" value="4" name="btdornot" /><b> Verified Whats app</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>

                @*</div>*@
            </div>
            <div class="mb-3 pr-3 pt-3 pl-3 card" style="padding-bottom:20px;" id="SMSCamppanel">
                <div class="row" style="margin-top : 20px;">
                    <div class="col-sm-2">
                        Base Type
                    </div>
                    <div class="col-sm-2 dropdown">
                        <select id="BaseType" name="BaseType" class="input50" onchange="BaseCalc();">
                            <option value="1">All</option>
                            <option value="2">Member Base</option>
                            <option value="3">Bulk Upload</option>
                            <option value="4">Based On Points</option>
                        </select>
                    </div>
                </div>
                <div class="row " id="divPoints" style="margin-top : 20px; display: none;">
                    <div class="col-sm-2">
                        Points
                    </div>
                    <div class="col-sm-2 dropdown">
                        <select id="Filter" name="Filter" class="input50" onchange="pointsvalid();">
                            <option value="1">LessThan</option>
                            <option value="2">GreaterThan</option>
                            <option value="3">Equal To</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" id="points" name="points" class="input50"/>
                    </div>
                </div>

                <div class="row" style="margin-top : 20px;">
                    <div class="col-sm-2">
                        OutletData
                    </div>
                    <div class="col-sm-2 dropdown">
                        @Html.DropDownList("OutletData", new SelectList(ViewBag.OutletData, "Value", "Text"), "ALL", htmlAttributes: new { @class = "input50", @id = "ddlOutletList" })
                    </div>
                </div>
                <div class="row" style="margin-top : 20px;">
                    <div class="col-md-3 col-xl-3">
                        <div class="button">
                            <button type="button" id="btnFilter" style="margin-left:15px;" class="btn btn-primary" onclick="ShowCount();"><b>FILTER</b></button>
                        </div>
                    </div>
                        <div class="col-md-4 col-xl-4">
                            <table style="border:2px solid black;width:70%">
                                <tr style="border:2px solid black; ">
                                    <td style="border:2px solid black;text-align:left;">
                                        <span id="AllCount"></span>All Count
                                    </td>
                                    <td style="border:2px solid black;width:40%">
                                        <span id="AllCountnum"></span>
                                    </td>
                                </tr>
                                <tr style="border:2px solid black; ">
                                    <td style="border:2px solid black;text-align:left;">
                                        <span id="FiltCount"></span>Filtered Count
                                    </td>
                                    <td style="border:2px solid black;width:40%">
                                        <span id="FiltCountnum"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <div class="row" style="margin: 20px;">
                    <div style="float: left; text-align: right; width: 100px; margin-top: 10px;">
                        Script
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        <textarea class="form-control" id="SMSScript" rows="7" maxlength="10000"></textarea>&nbsp;&nbsp;
                    </div>
                    <div class="col-sm-4" style="float:left;margin-top:10px;">
                        <br><br><br><br><br><br><br><br>
                        <span id="current">0</span>
                    </div>
                </div>
                    <div class="row mt-2" style="margin-top : 20px;">
                        <div id="divdaterange" class="col-md-2 col-xl-3">
                            <label>Campaign From</label>                          
                        </div>
                        <div>
                            <input type="date" id="txtEnrollfromdt" class="input50" placeholder="Start" onchange="ValidateDate();" /> &nbsp;&nbsp;&nbsp;
                        </div>
                        <div>
                            <input type="date" id="txtEnrolltodt" class="input50" placeholder="End" onchange="ValidateDate1();"/> 
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-3 col-xl-3">
                            Campaign Name
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <input type="text" id="CampName" class="input50" placeholder="Enter Campaign Name" />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <input type="hidden" id="CampId" class="input50" />
                        </div>
                    </div>
                <div class="row" style="margin-top : 20px;">
                </div>
                    <div class="col-md-3 col-xl-4">
                        <div class="button">
                            <button type="button" id="btnSave" style="margin-left:15px;" class="btn btn-primary" onclick="SaveValidate();"><b>SAVE</b></button>
                            @*<button type="button" id="btnDownload" style="margin-left:15px;" class="btn btn-primary" onclick="DownLoad();"><b>DOWNLOAD</b></button>*@
                            <button type="button" id="btnSendDLT" style="margin-left:15px;" class="btn btn-primary" onclick="SendDLT();"><b>Send To DLT</b></button>
                        </div>
                    </div>
                    
                            
                        
                </div>

            @*</div>*@
        </div>
    </div>
    <script>
        function BaseCalc() {
            var val = document.getElementById("BaseType").value;
            var div = document.getElementById("divPoints");
            if (val == 4) {

                $('#divPoints').show();

            }
            else if (val != 4) {

                $('#divPoints').hide();
            }
    }

    function ValidateDate() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = year + '-' + month + '-' + day;

        var CampStartDate = $("#txtEnrollfromdt").val();
        if (CampStartDate < Date1) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "StartDate Can't be Older",
                buttonText: "Okay"

            })
            $("#txtEnrollfromdt").val("");
        }
    }
    function ValidateDate1() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = year + '-' + month + '-' + day;

        var CampEndDate = $("#txtEnrolltodt").val();
        if (CampEndDate < Date1) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "EndDate Can't be Older",
                buttonText: "Okay"
            })
            $("#txtEnrolltodt").val("");
        }
    }

    function SaveValidate() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = year + '-' + month + '-' + day;


        var Script = $("#SMSScript").val();
        var StartDate = $("#txtEnrollfromdt").val();
        var EndDate = $("#txtEnrolltodt").val();
        var CampName = $("#CampName").val();
        var AllCount = $("#AllCountnum").text();
        var FiltCountnum = $("#FiltCountnum").text();


        if (AllCount == "") {

            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "No Data Selected",
                buttonText: "Okay"
            })
        }
        else if (FiltCountnum == "") {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "No Data Selected",
                buttonText: "Okay"
            })
        }
        else if (Script == "") {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Script can't be Empty",
                buttonText: "Okay"
            })
        }
        else if (StartDate < Date1) {

            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "StartDate Can't be Older",
                buttonText: "Okay"
            })
        }
        else if (EndDate < Date1) {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "EndDate Can't be Older",
                buttonText: "Okay"
            })
        }
        else if (CampName == "") {
            cuteAlert({
                type: "error",
                title: "Error Title",
                message: "Campaign Name Can't Empty",
                buttonText: "Okay"
            })
        }
        else {
            Save();
        }
    }


    $(document).ready(function () {
            $("#ddlOutletList").on("change", function () {
                var OutletId = $("#ddlOutletList").val();
            });
        });

    function ShowCount() {
        var val = '';
        var Equality = '';
        var Points = '';
        var OutletId = '';

            val = document.getElementById("BaseType").value;
            Equality = document.getElementById("Filter").value;
            Points = document.getElementById("points").value;
            OutletId = $("#ddlOutletList").val();
        if (val != '4') {
            Equality = ''
            Points = ''
        }
        else if (val == '4') {
            if (Points == '') {
                cuteAlert({
                    type: "error",
                    title: "Error Title",
                    message: "Enter Points",
                    buttonText: "Okay"
                })
            }
        }
            var FilterData = [];
            item = {};
            item["BaseType"] = val;
            item["PointsBase"] = Equality;
            item["Points"] = Points;
            item["OutletId"] = OutletId;
            FilterData.push(item);
            var data = JSON.stringify(FilterData);

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetFilteredData", "Campaigns")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        $("#AllCountnum").text(response.CustCountALL);
                        $("#FiltCountnum").text(response.CustFiltered);
                        //$("#divLoader").hide();
                    }
                    else {

                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
    }

    function Save() {
        var d = new Date();
        month = ("0" + (d.getMonth() + 1)).slice(-2);
        day = ("0" + d.getDate()).slice(-2);
        year = d.getFullYear();
        var Date1 = day + '-' + month + '-' + year;

        var val = '';
        var Equality = '';
        var Points = '';
        var OutletId = '';
        var Srcipt = '';
        var StartDate = '';
        var EndDate = '';
        var CampaignName = '';
        var SMSType = '';

        val = $("#BaseType").val();
        Equality = $("#Filter").val();
        Points = $("#points").val();

        if (val != '4') {
            Equality = ''
            Points = 0
        }

        OutletId = $("#ddlOutletList").val();
        Srcipt = $("#SMSScript").val();
        StartDate = $("#txtEnrollfromdt").val();
        EndDate = $("#txtEnrolltodt").val();
        CampaignName = $("#CampName").val();

        if (document.getElementById("rdnSMS").checked) {
            SMSType = $("#rdnSMS").val();
        }
        else if (document.getElementById("rdnWA").checked) {
            SMSType = $("#rdnWA").val();
        }
        else if (document.getElementById("rdnVWA").checked) {
            SMSType = $("#rdnVWA").val();
        }


        var FilterData = [];
        item = {};
        item["BaseType"] = val;
        item["Equality"] = Equality;
        item["Points"] = Points;
        item["OutletId"] = OutletId;
        item["Srcipt"] = Srcipt;
        item["StartDate"] = StartDate;
        item["EndDate"] = EndDate;
        item["CampaignName"] = CampaignName;
        item["SMSType"] = SMSType;

        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        //alert(data);
        $.ajax({
                type: "POST",
                url: '@Url.Action("SaveData", "Campaigns")',
                data: '{jsonData: ' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (response) {
                    console.log(response);
                    if (response != null) {

                        $("#CampId").val(response[0].CampaignId);

                        cuteAlert({
                            type: "success",
                            title: "Success Title",
                            message: "Campaign Saved" + response[0].CampaignId,
                            buttonText: "Okay"
                        })

                    }
                    else {

                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });

    }
    function DownLoad() {
        var CampaignId;
        CampaignId = $("#CampId").val();

        var urlLink = "@Url.Action("ExportToExcelCampaignData", "Campaigns")";
        urlLink = urlLink + "?CampaignId=" + CampaignId;
        console.log(urlLink);
        window.location.href = urlLink;
    }
    $("#SMSScript").keyup(function () {
        //alert("Inside Keyup");
        var characterCount = $(this).val().length,
            current = $('#current'),
            maximum = 0
        theCount = maximum + characterCount;
        //alert(theCount);
        $("#current").text(theCount);
    });
    </script>

