@model OTPPage.Models.Class2
@{
    ViewBag.Title = "Index";
}


<div style="border-radius:5px;padding:5px;margin-top:100px;">

    @using (Html.BeginForm("Authenticate", "OTPLogin", FormMethod.Post))
    {
        <div class="container-fluid p-3 m-5 col-lg-6 col-md-6" style="background-position: center; border:1px solid grey; border-radius:10px;">
            <div class="row" style="padding-left:100px;">
                <img src="https://blueocktopus.in/bots/Content/assets/images/Blue-Ocktopus-TLC_white.jpg" width="70%" />

            </div>  @*<h4>Welcome To BlueOcktopus</h4>*@



            <div style="padding-right:10px;" class="row">
                <div class="row pl-5">
                    <div class="col-lg-3 col-md-3">Login Id</div>
                    <div class="col-lg-3 col-md-3">@Html.TextBoxFor(model => model.LoginId, new { @class = "input100" }) </div>
                </div>

            </div>

            <div style="padding-right:10px; margin-top:10px; " class="row">
                <div class="row pl-5">
                    <div class="col-lg-3 col-md-3">Password</div>
                    <div class="col-lg-3 col-md-3">@Html.TextBoxFor(model => model.Password, new { @class = "input100" }) </div>
                </div>

            </div>
            <div style="margin-top:10px;margin-left:5px;text-align:center;"><button type="submit" class="btn btn-primary">Submit</button></div>
        </div>

    }
</div>

