@model OTPPage.ViewModel.OTPViewModel
@{
    ViewBag.Title = "OTPPage";
}

<style>
    #loader {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 1;
        z-index: 1021;
        background: rgba(255, 255, 255, .7);
    }
    .input50 {
        width: 200px;
        margin-bottom: 20px;
        padding: 12px 10px 12px 25px !important;
        border-radius: 25px !important;
        border: solid 1px #e1e1e1;
    }

    .input100 {
        width: 300px;
        margin-bottom: 20px;
        padding: 12px 10px 12px 25px !important;
        border-radius: 25px !important;
        border: solid 1px #e1e1e1;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div class="p-3 m-5 col-lg-6 col-md-6 col-sm-6" style=" border: 1px solid grey; border-radius: 10px; margin-top: 60px;">
    <div class="row" style="padding-right:10px; margin-top:20px;">
        <div class="col-md-4 col-sm-2">
            <b>Group Name</b>
        </div>
        <div class="col-md-4 col-sm-2">
            @Html.DropDownListFor(model => model.tblGroupDetails.GroupName, new SelectList(Model.lstGroupDetails, "Value", "Text"), "Please Select", htmlAttributes: new { @class = "input50", @id = "ddlGroupDetails" })
        </div>
    </div>
    <div style="padding-right:10px;margin-top:20px;" class="row">
        @*<div class="col-lg-3 col-md-3" >*@
        <div class="col-md-4 col-sm-2" >
            <b>Mobile No</b>
        </div>
        <div class="col-md-4 col-sm-2">
            <input type="Text" id="MobileNo" class="input50" />
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="InstanceTable" hidden>
            <thead>
                <tr>
                    <th scope="col" style="text-align:center;">OutletName</th>
                    <th scope="col" style="text-align:center;">Datetime</th>
                    <th scope="col" style="text-align:center;">OTP</th>
                    <th scope="col" style="text-align:center;">Points</th>
                </tr>
                <tr>
                    <td style="text-align:center;" id="Tr1"></td>
                    <td style="text-align:center;" id="Tr2"></td>
                    <td style="text-align:center;" id="Tr3"></td>
                    <td style="text-align:center;" id="Tr4"></td>
                </tr>
            </thead>
            <tbody style="text-align:center;">
            </tbody>
        </table>
    </div>
    <div id="idSubmit" style="margin-top:15px;margin-left:5px;text-align:center;"><button type="submit" class="btn btn-primary">Submit</button></div>


    @*<div id="idReset" style="margin-top:15px;margin-left:5px;text-align:center;" hidden><button type="submit" class="btn btn-primary">Reset</button></div>*@
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/cute-alert-master/cute-alert.js"></script>
<link href="~/Scripts/cute-alert-master/style-alert.css" rel="stylesheet" />
<script>
    $("#idSubmit").click(function () {
        var Mobileno = $("#MobileNo").val();
        var Groupid = $("#ddlGroupDetails").val();
        var FilterData = [];
        item = {};
        item["Mobileno"] = Mobileno;
        item["Groupid"] = Groupid;
        FilterData.push(item);
        var data = JSON.stringify(FilterData);
        $.ajax({
                 type: "POST",
                 url: '@Url.Action("GetOTP", "OTPLogin")',
                 data: '{jsonData: ' + JSON.stringify(data) + '}',
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.OTP != null) {

                        $("#InstanceTable").show();
                        $("#Tr1").html(response.OutletName);
                        $("#Tr2").html(response.Datetime);
                        $("#Tr3").html(response.OTP);
                        $("#Tr4").html(response.Points);
                        //$("#idReset").show();
                        //$("#idSubmit").hide();
                     }

                     else {
                        cuteAlert({
                            type: "error",
                            title: "OOPS...",
                            message: "Details Not Found",
                            buttonText: "Okay"
                        })
                     }
                     $("#divLoader").hide();
                },
                failure: function (response) {
                    $("#divLoader").hide();
                    alert("failure");
                },
                error: function (response) {
                    alert("Error");
                }
            });
    });

    $("#idReset").click(function () {
        var urlLink = "@Url.Action("OTPPage", "OTPLogin")";
        window.location.href = urlLink;
    });

</script>


