
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutITOPS.cshtml";
}

<h2>Bitly</h2>

<div class="app-main__inner">
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content">
            <!--content inner-->

            <div class="container overflow-hidden">
                <div class="multisteps-form__panel shadow p-4 list-box bg-white" id="sec3" data-animation="scaleIn">
                    @*<h4 class="multisteps-form__title" style="color:blue;"></h4><br />*@
                    <div class="multisteps-form__content" style="height: 600px !important">
                        <input type="hidden" id="hdnGroupId" />
                        @using (Html.BeginForm("UploadData", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div style="margin-top: 15px">

                                @Html.TextBox("Data", "", new { type = "file" }) <br />
                                <input type="submit" value="Upload" />  <label style="padding-right:5px;padding-top:10px;">Do not use special characters in FileName</label>
                                @*<div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control" type="file" id="formFile">
                </div>*@
                                @ViewBag.Message
                            </div>
                        }



                        @using (Html.BeginForm("CreateBitly", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div style="padding-top: 5px">
                                <button class="btn btn-primary ml-auto" type="submit" id="btnBitly"> Create Bitly</button>
                                <input type="text" id="txtBitly" value=" @((Session["Bitly"]))">
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#hdnGroupId").val(@Html.Raw(ViewBag.GroupId));
    });
 </script>
