
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_LayoutITOPS.cshtml";
}

<div class="app-main__inner">
    <div class="mb-3 card" style="padding-top:20px;">
        <div class="content">
            <!--content inner-->

            <div class="container overflow-hidden">
                <!--Change Member Name-->
                <div class="multisteps-form__panel shadow p-4 list-box bg-white js-active" id="sec1" data-animation="scaleIn">

                    <h4 class="multisteps-form__title" style="color:blue;">Delete User</h4><br />
                    <div class="multisteps-form__content">
                        <div>
                            <input type="hidden" id="hdnGroupId" />
                            <label style="padding-right:5px;padding-top:10px;">Enter Mobile Number </label>
                            <input type="number" id="txtMobileNo" class="input50" />

                            <label style="padding-right:30px;padding-top:10px;padding-left:30px;"><b>(OR)</b> </label>

                            <label style="padding-right:5px;padding-top:10px;">Enter Card Number </label>
                            <input type="number" id="txtCardNo" class="input50" />
                            <button type="button" id="btnSearchMember1" style="margin-left:15px;margin-top:10px;" class="btn btn-primary">Go</button>
                        </div>
                        <div>

                            <div class="col-md-12 col-lg-12" style="padding-left: 0px !important; float: left;margin-top:30px;">
                                <input type="hidden" id="hdnCustomerId" />
                                <div class="col-md-4 col-lg-4" style="padding-left: 0px !important; margin-bottom: 10px; float: left; ">
                                    <table border="1" cellpadding="5" cellspacing="5">
                                        <tr>
                                            <th colspan="2" style="padding:10px;text-align:center;">Existing Member Details</th>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;">Member Name</td>
                                            <td style="padding:10px;width:150px;"><span style="color:red;" id="spnMemberName"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;">Mobile No</td>
                                            <td style="padding:10px;"><span id="spnMobileno"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;">Old Mobile No</td>
                                            <td style="padding:10px;"><span id="spnOldMobileno"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;">Card No</td>
                                            <td style="padding:10px;"><span id="spnCardNo"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;">Points Balance</td>
                                            <td style="padding:10px;"><span id="spnPtBalance"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;">Enrolled Outlet</td>
                                            <td style="padding:10px;"><span id="spnEnrolledOutlet"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px;">Enrolled On</td>
                                            <td style="padding:10px;">
                                                <span id="spnEnrolledOn"></span>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="button-row mt-5" style="text-align:end;">
                            <button class="btn btn-primary ml-auto mt-3" type="button" title="Next" id="btnDeleteUser" tabindex="20">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnSearchMember1').on("click", function () {
            GetChangeNameData();
        });

        $('#btnDeleteUser').on("click", function () {
            DeleteUser();
        });
        $("#hdnGroupId").val(@Html.Raw(ViewBag.GroupId));

    });
    function GetChangeNameData() {
        if ($('#txtMobileNo').val() == "" && $('#txtCardNo').val() == "") {
            toastr.error('Please enter Mobile Number OR Card Number');
            return false
        }
        if ($('#txtMobileNo').val() != "" && $('#txtCardNo').val() != "") {
            toastr.error('Please enter Mobile Number OR Card Number');
            return false
        }
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetChangeNameDataNew", "Member")',
            data: '{GroupId: ' + JSON.stringify($('#hdnGroupId').val()) + ',MobileNo: ' + JSON.stringify($('#txtMobileNo').val()) + ',CardNo: ' + JSON.stringify($('#txtCardNo').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
            if (result.MemberName != null) {
            $("#spnMemberName").text(result.MemberName);
            $("#spnMobileno").text(result.MobileNo);
            $("#spnOldMobileno").text(result.OldMobileNo);
            $("#spnCardNo").text(result.CardNo);
            $("#spnPtBalance").text(result.PointsBalance);
            $("#spnEnrolledOutlet").text(result.EnrolledOutletName);
            $("#spnEnrolledOn").text(result.EnrolledOn);
            $("#hdnCustomerId").val(result.CustomerId);
            }
            else {
            toastr.error('Member not present. Please check entered Mobile Number OR Card Number');
            $("#spnMemberName").text("");
            $("#spnMobileno").text("");
            $("#spnCardNo").text("");
            $("#spnPtBalance").text("");
            $("#spnEnrolledOutlet").text("");
            $("#spnEnrolledOn").text("");
            $("#hdnCustomerId").val("");
            }
            $("#divLoader").hide();
            },
            error: function (result) {
            console.log(result.responseText)
            $("#divLoader").hide();
            }
        });
    }

    function DeleteUser() {

        cuteAlert({
            type: "question",
            title: "Confirmation",
            message: "Do you want to delete the customer ?",
            confirmText: "Yes",
            cancelText: "No"
        }).then((e) => {
            if (e == ("confirm")) {
                var MemberData = [];
                item = {}
                item["GroupID"] = $("#hdnGroupId").val();
                item["MobileNo"] = $("#txtMobileNo").val();                
                item["RequestedOn"] = $("#dtEnrolledOn1").val();

                MemberData.push(item);
                var data = JSON.stringify(MemberData);
                console.log(data)
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteUserDetailsNew", "Member")',
                    data: '{jsonData: ' + JSON.stringify(data) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        toastr.success("User Deleted Successfully");
                        $("#divLoader").hide();
                    },
                    error: function (result) {
                        console.log(result.responseText)
                    }
                });
            }
        })
    }
</script>


