@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/style.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/Content/cute-alert-master/cute-alert.js"></script>
<link href="~/Content/cute-alert-master/style-alert.css" rel="stylesheet" />

<div >
    <div >
        <meta name="viewport" content="width=devicewidth">
        <table border="2" cellpadding="5" cellspacing="5" id="tblUpdateData2" style="margin-left:50px;margin-top:20px; width:80%;height:100%;">
            <tr>
                <th colspan="2" style="padding: 10px; text-align: center;font-size: medium;">Handwriting Competition (Reg.No) @((ViewBag.RegNo))</th>
                <input  id="hdntemp" hidden value="@(ViewBag.RegNo)"/>
            </tr>
            <tr>
                <td style="padding:10px;width:200px;font-size:medium;">Student Full Name</td>
                <td style="padding:10px;width:200px;">
                    <input type="text" id="txtFullName" class="input50" style="font-size:medium;" />
                </td>
            </tr>
            <tr>
                <td style="padding: 10px; width: 200px;font-size: medium;">Date Of Birth</td>
                <td style="padding:10px;width:200px;">
                    <input type="date" id="txtDOB" class="input50" style="font-size:medium;" />
                </td>
            </tr>
            <tr>
                <td style="padding: 10px; width: 200px;font-size: medium;">Gender</td>
                <td style="padding:10px;width:200px;">
                    <select id="ddlGender" name="Gender" class="input50" style="font-size:medium;">
                        <option>Select</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td style="padding: 10px; width: 200px;font-size: medium;">School Name</td>
                <td style="padding:10px;width:200px;">
                    <select id="ddlSchoolName" class="input50" style="font-size:medium;" />
                    <option>Select</option>
                    <option>Aagarkar School</option>
                    <option>Aahilayadevi School </option>
                    <option>Abhinav English</option>
                    <option>Abhinav Marathi</option>
                    <option>AksharNandan</option>
                    <option>Arya Vidya Mandir Pimpri</option>
                    <option>Balshikshan </option>
                    <option>D.S.K School</option>
                    <option>DES Primary</option>
                    <option>DES Secondary</option>
                    <option>Dhyan Ganga School</option>
                    <option>Dhyanaprabodhini School</option>
                    <option>Dyanada School</option>
                    <option>G.R.Palkar </option>
                    <option>Hujurpaga English Medium </option>
                    <option>Hujurpaga Katraj</option>
                    <option>Hujurpaga Primary</option>
                    <option>Hujurpaga Secondary</option>
                    <option>Jog School</option>
                    <option>Kalmadi School</option>
                    <option>Maharashtra Mandal</option>
                    <option>Millennium School</option>
                    <option>MSGGV Primary</option>
                    <option>MSGGV Secondary</option>
                    <option>Muktangan</option>
                    <option>MVEM</option>
                    <option>MVSEM</option>
                    <option>N.M.shala</option>
                    <option>N.M.V Boys</option>
                    <option>N.M.V Girls</option>
                    <option>N.M.V Primary</option>
                    <option>Nanded City School</option>
                    <option>NEMS</option>
                    <option>New English School Tilak Road</option>
                    <option>New India School</option>
                    <option>Paranjape School</option>
                    <option>Pawar Public School</option>
                    <option>Phule Shala Parvati</option>
                    <option>Ramanbag</option>
                    <option>Renuka Swarup</option>
                    <option>S.P.M</option>
                    <option>S.P.M Public School</option>
                    <option>Sevasadan</option>
                    <option>Springdel School</option>
                    <option>Surya datta School</option>
                    <option>Symbiosis School</option>
                    <option>V.D.Vaidya Shala</option>
                    <option>Vikhe Patil School</option>
                    <option>Vimalabai Garavare</option>
                    <option>Walnut School</option>
                    <option>Others</option>


                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px; width: 200px;font-size: medium;">Class</td>
                <td style="padding:10px;width:200px;">
                    <select id="ddlClass" name="Class" class="input50" style="font-size:medium;">
                        <option>Select</option>
                        <option>1st</option>
                        <option>2nd</option>
                        <option>3rd</option>
                        <option>4th</option>
                        <option>5th</option>
                        <option>6th</option>
                        <option>7th</option>
                        <option>8th</option>
                        <option>9th</option>
                        <option>10th</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;font-size: medium;">Parents Name</td>
                <td style="padding:10px;">
                    <input type="text" id="txtParentsName" class="input50" style="font-size:medium;" />
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;font-size: medium;">WhatsApp No Of Parent</td>
                <td style="padding:10px;">
                    <input type="text" id="txtWhatsAppNo" class="input50" style="font-size:medium;" />
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;font-size: medium;">EmailId Of Parent (Optional)</td>
                <td style="padding:10px;">
                    <input type="text" id="txtEmail" class="input50" style="font-size:medium;" />
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;font-size: medium;">Home Address</td>
                <td style="padding:10px;">
                    <input type="text" id="txtAddress" class="input50" style="font-size:medium;" />
                </td>
            </tr>
        </table>
        <div>
            <input type="button" id="btnSubmit" class="btn btn-primary" style="margin-left: 440px; background-color: #2651be; margin-top:20px;font-size:medium" value="Submit" />
        </div>

    </div>
</div>

<script>
    $("#btnSubmit").on("click", function () {
        /*alert("hello");*/
        Submit();
    });

    $(document).ready(function () {
        RemoveRequiredBorderData();
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $("#txtDOB").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: today,
        });

       
    })

    function Submit() {

        var RegNo = $("#hdntemp").val();
        
            var validationStatus = ValidateData();
            if (validationStatus) {
                if (/^[6789]\d{9,9}$/.test($("#txtWhatsAppNo").val())) {

                    var Data = [];
                    item = {};


                    item["StudentFullName"] = $("#txtFullName").val();
                    item["DateOfBirth"] = $("#txtDOB").val();
                    item["Gender"] = $("#ddlGender").val();
                    item["SchoolName"] = $("#ddlSchoolName").val();
                    item["Class"] = $("#ddlClass").val();
                    item["ParentsName"] = $("#txtParentsName").val();
                    item["WhatsAppNoOfParent"] = $("#txtWhatsAppNo").val();
                    item["EmailIdOfParent"] = $("#txtEmail").val();
                    item["HomeAddress"] = $("#txtAddress").val();
                    item["RegNo"] = RegNo;

                    Data.push(item);
                    var DataStr = JSON.stringify(Data);
                    $("#divLoader").show();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveDetails", "Home")',
                        data: '{jsonData: ' + JSON.stringify(DataStr) + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            console.log(result);
                            /*alert(result);*/
                            if (result == true) {
                                //alert("hello");
                                cuteAlert({
                                    type: "success",
                                    title: "Saved",
                                    message: " Data saved successfully",
                                    buttonText: "Okay"
                                }).then(() => {
                                    var urlLink = "@Url.Action("Index", "Home")";
                                    window.location.href = urlLink;
                                })

                                $("#divLoader").hide();
                            }
                            else {
                                cuteAlert({
                                    type: "error",
                                    title: "Oops..",
                                    message: "There is a problem in saving Data",
                                    buttonText: "Okay"
                                })
                                $("#divLoader").hide();
                            }
                        },
                        error: function (result) {
                            //console.log(result.responseText)
                        }
                    });
                }
                else {

                    cuteAlert({
                        type: "error",
                        title: "Oops..",
                        message: "Invalid MobileNo",
                        buttonText: "Okay"
                    })
                    $("#txtWhatsAppNo").focus();
                    return false;

                }
            }
        }

    function ValidateData() {
        var status = true;
        if ($("#txtFullName").val() == "") {
            $('#txtFullName').css('border-color', 'red');
            status = false;
        }
        if ($("#txtDOB").val() == "") {
            $('#txtDOB').css('border-color', 'red');
            status = false;
        }
        if ($("#ddlGender").val() == "Select") {
            $('#ddlGender').css('border-color', 'red');
            status = false;
        }
        if ($("#ddlSchoolName").val() == "Select") {
            $('#ddlSchoolName').css('border-color', 'red');
            status = false;
        }
        if ($("#ddlClass").val() == "Select") {
            $('#ddlClass').css('border-color', 'red');
            status = false;
        }
        if ($("#txtParentsName").val() == "") {
            $('#txtParentsName').css('border-color', 'red');
            status = false;
        }
        if ($("#txtWhatsAppNo").val() == "") {
            $('#txtWhatsAppNo').css('border-color', 'red');
            status = false;
        }
        //if ($("#txtEmail").val() == "") {
        //    $('#txtEmail').css('border-color', 'red');
        //    status = false;
        //}
        if ($("#txtAddress").val() == "") {
            $('#txtAddress').css('border-color', 'red');
            status = false;
        }

        if (!status) {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Enter required fields",
                buttonText: "Okay"
            })

        }

        return status;
    }

    function RemoveRequiredBorderData() {
        $("#txtFullName").focusout(function () {
            if ($("#txtFullName").val() != "") {
                $('#txtFullName').css('border-color', '');
            }
            else {
                $('#txtFullName').css('border-color', 'red');
            }
        });
        $("#txtDOB").focusout(function () {
            if ($("#txtDOB").val() != "") {
                $('#txtDOB').css('border-color', '');
            }
            else {
                $('#txtDOB').css('border-color', 'red');
            }
        });
        $("#ddlGender").focusout(function () {
            if ($("#ddlGender").val() != "") {
                $('#ddlGender').css('border-color', '');
            }
            else {
                $('#ddlGender').css('border-color', 'red');
            }
        });
        $("#ddlSchoolName").focusout(function () {
            if ($("#ddlSchoolName").val() != "") {
                $('#ddlSchoolName').css('border-color', '');
            }
            else {
                $('#ddlSchoolName').css('border-color', 'red');
            }
        });
        $("#ddlClass").focusout(function () {
            if ($("#ddlClass").val() != "") {
                $('#ddlClass').css('border-color', '');
            }
            else {
                $('#ddlClass').css('border-color', 'red');
            }
        });
        $("#txtParentsName").focusout(function () {
            if ($("#txtParentsName").val() != "") {
                $('#txtParentsName').css('border-color', '');
            }
            else {
                $('#txtParentsName').css('border-color', 'red');
            }
        });
        $("#txtWhatsAppNo").focusout(function () {
            if ($("#txtWhatsAppNo").val() != "") {
                $('#txtWhatsAppNo').css('border-color', '');
            }
            else {
                $('#txtWhatsAppNo').css('border-color', 'red');
            }
        });
        $("#txtAddress").focusout(function () {
            if ($("#txtAddress").val() != "") {
                $('#txtAddress').css('border-color', '');
            }
            else {
                $('#txtAddress').css('border-color', 'red');
            }
        });
    }

  
</script>
