@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/style.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/Content/cute-alert-master/cute-alert.js"></script>
<link href="~/Content/cute-alert-master/style-alert.css" rel="stylesheet" />
<script src="~/Scripts/checkemail.js"></script>

<style>
    .input50 {
        width: 200px;
        margin-bottom: 20px;
        padding: 12px 10px 12px 25px !important;
        border-radius: 25px !important;
        border: solid 1px #e1e1e1;
    }
</style>
<div class="col-lg-12 col-md-12" style=" border: 1px solid grey; border-radius: 10px;">

    <div class="col-lg-12 col-md-12" style="margin-bottom:10px;margin-top:20px;"><img src="https://blueocktopus.in/Logo/Venus-AksharRasik(1).png" alt="Logo" width="25%"><img src="https://blueocktopus.in/Logo/VTSSLOGOCol.jpg" alt="Logo" width="50%"><img src="https://blueocktopus.in/Logo/Asymetric_Logo_Final(1).jpg" alt="Logo" width="25%"></div>
    @*<div class="col-lg-12 col-md-12" style="margin-bottom:10px;margin-top:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://blueocktopus.in/Logo/BUBhandari-1-1.png" alt="Logo" width="25%"><img src="https://blueocktopus.in/Logo/NipponLogo-Layout20-2-22-V.png" alt="Logo" width="25%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://blueocktopus.in/Logo/sapientlogo.png" alt="Logo" width="20%"></div>*@
<div>
    <div><img src="https://blueocktopus.in/Logo/BUBhandari-1-1.png" alt="Logo" width="25%" style="margin-left:30px;"><img src="https://blueocktopus.in/Logo/NipponLogo-Layout20-2-22-V.png" alt="Logo" width="25%" style="margin-left:30px;"><img src="https://blueocktopus.in/Logo/sapientlogo.png" alt="Logo" width="15%" style="margin-left:30px;"></div>
    @*<div><img src="https://blueocktopus.in/Logo/NipponLogo-Layout20-2-22-V.png" alt="Logo" width="25%"></div>*@
    @*<div><img src="https://blueocktopus.in/Logo/sapientlogo.png" alt="Logo" width="25%"></div>*@
</div>

    <div colspan="2" style="padding: 1px; text-align: center;font-size: medium;margin-top:20px;"><h1>Handwriting Competition Form </h1></div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Student's Full Name
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="text" id="txtFullName" class="input50" style="font-size:medium;" />
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Student's Date Of Birth
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="date" id="txtDOB" min="2000-01-01" max="2017-12-31" class="input50" style="font-size:medium;" />
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Gender
        </div>
        <div class="col-lg-9 col-md-9">
            <select id="ddlGender" name="Gender" class="input50" style="font-size:medium;">
                <option>Select</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            School Name(Mentioned in alphabetical order)
        </div>
        <div class="col-lg-9 col-md-9">
            <select id="ddlSchoolName" class="input50" style="font-size:medium;">
                <option>Select</option>
                <option>Aagarkar School</option>
                <option>Aahilayadevi School </option>
                <option>Abhinav English</option>
                <option>Abhinav Marathi</option>
                <option>Ajinkya dedge School</option>
                <option>Akshar Rasik Sulekhan Varg</option>
                <option>AksharNandan</option>
                <option>Arya Vidya Mandir Pimpri</option>
                <option>Balshikshan </option>
                <option>D.S.K School</option>
                <option>DES Primary</option>
                <option>DES Secondary</option>
                <option>Dhyan Ganga School</option>
                <option>Dhyanaprabodhini School</option>
                <option>Dyanada School</option>
                <option>G.R.Palkar </option>
                <option>Hujurpaga English Medium </option>
                <option>Hujurpaga Katraj</option>
                <option>Hujurpaga Primary</option>
                <option>Hujurpaga Secondary</option>
                <option>Jog School</option>
                <option>Kalmadi School</option>
                <option>Maharashtra Mandal</option>
                <option>Millennium School</option>
                <option>Modern School</option>
                <option>MSGGV Primary</option>
                <option>MSGGV Secondary</option>
                <option>Muktangan</option>
                <option>MVEM</option>
                <option>MVSEM</option>
                <option>N.M.shala</option>
                <option>N.M.V Boys</option>
                <option>N.M.V Girls</option>
                <option>N.M.V Primary</option>
                <option>Nanded City School</option>
                <option>NCL School</option>
                <option>NEMS</option>
                <option>New English School Tilak Road</option>
                <option>New India School</option>
                <option>Paranjape School</option>
                <option>Pawar Public School</option>
                <option>Phule Shala Parvati</option>
                <option>Ramanbag</option>
                <option>Renuka Swarup</option>
                <option>S.P.M</option>
                <option>S.P.M Public School</option>
                <option>Sevasadan</option>
                <option>Shishuniketan PVG</option>
                <option>Springdel School</option>
                <option>Surya datta School</option>
                <option>Symbiosis School</option>
                <option>V.D.Vaidya Shala</option>
                <option>Vidya Vikas Vidyalaya</option>
                <option>Vijay Vallabha School</option>
                <option>Vikhe Patil School</option>
                <option>Vimalabai Garavare</option>
                <option>Walnut School</option>
                <option>Others</option>


            </select>
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Class
        </div>
        <div class="col-lg-9 col-md-9">
            <select id="ddlClass" name="Class" class="input50" style="font-size:medium;">
                <option>Select</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>

            </select>
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Parent's Name
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="text" id="txtParentsName" class="input50" style="font-size:medium;" />
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Parent's WhatsApp No
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="text" id="txtWhatsAppNo" class="input50" style="font-size:medium;" />
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Parent's EmailId
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="email" id="txtEmail" class="input50" style="font-size:medium;" />
        </div>
    </div>
    <div style="margin-top:5px;margin-left:0px;" class="row">
        <div class="col-lg-2 col-md-2" style=" font-size: medium;">
            Address
        </div>
        <div class="col-lg-9 col-md-9">
            <input type="text" id="txtAddress" class="input50" style="font-size:medium;" />
        </div>
    </div>
    <div>
        <input type="button" id="btnSubmit" class="btn btn-primary" style="background-color: #2651be; margin-top: 20px; font-size: medium" value="Submit" />
    </div>
</div>
@*<div id="dvthankyou" class="col-lg-9 col-md-9" style=" border: 1px solid grey;font-size:medium;display:none;margin-top:200px;">
      Your registration has been successfully submitted. <br />Thank You for registering your child for Handwriting Competition <br /> "Venus Traders" 
       <div >
         <button type="button" id="btnClear" onclick="return Index();" class="btn btn-primary" style="margin-right: 10px; background-color:black;font-size:medium;margin-top:20px;">Okay</button>
       </div>
</div>*@






<script>
    $("#btnSubmit").on("click", function () {
        /*alert("hello");*/
        Submit();
    });

    $("#txtWhatsAppNo").on("focusout", function () {
       /* alert((/^[6789]\d{9,9}$/.test($("#txtWhatsAppNo").val())));*/
        if ((/^[6789]\d{9,9}$/.test($("#txtWhatsAppNo").val()) == false))

        {
            cuteAlert({
                type: "error",
                title: "Invalid MobileNo",
                message: "Please check MobileNo",
                confirmText: "Okay"
            })
        }

        $("#divLoader").hide();
    });



    $("#txtEmail").on("focusout", function () {

        var val = $("#txtEmail").val();
        var status = ValidateEmail(val);

        if (status == 1) {
            cuteAlert({
                type: "error",
                title: "Invalid Email Id",
                message: "Please check email id",
                buttonText: "Okay"
            })
        }

        $("#divLoader").hide();
    });



    $(document).ready(function () {
        RemoveRequiredBorderData();
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());



    })

    function Submit() {

        var RegNo = $("#hdntemp").val();


            var validationStatus = ValidateData();
        if (validationStatus) {

                if (/^[6789]\d{9,9}$/.test($("#txtWhatsAppNo").val())) {

                    var Data = [];
                    item = {};

                    item["StudentFullName"] = $("#txtFullName").val();
                    item["DateOfBirth"] = $("#txtDOB").val();
                    item["Gender"] = $("#ddlGender").val();
                    item["SchoolName"] = $("#ddlSchoolName").val();
                    item["Class"] = $("#ddlClass").val();
                    item["ParentsName"] = $("#txtParentsName").val();
                    item["WhatsAppNoOfParent"] = $("#txtWhatsAppNo").val();
                    item["EmailIdOfParent"] = $("#txtEmail").val();
                    item["HomeAddress"] = $("#txtAddress").val();
                    item["RegNo"] = RegNo;

                    Data.push(item);
                    var DataStr = JSON.stringify(Data);
                    $("#divLoader").show();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveDetails", "Home")',
                        data: '{jsonData: ' + JSON.stringify(DataStr) + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            console.log(result);
                            /*alert(result);*/
                            if (result.ResponseCode == "0") {
                                //alert("hello");
                                cuteAlert({
                                    type: "success",
                                    title: "Success",
                                    message: "Your registration has been successfully submitted.<br/> Thank You for registering your child for Handwriting Competition <br/> <b>Venus Traders<b>",
                                    buttonText: "Okay"

                                }).then(() => {
                                    //$("#dvClass").hide();
                                    //$("#dvthankyou").show();
                                    var urlLink = "@Url.Action("Index", "Home")";
                                    window.location.href = urlLink;
                                });

                                $("#divLoader").hide();
                            }
                            else if (result.ResponseCode == "1") {
                                cuteAlert({
                                    type: "error",
                                    title: "Oops..",
                                    message: "This number is already registered. Please use another mobile number for registration",
                                    buttonText: "Okay"
                                })
                                $("#divLoader").hide();

                            }
                            else {
                                cuteAlert({
                                    type: "error",
                                    title: "Oops..",
                                    message: "There is a problem in saving Data",
                                    buttonText: "Okay"
                                })
                                $("#divLoader").hide();
                            }
                        },
                        error: function (result) {
                            //console.log(result.responseText)
                        }
                    });
                }
                else {

                    //cuteAlert({
                    //    type: "error",
                    //    title: "Oops..",
                    //    message: "Invalid MobileNo",
                    //    buttonText: "Okay"
                    //})
                    $("#txtWhatsAppNo").focus();
                    return false;

                }

            }
        }

    function ValidateData() {
        var status = true;
        if ($("#txtFullName").val() == "") {
            $('#txtFullName').css('border-color', 'red');
            status = false;
        }
        if ($("#txtDOB").val() == "") {
            $('#txtDOB').css('border-color', 'red');
            status = false;
        }
        if ($("#ddlGender").val() == "Select") {
            $('#ddlGender').css('border-color', 'red');
            status = false;
        }
        if ($("#ddlSchoolName").val() == "Select") {
            $('#ddlSchoolName').css('border-color', 'red');
            status = false;
        }
        if ($("#ddlClass").val() == "Select") {
            $('#ddlClass').css('border-color', 'red');
            status = false;
        }
        if ($("#txtParentsName").val() == "") {
            $('#txtParentsName').css('border-color', 'red');
            status = false;
        }
        if ($("#txtWhatsAppNo").val() == "") {
            $('#txtWhatsAppNo').css('border-color', 'red');
            status = false;
        }
        //if ($("#txtEmail").val() == "") {
        //    $('#txtEmail').css('border-color', 'red');
        //    status = false;
        //}
        if ($("#txtAddress").val() == "") {
            $('#txtAddress').css('border-color', 'red');
            status = false;
        }

        if (!status) {
            cuteAlert({
                type: "error",
                title: "Oops..",
                message: "Please Enter required fields",
                buttonText: "Okay"
            })

        }

        return status;
    }

    function RemoveRequiredBorderData() {
        $("#txtFullName").focusout(function () {
            if ($("#txtFullName").val() != "") {
                $('#txtFullName').css('border-color', '');
            }
            else {
                $('#txtFullName').css('border-color', 'red');
            }
        });
        $("#txtDOB").focusout(function () {
            if ($("#txtDOB").val() != "") {
                $('#txtDOB').css('border-color', '');
            }
            else {
                $('#txtDOB').css('border-color', 'red');
            }
        });
        $("#ddlGender").focusout(function () {
            if ($("#ddlGender").val() != "") {
                $('#ddlGender').css('border-color', '');
            }
            else {
                $('#ddlGender').css('border-color', 'red');
            }
        });
        $("#ddlSchoolName").focusout(function () {
            if ($("#ddlSchoolName").val() != "") {
                $('#ddlSchoolName').css('border-color', '');
            }
            else {
                $('#ddlSchoolName').css('border-color', 'red');
            }
        });
        $("#ddlClass").focusout(function () {
            if ($("#ddlClass").val() != "") {
                $('#ddlClass').css('border-color', '');
            }
            else {
                $('#ddlClass').css('border-color', 'red');
            }
        });
        $("#txtParentsName").focusout(function () {
            if ($("#txtParentsName").val() != "") {
                $('#txtParentsName').css('border-color', '');
            }
            else {
                $('#txtParentsName').css('border-color', 'red');
            }
        });
        $("#txtWhatsAppNo").focusout(function () {
            if ($("#txtWhatsAppNo").val() != "") {
                $('#txtWhatsAppNo').css('border-color', '');
            }
            else {
                $('#txtWhatsAppNo').css('border-color', 'red');
            }
        });
        $("#txtAddress").focusout(function () {
            if ($("#txtAddress").val() != "") {
                $('#txtAddress').css('border-color', '');
            }
            else {
                $('#txtAddress').css('border-color', 'red');
            }
        });
    }

    function Index()
    {
        var urlLink = "@Url.Action("Index", "Home")";
        window.location.href = urlLink;
    }



</script>
